<html lang="ko">
	<head>
		<meta charset="utf-8">
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script src="https://kit.fontawesome.com/ad41bee873.js" crossorigin="anonymous"></script>
		<link href="../css/group.css?after" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" crossorigin="anonymous" />
		<script>
            $(document).ready(function(){
                // 모달 제어 (깜빡이는거 나중에 해결 예정)
                $('.my_layer').hide(); // 설정
                $('.out_modal_wrap').hide(); // 모임나가기

                // 수정버튼 누르기전 까진 안보임
                document.getElementById('input_title').style.display = "none";

                // 해당 그룹의 정보 세팅
                selectedGroupInfo();
            });

            // 해당 그룹의 정보 세팅
            function selectedGroupInfo(){
                // 대표사진 불러오기
				$.ajax({
					url : "/selectedGroupInfo",
					type : "POST",
					dataType : "JSON", //"JSON"
					data : {"groupSn" : window.parent.$('#groupSn').val()},
                    success:function(res){
						if(res.Status == "S"){
                            console.log(res.result[0][0]);
                            //fileList += '<img src="../uploadedFiles/' + res[i][1] + '" id="img_' + res[i][8] + '_' + res[i][10] + '_' + res[i][11] + '" class="img_item"/>\n';
                            document.getElementById('preview').src = '../uploadedGroupFiles/'+res.result[0][0];
                            $(".groupNm").text(window.parent.$('#groupNm').val());
                            $(".emplyrNm").text(window.parent.$('#emplyrNm').val());
                            $(".emplyrId").text(window.parent.$('#emplyrId').val());
						} else if(res.Status == "F"){
							alert("대표 사진 불러오던 중 오류가 발생하였습니다.");
						}
					},
					error:function(e){
						alert("대표 사진 불러오던 중 오류가 발생하였습니다.(ajax에러)");
					}
				})

                
            }

            //설정 아이콘
            function setting(){
                //설정 모달
                $('.my_layer').show();
                // 모임나가기 모달
                $('.out_modal_wrap').hide();
            }

            //모임 나가기 버튼 클릭 시 확인 창
            function outGroupBtn(){
                $('.out_modal_wrap').show();
            };
            
            // 모임나가기 확인 버튼 클릭
            function outGroup(){
                var emplyrSn = window.parent.$('#emplyrSn').val();
                var groupSn = window.parent.$('#groupSn').val();
                
                $.ajax({
					url : "/updateGroupUseAt",
					type : "POST",
					dataType : "JSON", //"JSON"
					data : {"emplyrSn" : emplyrSn, "groupSn" : groupSn},
					success:function(result){
						if(result.Status == "S"){
							//메뉴리스트 업데이트
                            alert("모임 나가기가 완료되었습니다.");
						} else if(result.Status == "F"){
							alert("모임 나가기 중 오류가 발생하였습니다.");
						}
					},
					error:function(e){
						alert("모임 나가기 중 오류가 발생하였습니다.(ajax에러)");
					}
				})
            }

            // 확인 체크박스 변경 이벤트
            function chkBtn(){
                var chkBtn = document.getElementById('confirm_apply').checked;
                if(chkBtn == true){   // 확인버튼 활성화
                    document.getElementById('okBtn').disabled = false;
                } else {    // 확인버튼 비활성화
                    document.getElementById('okBtn').disabled = true;
                }
            }

            // 취소 버튼 클릭 이벤트
            function cancelBtn(data){
                if(data == "out"){
                    // 모임나가기 모달 닫기
                    $('.out_modal_wrap').hide();
                } else if (data == "setting") {
                    // 설정 모달 닫기
                    $('.my_layer').hide();
                    
                    document.getElementById('input_title').style.display = "none";
                    document.getElementById('title_text').style.display = "block";
                }
            }

            // 수정 아이콘 클릭이벤트
            function edit_box(){
                document.getElementById('input_title').style.display = "block";
                document.getElementById('title_text').style.display = "none";

                //  클릭하면 그룹명 수정에 포커스
                var textarea = document.getElementById("textarea");
                textarea.focus();
            }

            // 그룹명, 그룹대표사진 수정 후 변경작업
            function okBtnClick(){
                var emplyrSn = window.parent.$('#emplyrSn').val();
                var groupSn = window.parent.$('#groupSn').val();
                var data = document.getElementById("textarea").value;
                
                /*
                if (data.length == 0){
                    alert('모임명을 입력하지 않았거나 수정하지 않았습니다.');
                    return;
                }*/

                var formData = new FormData();
				formData.append('groupImg', $('#fileUpload')[0].files[0]);
				formData.append('groupSn', groupSn);
                formData.append('data', data);

                $.ajax({
					url : "/updateGroupSet",
					type : "POST",
                    processData : false,
					contentType : false,
					async : false,
					enctype: 'multipart/form-data',
					dataType : "JSON", //"JSON"
                    data : formData,
					success:function(result){
                        console.log(result);
                        if(result.Status == "L"){
                            alert("그룹 리더만 수정이 가능합니다.");
                        } else if(result.Status == "S"){
							alert("수정이 완료되었습니다.");
                            // 메뉴 재조회
                            window.parent.mygroup();
                            // 그룹 재조회

						} else if(result.Status == "F"){
                            alert("그룹명 변경 또는 대표사진 변경 중 오류가 발생하였습니다.");
                        }
					},
					error:function(e){
						alert("그룹명 변경 또는 대표사진 변경 중 오류가 발생하였습니다.(ajax에러)");
					}
				})
            }

            // textarea 내에서 엔터키 제한
            function chkEnter(){
                if(event.keyCode == 13){
                    event.returnValue = false;
                }
            }
            
            // 그룹 대표 사진 업로드 전 미리보기
            function readURL(input) {
                
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function(e) {
                        document.getElementById('preview').src = e.target.result;
                    };
                    reader.readAsDataURL(input.files[0]);
                } else {
                    document.getElementById('preview').src = "";
                }
            }
		</script>
	</head>
	<body>
        <div>
            <input multiple="" type="file" autocomplete="off" tabindex="-1" style="display: none;">
            <div id="content" style="left: 200px;">
                <div class="drag_layer" style="display: none; left: 0px;">
                    <div class="drag_cont">
                        <div class="drag_img">
                            <img class="left-doodle" src="https://ssl.pstatic.net/static/pwe/ndrive/deskhome/upload_img1.png">
                            <img class="right-doodle" src="https://ssl.pstatic.net/static/pwe/ndrive/deskhome/upload_img2.png">
                        </div>
                        <p class="drag_txt">
                            <span class="blind">파일을 여기에 끌어다 놓으면 파일 올리기가 바로 시작됩니다</span>
                        </p>
                    </div>
                </div>
                <div class="together_cont side_none">
                    <div class="task_area_wrap">
                        <div class="task_area">
                            <div class="cmn_promotion_image">
                                <a class="link_banner">
                                    <!--<img width="464" height="49" title="폴더 링크 공유로 공동 작업하기" src="https://ssl.pstatic.net/static/MYBOX/mybox_pc_banner_linkshare.png">
                                    <img width="36" height="36" title="자세히 보기" alt="자세히 보기" src="https://ssl.pstatic.net/static/MYBOX/Rectangle.png">-->
                                </a>
                                <p class="closing_area">
                                    <!--<input id="check_later_type2" type="checkbox">
                                    <label for="check_later_type2">7일 동안 보지 않음</label>-->
                                </p>
                            </div>
                            <div class="task_together">
                                <div class="together_menu">
                                    <ul>
                                        <li class="menu_story selected"><a>이야기</a></li>
                                        <li class="menu_photo"><a>사진/동영상</a></li>
                                    </ul>
                                </div>
                                <div class="together_my">
                                    <a class="my_task photo" title="사진 추가하기">
                                        <i class="fa-sharp fa-solid fa-camera"></i>
                                    </a>
                                    <div style="display: inline-block;">
                                        <a class="my_task member" title="멤버">
                                            <i class="fa-solid fa-user-group"></i>
                                        </a>
                                    </div>
                                    <div style="display: inline-block;">
                                        <a class="my_task set" title="설정" onclick="setting()">
                                            <i class="fa-solid fa-gear"></i>
                                        </a>
                                        <div class="my_layer my_layer_set" style="display: block;">
                                            <h4 class="my_tit">
                                                <span class="tit_txt">
                                                    <span class="txt">모임설정</span>
                                                </span>
                                            </h4>
                                            <div class="ly_toge_content">
                                                <div class="toge_add_group">
                                                    <div class="toge_add_thum">
                                                        <span class="add_pho add_pho_v2">
                                                            <img id="preview" src="https://nphotogroup-phinf.pstatic.net/20221123_287/4555084_1669186348727S1Vmq_PNG/group_cover_a.png?type=ff120_120" height="120" width="120">
                                                            <span class="add_photo_ic">사진</span>
                                                            <label for="fileUpload">
                                                                <span class="blind">사진 선택</span>
                                                            </label>
                                                            <input type="file" id="fileUpload" name="groupImg" onchange="readURL(this);">
                                                        </span>
                                                    </div>
                                                    <div class="toge_add_edit">
                                                        <div class="edit_box" onclick="edit_box()">
                                                            <span class="title_text" id="title_text"><span class="groupNm"></span><em class="ic_edit"></em></span>
                                                            <span class="input_title" id="input_title">
                                                                <textarea maxlength="15" id="textarea" onkeypress="chkEnter()"></textarea>
                                                                <span class="line"></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <a class="btn_mem_out" onclick="outGroupBtn()">모임 나가기</a>
                                                </div>
                                                <div class="btn_area">
                                                    <button type="button" onclick="okBtnClick()"><strong>확인</strong></button>
                                                    <button type="button" onclick="cancelBtn('setting')">취소</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="out_modal_wrap" style="display: block; user-select: none; line-height: 716px; transition: line-height 100ms ease-out 0s;">
                                            <div class="dh_layer" style="min-width: 300px;">
                                                <div class="type_c">
                                                    <div class="wrap_pop">
                                                        <form>
                                                            <fieldset>
                                                                <legend>안내 메세지</legend>
                                                                <div class="content">
                                                                    <span class="bu_q">
                                                                    </span>
                                                                    <h1>
                                                                        <span class="ellipsis" title="test"><span class="groupNm"></span></span> 모임에서 정말 나가시겠습니까?
                                                                    </h1>
                                                                    <div class="desc3">
                                                                        <span class="emplyrNm"></span>
                                                                        <span class="emplyrId"></span> 님이<br>
                                                                        우리 <span class="groupNm"></span> 모임에 올린<br>모든 파일과 게시글이 삭제되고,
                                                                        <br>더 이상 이 모임에 들어오실 수 없습니다.<br>댓글은 삭제되지 않습니다.
                                                                    </div>
                                                                    <div class="desc4">
                                                                        <input type="checkbox" class="input_check" id="confirm_apply" onchange="chkBtn()">
                                                                        <label for="confirm_apply">내용을 확인했습니다.</label>
                                                                    </div>
                                                                </div>
                                                                <div class="footer">
                                                                    <button type="button" id="okBtn" class="" disabled="" onclick="outGroup()">
                                                                        <span class="tx">확인</span>
                                                                    </button>&nbsp;
                                                                    <button type="button" onclick="cancelBtn('out')">
                                                                        <span class="tx">취소</span>
                                                                    </button>
                                                                </div>
                                                                <div class="pop_close">
                                                                    <a class="bu_close_p" onclick="cancelBtn('out')">
                                                                        <span class="blind">닫기</span>
                                                                    </a>
                                                                </div>
                                                            </fieldset>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content_box _together_scroll">
                        <div class="lst_pt">
                            <div class="together_wrap">
                                <div class="together_area" style="opacity: 1;">
                                    <div class="together_group">
                                        <div class="together_layout">
                                            <div class="together_section writing">
                                                <div class="toge_story_list">
                                                    <div class="user_thum">
                                                        <img src="https://profile-phinf.pstatic.net/45316/26355107ae9c00e58db78ad4799d69321ac3572d6970d6c6dc7ed341db28dc89.jpg?nocache=1672671600000&amp;type=f160_160" width="55" height="55">
                                                    </div>
                                                    <div class="together_writing">
                                                        <div class="write_box">
                                                            <div class="textarea_input">
                                                                <label for="write_area">글입력</label>
                                                                <div class="textarea">
                                                                <textarea placeholder="멤버와 함께 나눌 이야기를 올려주세요!" id="write_area" rows="1" style="max-height: 144px; overflow-x: hidden; overflow-wrap: break-word; height: 18px;">
                                                                </textarea>
                                                            </div>
                                                        <div class="">
                                                    </div>
                                                    <div class="write_submit">
                                                        <div class="write_btn_group">
                                                            <a class="b_photo"><span class="ic_ph"></span>사진</a>
                                                            <a class="b_video"><span class="ic_ph"></span>동영상</a>
                                                            <a class="b_audio"><span class="ic_ph"></span>오디오</a>
                                                    </div>
                                                    <button class="write_type cancel">취소</button>
                                                    <button class="write_type up">올리기</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="together_section">
                                <div class="notification">
                                    <div class="noti_box_v2">
                                        <div class="start_togeth">
                                            <p><img src="https://ssl.pstatic.net/static/pwe/cloud/pc/group_welcome.png" height="145" alt=""></p>
                                            <p class="date">2022.11.23</p>
                                            <h3 class="title">
                                                <strong class="point_3675c7"><span class="emplyrNm"></strong>님이&nbsp;
                                                <strong><span class="groupNm"></span></strong> 모임을 시작합니다.
                                            </h3>
                                            <p class="text">MYDRIVE에 저장되어 있는 우리 아기 사진, 가족 여행 사진,<br>멋진 야경 사진 등 일상과 추억을 가족, 친구와 함께 나눠보세요!<br>멤버는 최대 200명까지 초대할 수 있습니다.</p>
                                            <a class="my_btn_member">멤버초대</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="reload_area"></div>
                        </div>
                    </div>
                    <div class="together_right">
                        <div class="invitation_side_wrap">
                            <div class="invitation_side fixed">
                                <div class="invitation_box">
                                    <h3 class="invitation_tit"><strong>'<em><span class="groupNm"></span></em>'&nbsp;</strong>멤버와 이 사진을 함께 보세요.</h3>
                                    <div>
                                        <div>
                                            <h4><a href="#/photo/all">최근 올린 사진 (5)</a></h4>
                                            <a class="more_invitation" href="#/photo/all">
                                            <ul class="invitation_photo layout5">
                                                <li class="item grid0">
                                                    <img src="https://thumb1.photo.mybox.naver.com/3472495530733629005?type=ff52_43&amp;nocache=5236120301">
                                                </li>
                                                <li class="item grid1">
                                                    <img src="https://thumb1.photo.mybox.naver.com/3472495530733427532?type=ff52_43&amp;nocache=4636120301">
                                                </li>
                                                <li class="item grid2">
                                                    <img src="https://thumb1.photo.mybox.naver.com/3472495530724238924?type=ff52_43&amp;nocache=4636120301">
                                                </li>
                                                <li class="item grid3">
                                                    <img src="https://thumb1.photo.mybox.naver.com/3472495530717829453?type=ff52_43&amp;nocache=4036120301">
                                                </li>
                                                <li class="item grid4">
                                                    <img src="https://thumb1.photo.mybox.naver.com/3472495530717653836?type=ff104_87&amp;nocache=3836120301">
                                                </li>
                                            </ul>
                                            <span class="more_invitation_bg">더보기</span>
                                            </a>
                                            <a class="invi_btn"><span class="i_m"></span>함께보기</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</body>
</html> 
