<html lang="ko">
	<head>
		<meta charset="utf-8">
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script src="https://kit.fontawesome.com/ad41bee873.js" crossorigin="anonymous"></script>
		<link href="../css/groupUpload.css?after" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" crossorigin="anonymous" />
		<script>
            $(document).ready(function(){
                var popType = $("#popType").val();
                myPictureList('ALL', popType);    // 업로드용 내 모든사진 조회
			});
			
			// 닫기 버튼
			function closeBtn(){
                $("input:checkbox[name=uploadChkbox]").prop("checked", false);
				$("#chk_length").text("0");
				window.parent.closeBtn();
			};

			// 년도별 정렬(토글)
			function sortBtn(){
				$('#ly_task').toggle();
			};

            function myPictureList_type(type){
                var popType = $("#popType").val();
                myPictureList(type, popType);
            }

			// 내사진 보기(업로드용)
			function myPictureList(type, popType){
                /*
                type    : ALL(전체조회)/BK(즐겨찾기)
                popType : image(사진업로드)
                */
				var emplyrSn = window.parent.$('#emplyrSn').val();
                var groupSn = window.parent.$('#groupSn').val();
				
				$.ajax({
					url : "/myPictureList",
					type : "POST",
					dataType : "JSON", //"JSON"
					data : {"emplyrSn" : emplyrSn, "groupSn" : groupSn, "type" : type, "popType" : popType},
					success:function(res){
						if(res.Status == "S"){
							document.getElementById("total_length").value = res.result.length;
							var content = "";

							for(var i=0; i<res.result.length; i++){
                                content += '<li class="mypicture">'
									+ '<div class="item"><a><img src="..'+res.result[i][1]+'/'+res.result[i][2]
									+ '" alt="'+res.result[i][3]+'" style="width:100%; height:100%;"></a>'
									+ '<span class="checkbox">'
									+ '<input type="checkbox" name="uploadChkbox" value="'+res.result[i][0]+'" id="uploadChkbox_'+i+'" onclick="check()">'
									+ '<label for="uploadChkbox">선택</label></span></div></li>';
							}
                            $('#photo_list').html(content);

                            // 오우 너무 안좋은 방법인거같아..
                            for(var i=0; i<res.result.length; i++){
                                if(res.result[i][4] == window.parent.$('#groupSn').val()){    // 해당 그룹에 등록이 되어있음
                                    var id = '#uploadChkbox_'+i;
                                    $(id).attr("disabled", true);
                                }
                            }

						} else if(res.Status == "F"){
							alert('사진을 불러오던 도중 오류가 발생하였습니다.');
						}						                        
					},
					error:function(e){
						alert("사진을 불러오던 도중 오류가 발생하였습니다.(ajax에러)");
					}
				})
			};

            // 사진 체크박스 클릭 이벤트
            function check(type){
                // 선택취소버튼
				if (type == "cancel"){ 
					// '0'개 선택으로 변경
					$("#chk_length").text("0");
					
					// 모든 체크 해제
					$("input:checkbox[name=uploadChkbox]").prop("checked", false);
					
					// 첨부하기 버튼 disabled
					$("#upload").attr("disabled", true);
					$("#upload").css("background-color","#A9BCF5");
				} else { //사진 체크박스 클릭
                    var chk_length = $('input:checkbox[name=uploadChkbox]:checked').length;
					$("#chk_length").text(chk_length);

					if(chk_length > 0){
						$("#upload").attr("disabled", false); //해제
						$("#upload").css("background-color","#4078ff");
					} else {
						$("#upload").attr("disabled", true);
						$("#upload").css("background-color","#A9BCF5");
                    }
                }
            }
			
			// 첨부하기 버튼 클릭 이벤트
			function groupUpload(){
				var emplyrSn = window.parent.$('#emplyrSn').val();
                var groupSn = window.parent.$('#groupSn').val();

                var total_length = document.getElementById("total_length").value;
				var fileSnList = {};
				
                // 선택된 파일 담기
				for(var i=0; i<total_length; i++){
					var chkSn = $("input[type=checkbox][id=uploadChkbox_"+i+"]:checked").val();
					if(typeof chkSn != 'undefined'){
						fileSnList += ','+chkSn;
					}
				}

				$.ajax({
					url : "/groupUpload",
					type : "POST",
					dataType : "JSON", //"JSON"
					data : {"emplyrSn" : emplyrSn, "fileSnList" : fileSnList, "groupSn" : groupSn},
					success:function(res){
						if(res.Status == "S"){
							alert('사진 업로드가 완료되었습니다.');

                            // 업로드 팝업 닫기
                            window.parent.closeBtn();

                            // 업로드 후 사진 파트로 이동
                            window.parent.changePart('picture');

                            // 업로드 한 사진 재조회
                            window.parent.groupPictureList();

						} else if(res.Status == "F"){
							alert('첨부 도중 오류가 발생하였습니다.');
						}						                        
					},
					error:function(e){
						alert("첨부 도중 오류가 발생하였습니다.(ajax에러)");
					}
				})
			}

            // 전체 선택
            function check_all(){
                var checked = document.getElementById('whole_selector').checked;

                if(checked == true){
                    var total_length = document.getElementById("total_length").value;
                    for(var i=0; i<total_length; i++){
                        var id = 'uploadChkbox_'+i;
                        var disabled = document.getElementById(id).disabled;
                        
                        if(disabled == false){
                            document.getElementById(id).checked = true;
                        } else {
                            document.getElementById(id).checked = false;
                        }
                    }

                    // 전체 체크박스 클릭 이벤트
                    check();
                } else {
                    $("input:checkbox[name=uploadChkbox]").prop("checked", false);

                    // 전체 체크박스 클릭 이벤트
                    check('cancel');
                }
            };

            // index화면으로
            function goHome(){
                window.parent.document.getElementById('iframe_photo').setAttribute('style', 'visibility:hidden;');
                window.parent.document.getElementById('iframe_story').setAttribute('style', 'visibility:hidden;');
                window.top.document.location.href="/";
            };
		</script>
	</head>
    <body style="user-select: none; -ms-user-select: none">
		<input type="hidden" id="total_length" name="chk_length" value="" />
        <input type="hidden" id="popType" name="popType" value= <%= popType %> >
        <div id="mini_wrap" class="mini_wrap">
            <div class="mini_header">
                <h1 class="mi_logo">
                    <a onclick="goHome();" style="cursor: pointer;">
                        <i class="fa-solid fa-cloud"></i>MYDRIVE
                    </a>
                </h1>
                <div class="btn_group">
                    <button type="button" class="btn_close" onclick="closeBtn();" >
                        <span class="blind">닫기</span>
                    </button>
                </div>
            </div>
            <div class="mini_container">
                <!--
                <div id="nav_lnb" style="width: 190px;">
                    <div class="nav_lnb_scroll" style="display: block;">
                        <div class="lnb_area">
                            <div class="lnb_box">
                                <ul class="lnb_list">
                                    <li class="">
                                        <a class="menu_item">사진
                                            <span class="ico_fold">
                                                <span class="blind">목록 닫기</span>
                                            </span>
                                        </a>
                                        <div class="foldable_menu">
                                            <ul class="lnb_list photo">
                                                <li class="">
                                                    <a class="all menu_item">모든 사진</a>
                                                </li>
                                                <li class="selected">
                                                    <a class="album menu_item">앨범</a>
                                                </li>
                                                <li class="">
                                                    <a class="folder menu_item">사진 폴더</a>
                                                </li>
                                                <li class="">
                                                    <a class="special menu_item">스토리</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="split_bar " style="z-index: 100; cursor: pointer;"></div>
                </div>
                <div id="content" style="left: 190px;">-->
                <div id="content">
                    <div class="task_area_wrap">
                        <div class="task_area">
                            <div class="task_bottom_area">
                                <div class="task_btn_area">
                                    <span id="check_all" class="check_all" onclick="check_all();">
                                        <input type="checkbox" id="whole_selector" class="input_check">
                                        <label for="whole_selector">
                                            <span class="blind">모두선택</span>
                                        </label>
                                    </span>
                                    <ul class="task_tab_list gubun_list">
                                        <li class="selected">
                                            <a onclick="myPictureList_type('ALL')">전체</a>
                                        </li>
                                        <li class="gubun_list">
                                            <a onclick="myPictureList_type('BK')">즐겨찾기</a>
                                        </li>
                                    </ul>
                                </div>                                
                                <div class="task_view_area">
                                    <span class="task_text select"><span id="chk_length">0</span>개 선택</span>
                                    <button type="button" class="btn_task" onclick="check('cancel');">선택 취소</button>
                                    <button type="button" id="upload" class="btn_task highlight" style="background-color: #A9BCF5;" disabled onclick="groupUpload();">첨부하기</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="phot_h_tit">
                        <div class="photo_sort">
                            <a class="sort_title">촬영일별 보기<i class="fa-solid fa-angle-right icon"></i></a>
                            <div class="sort_cover open">
                                <a class="btn_sort" title="전체 년도" onclick="sortBtn();" >전체 년도</a>
                                <div id="ly_task" class="ly_task" style="display : none;">
                                    <ul class="sort_list">
                                        <li class="selected">
                                            <a>전체</a>
                                        </li>
                                        <li class=""><a>2023년</a></li>
                                        <li class=""><a>2022년</a></li>
                                        <li class=""><a>2021년</a></li>
                                        <li class=""><a>2020년</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="array_cover">
                            <div class="array_cover">
                                <select name="orderBy" id="sortSbBox" class="listSbBox">
                                  <option value="asc" selected="selected">등록일-최신순</option>
                                  <option value="desc">등록일-오래된순</option>
                                  <option value="name">이름순</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="content_box">
                        <div style="transform: translateZ(0px); will-change: auto; height: 100%;">
                            <div class="lst_pt"><div class="all_photo_list_area year">
                                <div class="all_photo_box">
                                    <h4 class="photo_title">
                                        <input type="checkbox" class="chk" id="2022">
                                        <label for="2022" class="chk_label">2022년</label>
                                    </h4>
                                    <div style="margin-bottom: 10px;">
                                        <span style="padding-left: 40px; font-size: 13px;">※ 이미 등록된 사진은 중복 등록 할 수 없습니다.</span>
                                    </div>
                                    <div style="opacity: 1;">
                                        <ul id="photo_list" class="photo_list" style="height: 100%;"></ul>
                                    </div>
                                </div>
                                <!--<div style="width: 100%; height: 1px;"></div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="toast_container short-animated fadeOut" style="z-index: 10020; visibility: hidden;">
                <div class="alert_inner">
                    <span class="txt_box ellipsis"></span>
                    <button type="button" class="btn_alert_close">
                        <span class="blind">닫기</span>
                    </button>
                </div>
            </div>
        </div>
    </body>
</html>