<html lang="ko">
	<head>
		<meta charset="utf-8">
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script src="https://kit.fontawesome.com/ad41bee873.js" crossorigin="anonymous"></script>
		<link href="../css/group.css?after" rel="stylesheet" type="text/css">
        <link href="../css/menu.css?after" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" crossorigin="anonymous" />
		<script>
            $(document).ready(function(){
                // 대표사진 및 그룹명 불러오기
                var groupSn = window.parent.$('#groupSn').val();
                var emplyrSn = window.parent.$('#emplyrSn').val();

                if(groupSn == '' || groupSn == null){
                    groupSn = window.parent.$('#groupSn_invite').val();
                }               
                
                document.getElementById("emplyrSn").value = emplyrSn;
                document.getElementById("groupSn").value = groupSn;

                // 모달 제어 (깜빡이는거 나중에 해결 예정)
                $('#setting_modal').hide(); // 설정
                $('.out_modal_wrap').hide(); // 모임나가기
                $('#member_modal').hide(); // 멤버

                // 수정버튼 누르기전 까진 안보임
                document.getElementById('input_title').style.display = "none";

                // 해당 그룹의 정보 세팅
                selectedGroupInfo();

				// 스토리/사진 탭 
				changePart('story');

                // 타임라인 조회
                groupPictureList();

                // 멤버초대 모달
                $('#inviteMember').hide();

                // 댓글 삭제 버튼 X
                deleteBtn_control();

                // 스토리 올리기 버튼
                submit_timeline_control();
            });
            
            // 스토리/사진 탭
			function changePart(part){
				if(part == "story"){
					$('#story_part').show();
					$('#picture_part').hide();
				} else if (part == "picture"){
					$('#story_part').hide();
					$('#picture_part').show();
				}
			}
            
            // 해당 그룹의 정보 세팅
            function selectedGroupInfo(){
                var groupSn = $('#groupSn').val();

				$.ajax({
					url : "/selectedGroupInfo",
					type : "POST",
					dataType : "JSON", //"JSON"
					data : {"groupSn" : groupSn},
                    success:function(res){
						if(res.Status == "S"){
                            var imgUrl = "";

							if(res.originalname == ""){
								imgUrl = "https://nphotogroup-phinf.pstatic.net/20221123_287/4555084_1669186348727S1Vmq_PNG/group_cover_a.png?type=ff120_120"
							} else {
								imgUrl = '../uploadedGroupFiles/'+res.originalname;
							}
                            
                            // 대표사진 보기
                            document.getElementById('preview').src = imgUrl;
                            document.getElementById('smallPicture').src = imgUrl;

                            $(".groupNm").text(res.groupNm);
                            $(".leaderNm").text(res.leaderNm);
                            $(".emplyrNm").text(window.parent.$('#emplyrNm').val());
                            $(".emplyrId").text(window.parent.$('#emplyrId').val());
                            $(".frstDt").text(res.frstRegistDt);
						} else if(res.Status == "F"){
							alert("대표 사진 불러오던 중 오류가 발생하였습니다.");
						}
					},
					error:function(e){
						alert("대표 사진 불러오던 중 오류가 발생하였습니다.(ajax에러)");
					}
				})
            }

            //멤버 아이콘 클릭 이벤트
            function member(){
                //멤버 모달
                $('#member_modal').toggle();
                //설정 모달
                $('#setting_modal').hide();

                var groupSn = $('#groupSn').val();

                $.ajax({
					url : "/selectGropMember",
					type : "POST",
					dataType : "JSON", //"JSON"
					data : {"groupSn" : groupSn},
                    success:function(res){
                        console.log(res);
						if(res.Status == "S"){
                            var member = "";
                            var length = res.result.length;
                            var groupNm = res.result[0][3];

                            $(".member_cnt").text(length);
                            $("#member_groupNm").text(groupNm);
                                                        
                            for( var i=0; i<length; i++){
                                member += '<li class=""><a><span class="thumb">'
                                    +'<img src="https://phinf.pstatic.net/contact/20191208_97/1575799615169u2oGo_JPEG/2.jpg?type=f160_160" width="45" height="45" alt=""></span>'
                                    +'<span class="tit">'+res.result[0][2]+'&nbsp;</span>'
                                    +'</a></li>'
                            }

                            $('.my_layer_list').html(member);
                            
						} else if(res.Status == "F"){
							alert("멤버 목록 조회 중 오류가 발생하였습니다.");
						}
					},
					error:function(e){
						alert("멤버 목록 조회 중 오류가 발생하였습니다.(ajax에러)");
					}
				})
            }
            //설정 아이콘 클릭 이벤트
            function setting(){
                //설정 모달
                $('#setting_modal').toggle();
                // 모임나가기 모달
                $('.out_modal_wrap').hide();
                //멤버 모달
                $('#member_modal').hide();
            }

            //모임 나가기 버튼 클릭 시 확인 창
            function outGroupBtn(){
                $('.out_modal_wrap').show();
            };
            
            // 모임나가기 확인 버튼 클릭
            function outGroup(){
                var emplyrSn = $('#emplyrSn').val();
                var groupSn = $('#groupSn').val();
                
                $.ajax({
					url : "/updateGroupUseAt",
					type : "POST",
					dataType : "JSON", //"JSON"
					data : {"emplyrSn" : emplyrSn, "groupSn" : groupSn},
					success:function(result){
						if(result.Status == "S"){
							//메뉴리스트 업데이트
                            window.parent.mygroup();
                            alert("모임 나가기가 완료되었습니다.");
                            window.parent.document.location.href="/";
						} else if(result.Status == "F"){
							alert("모임 나가기 중 오류가 발생하였습니다.");
						}
					},
					error:function(e){
						alert("모임 나가기 중 오류가 발생하였습니다.(ajax에러)");
					}
				})
            }

            // 확인 체크박스 변경 이벤트
            function chkBtn(){
                var chkBtn = document.getElementById('confirm_apply').checked;
                if(chkBtn == true){   // 확인버튼 활성화
                    document.getElementById('okBtn').disabled = false;
                } else {    // 확인버튼 비활성화
                    document.getElementById('okBtn').disabled = true;
                }
            }

            // 취소 버튼 클릭 이벤트
            function cancelBtn(data){
                if(data == "out"){
                    // 모임나가기 모달 닫기
                    $('.out_modal_wrap').hide();
                } else if (data == "setting") {
                    // 설정 모달 닫기
                    $('#setting_modal').hide();
                    
                    control_groupNm();
                }
            }

            // 수정 아이콘 클릭이벤트
            function edit_box(){
                document.getElementById('input_title').style.display = "block";
                document.getElementById('title_text').style.display = "none";

                //  클릭하면 그룹명 수정에 포커스
                var textarea = document.getElementById("textarea");
                textarea.focus();
            }

            // 그룹명, 그룹대표사진 수정 후 변경작업
            function okBtnClick(){
                var groupSn = $('#groupSn').val();
                var emplyrSn = $('#emplyrSn').val();
                var data = document.getElementById("textarea").value;

                var formData = new FormData();
				formData.append('groupImg', $('#fileUpload')[0].files[0]);
				formData.append('groupSn', groupSn);
                formData.append('data', data);

                $.ajax({
					url : "/updateGroupSet",
					type : "POST",
                    processData : false,
					contentType : false,
					async : false,
					enctype: 'multipart/form-data',
					dataType : "JSON", //"JSON"
                    data : formData,
					success:function(result){
                        if(result.Status == "L"){
                            alert("그룹 리더만 수정이 가능합니다.");
                            
                            control_groupNm();
                        } else if(result.Status == "S"){
							alert("수정이 완료되었습니다.");
                            // 메뉴 재조회
                            window.parent.mygroup();
                            // 그룹 재조회(이름이랑 대표사진 재세팅)
                            window.parent.openMenu('group');
						} else if (result.Status == "Q"){
                            alert("입력된 대표사진이 없거나 수정된 그룹명이 없습니다.");

                            control_groupNm();
                        } else if(result.Status == "F"){
                            alert("그룹명 변경 또는 대표사진 변경 중 오류가 발생하였습니다.");
                        }
					},
					error:function(e){
						alert("그룹명 변경 또는 대표사진 변경 중 오류가 발생하였습니다.(ajax에러)");
					}
				})
            }

            // textarea 내에서 엔터키 제한
            function chkEnter(){
                if(event.keyCode == 13){
                    //event.returnValue = false;
                    okBtnClick();
                }
            }
            
            // 그룹 대표 사진 업로드 전 미리보기
            function readURL(input) {
                
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function(e) {
                        document.getElementById('preview').src = e.target.result;
                    };
                    reader.readAsDataURL(input.files[0]);
                } else {
                    document.getElementById('preview').src = "";
                }
            }

            // 그룹 제목 수정 되는 부분 제어
            function control_groupNm() {
                document.getElementById('input_title').style.display = "none";
                document.getElementById('title_text').style.display = "block";
            }

            // 파일 업로드 시 뜨는 팝업
            function uploadPopup(){
                document.getElementById('iframe_photo').src = "/groupUpload?popType=image";
                // iframe(그룹 파일 업로드 팝업)
                document.getElementById('iframe_photo').setAttribute('style', 'visibility:visible;');
            };
            
            // 업로드 팝업 닫기
            function closeBtn(){
                // iframe(그룹 파일 업로드 팝업)
                document.getElementById('iframe_photo').setAttribute('style', 'visibility:hidden;');
                document.getElementById('iframe_story').setAttribute('style', 'visibility:hidden;');
            };

            // 사진/오디오 아이콘 클릭
            function upload(data){
                document.getElementById('iframe_story').src = "/groupUpload?popType="+data;
                document.getElementById('iframe_story').setAttribute('style', 'visibility:visible;');
            }

            // 이야기 올리기 버튼 활성화/비활성화
            function submit_timeline_control(){
                var content = $('#write_area').val();

                if(content.length > 0){
                    $('#submit_timeline').css("background-color","#157efd");
                } else {
                    $('#submit_timeline').css("background-color","#cccccc");                    
                    $('#submit_timeline').css("border","1px solid #cccccc");
                }
            };

            // 이야기 올리기
            function submit_timeline(){                
                var timelineDc = $('#write_area').val();                
                var groupSn = $('#groupSn').val();
                var content = $('#write_area').val();

                if(content == null || content == ""){
                    return;
                }
                
                $.ajax({
					url : "/storyUpload",
					type : "POST",
					dataType : "JSON", //"JSON"
					data : {"emplyrSn" : emplyrSn, "groupSn" : groupSn, "type" : "story", "timelineDc" : timelineDc},
					success:function(res){
						if(res.Status == "S"){
							alert('업로드가 완료되었습니다.');

                            // 타임라인 재조회
                            groupPictureList();

						} else if(res.Status == "F"){
							alert('업로드 중 오류가 발생하였습니다.');
						}						                        
					},
					error:function(e){
						alert("업로드 중 오류가 발생하였습니다.(ajax에러)");
					}
				})
                
            };

            // 그룹 사진 조회
            function groupPictureList(){
                var groupSn = $('#groupSn').val();

                $.ajax({
					url : "/selectForGroup",
					type : "POST",
					dataType : "JSON", //"JSON"
					data : {"groupSn" : groupSn},
					success:function(res){
						if(res.Status == "S"){
                            var photo_length = res.result.length;
							if (photo_length == 0){
                                // 기본 소스
                                $('#photo_none').show();
                                $('#toge_photo_list').hide();
                            } else {
                                // 조회된 사진 배열
                                $('#toge_photo_list').show();
                                $('#photo_none').hide();
                                
                                var photo_content = "";     // 사진/동영상 탭
                                var story_content = "";     // 이야기 탭 타임라인

                                for (var i=0; i<photo_length; i++){
                                    var content = res.result[i][5];
                                    var type = res.result[i][6];
                                    var timelineSn = res.result[i][9];
                                    if(content == null){
                                        content = '';
                                    }

                                    // 파일 타임라인
                                    if(type == 'file'){
                                        photo_content += '<li class="groupPicture">'
                                        +'<div class="item"><a><img src="..'+res.result[i][1]+'/'+res.result[i][2]
                                        +'" style="width:100%; height:100%;"></a></div></li>\n';

                                        story_content += 
                                            '<div class="together_section"><div class="toge_story_list">'
                                                +'<a class="user_thum"><img src="" width="55" height="55"></a>'
                                                +'<div class="toge_box">'
                                                    +'<h3 class="toge_title"><strong>'+res.result[i][3]+'</strong><span class="load_time">'+res.result[i][4]+'</span></h3>'
                                                    +'<div class="toge_content_box">'
                                                        +'<div class="toge_content">'
                                                            +'<p class="toge_text"><span>'+content+'</span></p>'
                                                            +'<div class="toge_photo">'
                                                                +'<ul class="single">'
                                                                    +'<li class="p_lst">'
                                                                        +'<a><img class="thumbnail load_success" src="..'+res.result[i][1]+'/'+res.result[i][2]
                                                                            +'" style="width: 100%; height:100%;"><span class="shadow_in"></span></a></li></ul></div></div></div>'
                                                    +'<div class="toge_comment">'
                                                        +'<ul id="comm_list_'+timelineSn+'" class="comm_list"></ul>'
                                                        +'<div class="comm_input over_write on_write">'
                                                            +'<div class="textarea_input">'
                                                                +'<div class="textarea">'
                                                                    +'<textarea id="comment_txt_'+timelineSn+'" placeholder="댓글을 입력하세요." rows="1" style="overflow: hidden; overflow-wrap: break-word;" onkeyup="button_control('+timelineSn+');" onkeydown="enterKey('+timelineSn+');"></textarea></div>'
                                                                +'<div class="btn_submit"><button id="button_'+timelineSn+'" onclick="writeReply('+timelineSn+')";>전송</button></div>'
                                                            +'</div></div></div></div></div></div>'
                                    } else if(type == 'join'){    // 가입 타임라인
                                        story_content += 
                                                        '<div class="together_section"><div class="notification"><div class="noti_box">'
                                                        +'<a class="thum user_thum none_thum" style="cursor: default;"><img src="https://ssl.pstatic.net/static/pwe/photo/blank.gif" width="38" height="38" alt=""></a>'
                                                        +'<span class="noti_text"><strong class="point_3675c7">'+res.result[i][8]+'</strong>님이 새로운 멤버가 되었습니다.</span>'
                                                        +'</div></div></div>';

                                    } else if(type == 'story') {    // 스토리 타임라인
                                        story_content +=
                                        '<div class="together_section"><div class="toge_story_list"><a class="user_thum">'
                                            +'<img src="" width="55" height="55"></a>'
                                            +'<div class="toge_box">'
                                                +'<h3 class="toge_title"><strong>'+res.result[i][3]+'</strong><span class="load_time">'+res.result[i][4]+'</span></h3>'
                                                +'<div class="toge_content_box"><div class="toge_content"><p class="toge_text"><span>'+content+'</span></p>'
                                                    +'<div class="toge_audio_box"></div></div></div>'
                                                    +'<div class="toge_comment"><ul class="comm_list"></ul><div class="comm_input"><div class="textarea_input"><div class="textarea">'
                                                        +'<textarea id="comment_txt_'+timelineSn+'" placeholder="댓글을 입력하세요." rows="1" style="overflow: hidden; overflow-wrap: break-word; height: 18px;"onkeyup="button_control('+timelineSn+');" onkeydown="enterKey('+timelineSn+');"></textarea></div>'
                                                        +'<div class="btn_submit"><button id="button_'+timelineSn+'" onclick="writeReply('+timelineSn+')";></button></div></div></div></div></div></div></div>';
                                    } else {
                                        alert('잘못된 형식의 타임라인이 조회되었습니다.');
                                    }
                                }
                                
                                $('#together_story_section').html(story_content);   // 조회된 사진 리스트(이야기)
                                $('#toge_photo_list').html(photo_content);          // 조회된 사진 리스트(사진/동영상)

                                // 타임라인을 모두 띄운 후 댓글을 밑에 붙임
                                selectComment();
                            }
						} else if(res.Status == "F"){
							alert('사진 조회 중 오류가 발생하였습니다.');
						}						                        
					},
					error:function(e){
						alert("사진 조회 중 오류가 발생하였습니다.(ajax에러)");
					}
				})
            };

            // 댓글달기 버튼 활성화/비활성화
            function button_control(timelineSn){
                var id = '#comment_txt_'+timelineSn;
                var content = $(id).val();
                var button_id = '#button_'+timelineSn;

                if(content.length > 0){
                    $(button_id).css("background-color","#157efd");
                } else {
                    $(button_id).css("background-color","#cccccc");
                }
            };

            // 댓글달기 엔터
            function enterKey(timelineSn){
                if(event.keyCode == 13){
                    writeReply(timelineSn);
                    return;
                }
            }

            // 댓글달기 버튼 클릭 이벤트
            function writeReply(timelineSn){
                var groupSn = $('#groupSn').val();
                // 댓글내용
                var id = '#comment_txt_'+timelineSn;
                var commentDc = $(id).val();

                if(commentDc == null || commentDc == ""){
                    return;
                }

                $.ajax({
					url : "/insertComment",
					type : "POST",
					dataType : "JSON", //"JSON"
					data : {"groupSn" : groupSn, "timelineSn" : timelineSn, "commentDc" : commentDc},
					success:function(res){
                        if(res.Status == "S"){
							// 댓글 부분 재조회
                            selectComment(timelineSn);
                            
                            // 댓글 창 제어
                            $(id).val("");
                            button_control(timelineSn);
                        } else if(res.Status == "F"){
                            alert("댓글달기 도중 오류가 발생하였습니다.");
                        }
					},
					error:function(e){
						alert("댓글달기 도중 오류가 발생하였습니다.(ajax에러)");
					}
				})
            };

            // 댓글 조회
            function selectComment(timelineSn){                
                var groupSn = $('#groupSn').val();

                $.ajax({
					url : "/selectComment",
					type : "POST",
					dataType : "JSON", //"JSON"
					data : {"groupSn" : groupSn, "timelineSn" : timelineSn},
					success:function(res){
                        if(res.Status == "S"){
                            var tmp_id = "";
                            var comment_content = '';
                            for(var i=0; i<res.result.length; i++){
                                var commentSn = res.result[i][0];
                                var timelineSn = res.result[i][1];
                                var commentCd = res.result[i][2];
                                var registerDt = res.result[i][3];
                                var emplyrNm = res.result[i][4];
                                var emplyrSn = res.result[i][5];    // 코멘트 단 사람의 일련번호

                                //각자 덧붙일 ul의 id
                                var id = '#comm_list_'+timelineSn;
                                if(tmp_id != id){
                                    comment_content = '';
                                }

                                comment_content += '<li onMouseOut="deleteBtn_out('+timelineSn+','+commentSn+')" onMouseOver="deleteBtn_control('+emplyrSn+','+timelineSn+','+commentSn+');"><div class="comm_thum"><a class="thum" style="cursor: pointer;">'
                                                +'<img src="" width="38" height="38"></a></div>'
                                                +'<div class="comm_txt"><strong>'+emplyrNm+'<em>'+registerDt+'</em></strong><p>'+commentCd+'</p>'
                                                +'<a id="comm_'+timelineSn+'_'+commentSn+'" class="btn_del_comm" onclick="delete_comment('+timelineSn+','+commentSn+');"><i class="fa-solid fa-x"></i></a></div></li>';
                                tmp_id = id;
                                $(id).html(comment_content);
                            }                            
                        } else if(res.Status == "F"){
                            alert("댓글 조회 도중 오류가 발생하였습니다.");
                        }
					},
					error:function(e){
						alert("댓글 조회 도중 오류가 발생하였습니다.(ajax에러)");
					}
				})
            };

            // 삭제버튼 마우스오버
            function deleteBtn_control(commentEmplyrSn, timelineSn, commentSn){
                var emplyrSn = $('#emplyrSn').val();    // 로그인 사용자
                var commentId = '#comm_'+timelineSn +'_'+commentSn;

                if (commentEmplyrSn != emplyrSn){
                    // 삭제버튼이 안뜬다.
                    $(commentId).css('display', 'none');
                } else {
                    // 삭제버튼이 뜨도록 css
                    $(commentId).css('display', 'block');
                }
            };

            // 삭제버튼 마우스아웃
            function deleteBtn_out(timelineSn, commentSn){
                var commentId = '#comm_'+timelineSn +'_'+commentSn;
                // 삭제버튼이 안뜬다.
                $(commentId).css('display', 'none');
                
            };
            
            // 댓글 삭제 클릭
            function delete_comment(timelineSn, commentSn){                
                var groupSn = $('#groupSn').val();      // 그룹일련번호
                
                if(confirm("삭제하시겠습니까?")){
                    $.ajax({
                        url : "/deleteComment",
                        type : "POST",
                        dataType : "JSON", //"JSON"
                        data : {"groupSn" : groupSn, "timelineSn" : timelineSn, "commentSn" : commentSn},
                        success:function(res){
                            if(res.Status == "S"){
                                // 댓글 부분 재조회
                                selectComment(timelineSn);
                            } else if(res.Status == "F"){
                                alert("댓글삭제 도중 오류가 발생하였습니다.");
                            }
                        },
                        error:function(e){
                            alert("댓글삭제 도중 오류가 발생하였습니다.(ajax에러)");
                        }
                    })
                } else {
                    return;
                }
            };

            // 멤버초대 열기
            function inviteMember(){ 
                $('#inviteMember').show();        

                // 해당 그룹의 일련번호를 value에 담는다.
                var groupSn = $('#groupSn').val();
                $('#url').val('localhost:3000/index/group?groupSn='+groupSn);
            };

            // 멤버초대 닫기
            function out_inviteMember(){
                $('#inviteMember').hide();
            }

            // 전화번호로 초대하기
            function invite_phone(){
                alert('서비스 준비중입니다.');
            }

            // 복사
            function copyText(){
                var copyText = document.getElementById("url");
                copyText.select();
                document.execCommand("copy");
                alert("복사완료!");
            }
		</script>
	</head>
	<body>
        <input type="hidden" id="emplyrSn" name="emplyrSn" value=""/>
        <input type="hidden" id="groupSn" name="groupSn" value=""/>
        <div>
            <input multiple="" type="file" autocomplete="off" tabindex="-1" style="display: none;">
            <div id="content" style="left: 200px;">
                <div class="drag_layer" style="display: none; left: 0px;">
                    <div class="drag_cont">
                        <div class="drag_img">
                            <img class="left-doodle" src="https://ssl.pstatic.net/static/pwe/ndrive/deskhome/upload_img1.png">
                            <img class="right-doodle" src="https://ssl.pstatic.net/static/pwe/ndrive/deskhome/upload_img2.png">
                        </div>
                        <p class="drag_txt">
                            <span class="blind">파일을 여기에 끌어다 놓으면 파일 올리기가 바로 시작됩니다</span>
                        </p>
                    </div>
                </div>
                <div class="together_cont side_none">
                    <div class="task_area_wrap">
                        <div class="task_area">
                            <div class="cmn_promotion_image">
                                <a class="link_banner">
                                    <!--<img width="464" height="49" title="폴더 링크 공유로 공동 작업하기" src="https://ssl.pstatic.net/static/MYBOX/mybox_pc_banner_linkshare.png">
                                    <img width="36" height="36" title="자세히 보기" alt="자세히 보기" src="https://ssl.pstatic.net/static/MYBOX/Rectangle.png">-->
                                </a>
                                <p class="closing_area">
                                    <!--<input id="check_later_type2" type="checkbox">
                                    <label for="check_later_type2">7일 동안 보지 않음</label>-->
                                </p>
                            </div>
                            <div class="task_together">
                                <div class="together_menu">
                                    <ul>
                                        <!--<li class="menu_story selected"><a>이야기</a></li>-->
                                        <li class="menu_story" onclick="changePart('story')">이야기</li>
                                        <li class="menu_photo" onclick="changePart('picture')">사진/동영상</li>
                                    </ul>
                                </div>
                                <div class="together_my">
                                    <a class="my_task photo" title="사진 추가하기" onclick="upload('image');">
                                        <i class="fa-sharp fa-solid fa-camera"></i>
                                    </a>
                                    <div style="display: inline-block;">
                                        <a id="member" class="my_task member" title="멤버" onclick="member()">
                                            <i class="fa-solid fa-user-group"></i>
                                        </a>
                                        <div id="member_modal" class="my_layer member_width" style="display: none;">
                                            <h4 class="my_tit">
                                                <span class="tit_txt">
                                                    <span class="num">(<em><span class="member_cnt"></span></em>/10명)</span>
                                                    <span class="txt"><span id="member_groupNm"></span></span>
                                                </span>
                                            </h4>
                                            <ul class="my_layer_list" style="min-height: 80px;"></ul>
                                            <a class="my_btn_member">멤버초대</a>
                                        </div>
                                    </div>
                                    <div style="display: inline-block;">
                                        <a id="setting" class="my_task set" title="설정" onclick="setting()">
                                            <i class="fa-solid fa-gear"></i>
                                        </a>
                                        <div id="setting_modal" class="my_layer my_layer_set" style="display: none;">
                                            <h4 class="my_tit">
                                                <span class="tit_txt">
                                                    <span class="txt">모임설정</span>
                                                </span>
                                            </h4>
                                            <div class="ly_toge_content">
                                                <div class="toge_add_group">
                                                    <div class="toge_add_thum">
                                                        <span class="add_pho add_pho_v2">
                                                            <img id="preview" src="" height="120" width="120">
                                                            <span class="add_photo_ic">사진</span>
                                                            <label for="fileUpload">
                                                                <span class="blind">사진 선택</span>
                                                            </label>
                                                            <input type="file" id="fileUpload" name="groupImg" onchange="readURL(this);">
                                                        </span>
                                                    </div>
                                                    <div class="toge_add_edit">
                                                        <div class="edit_box" onclick="edit_box()">
                                                            <span class="title_text" id="title_text"><span class="groupNm"></span><em class="ic_edit"></em></span>
                                                            <span class="input_title" id="input_title" style="display: none;">
                                                                <textarea maxlength="15" id="textarea" onkeypress="chkEnter()"></textarea>
                                                                <span class="line"></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <a class="btn_mem_out" onclick="outGroupBtn()">모임 나가기</a>
                                                </div>
                                                <div class="btn_area">
                                                    <button type="button" onclick="okBtnClick()"><strong>확인</strong></button>
                                                    <button type="button" onclick="cancelBtn('setting')">취소</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="out_modal_wrap" style="display: none; user-select: none; line-height: 716px; transition: line-height 100ms ease-out 0s;">
                                            <div class="dh_layer" style="min-width: 300px;">
                                                <div class="type_c">
                                                    <div class="wrap_pop">
                                                        <form>
                                                            <fieldset>
                                                                <legend>안내 메세지</legend>
                                                                <div class="content">
                                                                    <span class="bu_q">
                                                                    </span>
                                                                    <h1>
                                                                        <span class="ellipsis"><span class="groupNm"></span></span> 모임에서 정말 나가시겠습니까?
                                                                    </h1>
                                                                    <div class="desc3">
                                                                        <span class="emplyrNm"></span>
                                                                        <span class="emplyrId"></span> 님이<br>
                                                                        우리 <span class="groupNm"></span> 모임에 올린<br>모든 파일과 게시글이 삭제되고,
                                                                        <br>더 이상 이 모임에 들어오실 수 없습니다.<br>댓글은 삭제되지 않습니다.
                                                                    </div>
                                                                    <div class="desc4">
                                                                        <input type="checkbox" class="input_check" id="confirm_apply" onchange="chkBtn()">
                                                                        <label for="confirm_apply" style="cursor:pointer;">내용을 확인했습니다.</label>
                                                                    </div>
                                                                </div>
                                                                <div class="footer">
                                                                    <button type="button" id="okBtn" class="" disabled="" onclick="outGroup()">
                                                                        <span class="tx">확인</span>
                                                                    </button>&nbsp;
                                                                    <button type="button" onclick="cancelBtn('out')">
                                                                        <span class="tx">취소</span>
                                                                    </button>
                                                                </div>
                                                                <div class="pop_close">
                                                                    <a class="bu_close_p" onclick="cancelBtn('out')">
                                                                        <span class="blind">닫기</span>
                                                                    </a>
                                                                </div>
                                                            </fieldset>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 이야기 -->
                    <div id="story_part" class="content_box _together_scroll">
                        <div class="lst_pt">
                            <p style="text-align:center;">
                                <iframe id="iframe_story" class="frameBox" src="/" scrolling="yes" width="100%" height="100%" frameborder="0" style='visibility : hidden;'></iframe>
                            </p>
                            <div class="together_wrap">
                                <div class="together_area" style="opacity: 1;">
                                    <div class="together_group">
                                        <div id="together_layout" class="together_layout">
                                            <div class="together_section writing">
                                                <div class="toge_story_list">
                                                    <div class="user_thum">
                                                        <img id="smallPicture" width="55" height="55" src="../uploadedGroupFiles/1673919149954_ë³ìì 3276 íë°±.jpg">
                                                    </div>
                                                    <div class="together_writing">
                                                        <div class="write_box">
                                                            <div class="textarea_input">
                                                                <!--<label for="write_area">글입력</label>-->
                                                                <div class="textarea">
                                                                    <textarea placeholder="멤버와 함께 나눌 이야기를 올려주세요!" id="write_area" rows="1" style="max-height: 144px; overflow-x: hidden; overflow-wrap: break-word; height: 50px;" onkeyup="submit_timeline_control();"></textarea>
                                                                </div>
                                                                <!--<div class=""></div>-->
                                                                <div class="write_submit">
                                                                    <div class="write_btn_group">
                                                                        <a class="b_photo" onclick="upload('image');">
                                                                            <span class="ic_ph"><i class="fa-solid fa-camera"></i></span>사진
                                                                        </a>
                                                                        <a class="b_video">
                                                                            <span class="ic_ph"><i class="fa-solid fa-video"></i></span>동영상
                                                                        </a>    
                                                                        <a class="b_audio" onclick="upload('audio');">
                                                                            <span class="ic_ph"><i class="fa-solid fa-microphone"></i></span>오디오                                                                
                                                                        </a>
                                                                    </div>
                                                                    <!--<button class="write_type cancel">취소</button>-->
                                                                    <button id="submit_timeline" class="write_type up" onclick="submit_timeline();">올리기</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- 타임라인이 쌓일 부분 -->
                                            <div class="together_story_section" id="together_story_section">
                                                
                                            </div>
                                            <div class="together_section">
                                                <div class="notification">
                                                    <div class="noti_box_v2">
                                                        <div class="start_togeth">
                                                            <p><img src="https://ssl.pstatic.net/static/pwe/cloud/pc/group_welcome.png" height="145" alt=""></p>
                                                            <p class="date"><span class="frstDt"></span></p>
                                                            <h3 class="title">
                                                                <strong class="point_3675c7"><span class="leaderNm"></span></strong>님이&nbsp;
                                                                <strong><span class="groupNm"></span></strong> 모임을 시작합니다.
                                                            </h3>
                                                            <p class="text">MYDRIVE에 저장되어 있는 우리 아기 사진, 가족 여행 사진,<br>멋진 야경 사진 등 일상과 추억을 가족, 친구와 함께 나눠보세요!<br>멤버는 최대 10명까지 초대할 수 있습니다.</p>
                                                            <a class="my_btn_member" onclick="inviteMember()">멤버초대</a>
                                                        </div>
                                                        <div id="inviteMember" class="dh_layer pop_pht_wrap" style="width: 459px;">
                                                            <div class="pop_header">
                                                                <h1>멤버초대</h1>
                                                            </div>
                                                            <div class="ly_toge_content">
                                                                <div class="toge_member">
                                                                    <div class="mem_tab">
                                                                        <a class="tab_url selected">URL로 초대하기</a>
                                                                        <a class="tab_num" onclick="invite_phone();">전화번호로 초대하기</a>
                                                                    </div>
                                                                    <div class="mem_content">
                                                                        <div class="url_area">
                                                                            <dl class="mem_dl">
                                                                                <dt>모임이름</dt>
                                                                                <dd><strong class="name"><span class="groupNm"></span></strong></dd>
                                                                            </dl>
                                                                            <dl class="mem_dl">
                                                                                <dt>URL주소</dt>
                                                                                <dd>
                                                                                    <div class="url_address">
                                                                                        <input id="url" class="url" readonly="" value="" style="cursor: pointer;">
                                                                                        <button onclick="copyText();">복사</button>
                                                                                    </div>
                                                                                    <p class="url_notice">URL은 7일간 유효합니다.<br>유효기간이 만료되면 위 URL을 통해 모임에 참여할 수 없습니다.</p>
                                                                                </dd>
                                                                            </dl>
                                                                            <!-- SNS 파트
                                                                            <dl class="mem_dl">
                                                                                <dt>SNS</dt>
                                                                                <dd>
                                                                                    <div>
                                                                                        <ul class="sns_lst">
                                                                                            <li>
                                                                                                <a href="https://www.band.us/" target="_blank" rel="noopener noreferrer">
                                                                                                    <img src="https://ssl.pstatic.net/static/pwe/ndrive/new_ndrive/logo_band.png" width="61" height="61" alt="밴드">
                                                                                                    <span class="title">밴드</span>
                                                                                                </a>
                                                                                            </li>
                                                                                            <li>
                                                                                                <a href="https://cafe.naver.com/" target="_blank" rel="noopener noreferrer">
                                                                                                    <img src="https://ssl.pstatic.net/static/pwe/ndrive/new_ndrive/img_cafe.png" width="62" height="62" alt="네이버 카페">
                                                                                                    <span class="title">네이버 카페</span>
                                                                                                </a>
                                                                                            </li>
                                                                                            <li>
                                                                                                <a href="http://cafe.daum.net/" target="_blank" rel="noopener noreferrer">
                                                                                                    <img src="https://ssl.pstatic.net/static/pwe/ndrive/new_ndrive/img_daum.png" width="62" height="62" alt="다음 카페">
                                                                                                    <span class="title">다음 카페</span>
                                                                                                </a>
                                                                                            </li>
                                                                                        </ul>
                                                                                    </div>
                                                                                </dd>
                                                                            </dl>
                                                                            -->
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <a class="btn_clse" onclick="out_inviteMember();">닫기</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="reload_area"></div>
                                        </div>
                                    </div>
                                    <div class="together_right">
                                        <div class="invitation_side_wrap">
                                            <div class="invitation_side fixed">
                                                <div class="invitation_box">
                                                    <h3 class="invitation_tit"><strong>'<em><span class="groupNm">TEST</span></em>'&nbsp;</strong>멤버와 이 사진을 함께 보세요.</h3>
                                                    <div>
                                                        <div>
                                                            <h4><a href="#/photo/all">최근 올린 사진 (5)</a></h4>
                                                            <a class="more_invitation" href="#/photo/all">
                                                                <ul class="invitation_photo layout5">
                                                                    <li class="item grid0">
                                                                        <img src="https://thumb1.photo.mybox.naver.com/3472495530733629005?type=ff52_43&amp;nocache=5236120301">
                                                                    </li>
                                                                    <li class="item grid1">
                                                                        <img src="https://thumb1.photo.mybox.naver.com/3472495530733427532?type=ff52_43&amp;nocache=4636120301">
                                                                    </li>
                                                                    <li class="item grid2">
                                                                        <img src="https://thumb1.photo.mybox.naver.com/3472495530724238924?type=ff52_43&amp;nocache=4636120301">
                                                                    </li>
                                                                    <li class="item grid3">
                                                                        <img src="https://thumb1.photo.mybox.naver.com/3472495530717829453?type=ff52_43&amp;nocache=4036120301">
                                                                    </li>
                                                                    <li class="item grid4">
                                                                        <img src="https://thumb1.photo.mybox.naver.com/3472495530717653836?type=ff104_87&amp;nocache=3836120301">
                                                                    </li>
                                                                </ul>
                                                                <span class="more_invitation_bg">더보기</span>
                                                            </a>
                                                            <a class="invi_btn"><span class="i_m"></span>함께보기</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 사진 -->
                    <div id="picture_part" class="content_box _together_scroll">
                        <div class="lst_pt">
                            <p style="text-align:center;">
                                <iframe id="iframe_photo" class="frameBox" src="/" scrolling="yes" width="100%" height="100%" frameborder="0" style='visibility : hidden;'></iframe>
                            </p>
                            <div class="together_photo">
                                <ul id="photo_none" class="toge_photo_list">
                                    <li style="width: auto; height: auto;">
                                        <div class="together_none">
                                            <span class="ic_p"></span>
                                            <p class="text">
                                            <span class="point"><span class="groupNm"></span></span>에서<br> 함께 볼 사진을 추가해 주세요!</p>
                                            <a class="btn_add_more" onclick="uploadPopup();">사진 추가하기</a>
                                        </div>
                                    </li>
                                </ul>
                                <ul id="toge_photo_list" class="toge_photo_list"></ul>
                                <div class="reload_area"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html> 
