<html lang="ko">
<head>
	<meta charset="utf-8">    
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.9.2/jquery.contextMenu.js" integrity="sha512-2ABKLSEpFs5+UK1Ol+CgAVuqwBCHBA0Im0w4oRCflK/n8PUVbSv5IY7WrKIxMynss9EKLVOn1HZ8U/H2ckimWg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.9.2/jquery.ui.position.js" integrity="sha512-vBR2rismjmjzdH54bB2Gx+xSe/17U0iHpJ1gkyucuqlTeq+Q8zwL8aJDIfhQtnWMVbEKMzF00pmFjc9IPjzR7w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://kit.fontawesome.com/ad41bee873.js" crossorigin="anonymous"></script>
	<link href="../css/style.css?after" rel="stylesheet" type="text/css">
	<link href="../css/grid.css?after" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" crossorigin="anonymous" />
	<script type="text/javascript">
		function fileNmDup() {
			var emplyrSn = document.getElementById('emplyrSn').value;

			$.ajax({
				url : "/cleanUpFiles",
				type : "POST",
				dataType : "JSON", //"JSON"
				data : {"emplyrSn" : emplyrSn, "cleanType":cleanType}

			})
			.done(function (res) {
				var fileArea = $('#gridArea').contents().find('#fileList');
				var ListType = $('#gridArea').contents().find('#ListType');
				
				var fileList = "";

				for(var i=0; i<res.length; i++){
					fileList += '<li class="item_fnc" id="' + res[i][5] + '" ondblclick="view_photoInfo(this)">';
					fileList += '<img src="../uploadedFiles/' + res[i][1] + '" id="img_' + res[i][5] + '_NULL_Y" class="img_item"/>\n';
					fileList += '<div class="item-name" id="dv_' + res[i][5] + '"> ' + res[i][2] + ' </div></li>\n';
				}

				$(fileArea).html(fileList);      //파일 리스트
				$(ListType).attr('value', "cleanUpType");
			})
			.fail(function (xhr, textStatus, errorThrown) {
				console.log('selectBkmkList ajax 실패');
				console.log('xhr'+xhr);
				console.log('textStatus'+textStatus);
				console.log('errorThrown'+errorThrown);
			})
		}
	</script>
</head>
<body>
<div id="content" class="main-box">
	<div id="clean_file_menu">
		<ul class="task_tab_list">
			<li><a onclick="fileNmDup">파일명 중복</a></li>
			<li><a>용량 큰 파일</a></li>
		</ul>
	</div>
</div>
</body>