<html lang="ko">
    <head>
        <meta charset="utf-8">    

        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://kit.fontawesome.com/ad41bee873.js" crossorigin="anonymous"></script>
        <link href="../css/style.css?after" rel="stylesheet" type="text/css">
        <link href="../css/menu.css?after" rel="stylesheet" type="text/css">
        <link href="../css/grid.css?after" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" crossorigin="anonymous" />
        <script>
          
        </script>
    </head>
<body>
<div class="main-box">
    <div>
        <ul class="item_data">
            <li title="test" class="item_fnc">
                <div class="file_item">
                    <img src="../images/sample_image.jpg" class="img_item">
                    <!--span class="checkbox"></span>-->
                    <button type="button" id="btn_start" class="fa-regular fa-star"></button>
                    <div class="item-name">
                        문서 화면
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="sideInfo-box">
        사진을 클릭하면 정보를 볼 수 있습니다.
    </div>
</div>
</body>