<div id="header" class="header_type2">
    <div class="top">
            <a href="/index" class="logo">
                <i class="fa-solid fa-cloud"></i>
                MYDRIVE
            </a>
        <div id="gnb" class="gnb_dark">
            <ul class="gnb_lst" id="bng_lst" style="display:block;">
                <li class="gnb_login_li" id="gnb_login_layer" style="display:inline-block;">
                    <a class="gnb_btn_login" href="https://nid.naver.com/nidlogin.login" id="gnb_login_button">
                        <span class="gnb_bg"></span>
                        <span class="gnb_bdr"></span>
                        <span class="gnb_txt">로그인</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div id="lnb" class="lnb_wrap">
        <ul class="lnb lnb_type3"></ul>
    </div>
</div>