<!DOCTYPE html>
<html lang="ko">
    <head>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<link href="../css/findPw.css?after" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" crossorigin="anonymous" />
		<meta charset="utf-8" />
		<title>MYDRIVE : 비밀번호 찾기</title>
	</head>
	<script>
		function findPw(){
			var userId = document.getElementById("userId").value;
			if (userId == "") {
				alert("아이디를 입력해주세요.");
				$("userId").focus();
				return;
			}

			var dataInfo = {};
			dataInfo.userId	= userId;

			$.ajax({
				contentType : 'application/json; charset=utf-8', type : 'post', dataType : 'json', async : false,
				url  : '/findPw',
				data : JSON.stringify(dataInfo),
				success : function(data) {
					var emplyrSn = data.emplyrSn;
					if (emplyrSn != "" && emplyrSn != null){
						document.location.href = '/findPwByPhone?emplyrSn='+emplyrSn;
					} else if (data ==="I"){
						alert("입력하신 아이디를 찾을 수 없습니다.");
					} else {	//data=="F"
						alert("처리 도중 오류가 발생하였습니다.");
					}
				}
			});
		}
	</script>
	<body>
        <div id="wrap" class="wrap_leave">
			<% include ./findHeader %>
			<div id="container" style="height:853px;">
				<form id="fm" name="fm" action="/findPw" method="post">
					<div id="content" class="non_sign inquiry">
						<div class="content_header">
							<h2><img src="https://static.nid.naver.com/images/web/user/h_find_pw2.gif" width="84" height="16" alt="비밀번호 찾기"></h2>
							<ol class="process">
								<li class="on">01. 아이디 입력<span>&gt;</span></li>
								<li>02. 본인 확인<span>&gt;</span></li>
								<li>03. 비밀번호 재설정</li>
							</ol>
						</div>
						<p class="content_summary">비밀번호를 찾고자 하는 아이디를 입력해 주세요.</p>
						<div class="section section_find">
							<div class="box6">
								<div id="divUserId" class="input_box">
                                    <!--<label id="lbUserId" for="userId">아이디 입력</label>-->
									<input type="text" id="userId" name="userId" onfocus="" onblur="" maxlength="40" value="" title="아이디" class="input_txt" placeholder="아이디 입력">
								</div>
							</div>
							<div class="btn_area">
								<a href="#" onclick="findPw()" class="btn_next2">
									<!--<span class="blind">다음</span>-->
								</a>
							</div>
							<div class="find_dsc">
								<h3>아이디가 기억나지 않는다면?
									<a href="#">아이디 찾기 바로가기
									</a>
								</h3>
							</div>
						</div>
					</div>
				</form>
			</div>
			<% include ./findFooter %>
		</div>
    </body>
</html>