<html lang="ko">
    <head>
        <meta charset="utf-8">    
        <link href="../css/style.css?after" rel="stylesheet" type="text/css">
        <script>
            /* 정렬기준 변경 이벤트 */
            function selectNayeol(){
                var sortSelect = document.getElementById("sortSbBox");
                var selectValue = sortSelect.options[sortSelect.selectedIndex].value;
                var selectText = sortSelect.options[sortSelect.selectedIndex].text;
                var ibx_boonmoon = document.getElementById("main");

                ibx_boonmoon.textContent = selectText;
                
            }
        </script>
    </head>
    <body>
        <div id="menu" class="menu-box">
            메뉴 영역
            <ul class="list">
                <li><a href="/photo" target="iframe">사진</a></li>
                <li><a href="/movie" target="iframe">동영상</a></li>
                <li><a href="/document" target="iframe">문서</a></li>
                <li><a href="/music" target="iframe">음악</a></li>
                <li><a href="/trash" target="_blank">휴지통</a></li>
            </ul>
        </div>
        <div id="header" class="header-box">
            상단바
            <div id="test_button" class="btnArea">
                <button id="testBtn" class="btnUpload">업로드</button>
                <button id="testBtn" class="btnNew">새 폴더</button>
            </div>
        </div>
        <div>
            <form class="formBox">
                <select name="ListType" id="sortSbBox" class="listSbBox" onChange="selectNayeol()">
                    <option value="none"> 정렬 기준 </option>
                    <option value="name"> 이름순 </option>
                    <option value="date"> 날짜순 </option>
                </select>
            </form>               
            <div id="main" class="main-box">relative</div>
        </div>
    </body>
    </html> 