<% include ./script %>
    <body>
        <div class="whole_body">
            <div id="header" class="header-box">
                <% include ./header %>
            </div>
            <div id="main" class="main-part">
                <form class="formBox">
                    <select name="ListType" id="sortSbBox" class="listSbBox" onChange="selectNayeol()">
                        <option value="none"> 정렬 기준 </option>
                        <option value="name"> 이름순 </option>
                        <option value="date"> 날짜순 </option>
                    </select>
                </form>
                <div class="button-wrap">
                    <input type="file" name="attachment" id="fileUpload">
                    <button class="btn_UploadStyle" onclick="fileUpload();">
                        <img src='../images/icon_download.png' width="20px" height="20px" alt="다운로드 아이콘">
                        올리기
                    </button>
                </div>            
                <% include ./menu %>
                <iframe class="frameBox" src="/main" id="gridArea" scrolling="yes"></iframe>
                <iframe id="formFrame" name="formFrame" style="display:none"></iframe>
            </div>
        </div>
    </body>
    </html> 
