<html lang="ko">
    <head>
        <meta charset="utf-8">    
<!--        <link rel="stylesheet" type="text/css" href="/js/common/jquery/jquery-ui.min.css"/>
        <link rel="stylesheet" type="text/css" href="/jqGrid/css/ui.jqgrid.css"/>-->
        <script src="/js/jquery-1.7.2.min.js"></script>
        <link href="/css/ui-darkness/jquery-ui-1.10.4.custom.css" rel="stylesheet">
        <link href="/css/ui.jqgrid.css" rel="stylesheet">
        <link href="../css/style.css?after" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" crossorigin="anonymous" />

        <!--<script type="text/javascript" src="/js/common/jquery/jquery-3.2.1.min.js"></script>
        <script src="/jqGrid/js/i18n/grid.locale-kr.js" type="text/javascript"></script>
        <script src="/jqGrid/js/minified/jquery.jqGrid.min.js" type="text/javascript"></script>-->
        <script src="/js/i18n/grid.locale-kr.js"></script>
        <script src="/js/jquery.jqGrid.src.js"></script>
        <script>
            /* 그리드 설정 */
            var searchResultColNames =  ['순번', '첨부파일일련번호', '파일명', '작성자', '날짜'];
            var searchResultColModel =  [
                            {name:'Num',        index:'Num',        align:'center', width:'12%'},
                            {name:'fileSn',     index:'fileSn',     align:'left',   hidden:true},
                            {name:'fileNm',     index:'fileNm',     align:'center', width:'50%'}
                            ];

            $(document).ready(function(){
                var customDialog = {
                    onclickSubmit : function(params){
                        console.log(params);
                        var selectedRow = $('#listGrid').getGridParam('selrow');
                        rowData = $('#listGrid').getRowData(selectedRow);
                        return {id:rowData.id};
                    }
                }
                
                $("#listGrid").jqGrid({
                    url : "/files/get",
                    datatype : "JSON",
                    postData : postData,
                    mtype : "POST",
                    colNames: searchResultColNames,
                    colModel: searchResultColModel,
                    rowNum : 10,
                    rowList : [10, 20, 30],
                    pager: "#pager",
                    height: 261,
                    width: 1019,
                    caption : "파일 목록"
                }).navGrid('#pager', {
                    search : true
                    , edit : true
                    , add : true
                    , del : true
                }, customDialog, {}, customDialog);
            })

            /* 정렬기준 변경 이벤트 */
            function selectNayeol(){
                var sortSelect = document.getElementById("sortSbBox");
                var selectValue = sortSelect.options[sortSelect.selectedIndex].value;
                var selectText = sortSelect.options[sortSelect.selectedIndex].text;
                var ibx_boonmoon = document.getElementById("main");
                
                console.log(selectText);

                ibx_boonmoon.textContent = selectText;
                
            }
        </script>
    </head>
    <body>
        <div class="whole_body">
            <div id="header" class="header-box">
                <h1 class="top_title">
                    <a href="/">myDrive</a>
                </h1>
            </div>
            <div id="main" class="main-part">
                <div id="menu" class="menu-area">
                    <div class="menu-box">
                        <ul class="list">
                            <details>
                                <summary><li>
                                    <a class="menu-item">
                                        <i class="fa-sharp fa-solid fa-chevron-down ico_down"></i>
                                        <span>모든 파일</span>
                                    </a>
                                </li></summary>
                                <div class="foldable_menu">
                                    <ul class="list">
                                        <li>
                                            <a href="/photo" target="iframe" class="tree_item">
                                                사진
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/movie" target="iframe" class="tree_item">
                                                동영상
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/document" target="iframe" class="tree_item">
                                                문서
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/music" target="iframe" class="tree_item">
                                                음악
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/trash" target="_blank" class="tree_item">
                                                휴지통
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </details>
                            <li>
                                <a class="menu-item pl40">
                                    <span>즐겨찾기</span>
                                </a>
                            </li>
                            <li>
                                <a href="/photo" target="iframe" class="menu-item pl40">
                                    사진
                                </a>
                            </li>
                            <li>
                                <a href="/movie" target="iframe" class="menu-item pl40">
                                    동영상
                                </a>
                            </li>
                            <li>
                                <a href="/document" target="iframe" class="menu-item pl40">
                                    문서
                                </a>
                            </li>
                            <li>
                                <a href="/music" target="iframe" class="menu-item pl40">
                                    음악
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div id="menu_bottom" class="menu_bottom">
                        <div id="myinfo_area" class="myinfo_area">
                            <div class="capacity_info">
                                <p class="text">
                                    <a>
                                        <strong>22.8GB</strong>
                                        <span>&nbsp;/&nbsp;</span>
                                        <span>30GB</span>
                                    </a>
                                    <span class="status">
                                        <a>여유 7.2GB</a>
                                    </span>
                                </p>
                                <a class="graph">
                                    <span class="bar" style="width: 77%;">
                                    </span>
                                </a>
                            </div>
                            <button type="button" class="btn_purchase">
                                이용권구매
                                <em> (월 1,650원부터)</em>
                            </button>
                        </div>
                        <div class="trash_wrap">
                            <a class="trash">
                                휴지통
                            </a>
                        </div>
                    </div>
                </div>
                <div class="main-box">
                    <div class="grid-wrap">
                        <table id="listGrid"></table>
                    </div>
                    <form class="formBox">
                        <select name="ListType" id="sortSbBox" class="listSbBox" onChange="selectNayeol()">
                            <option value="none"> 정렬 기준 </option>
                            <option value="name"> 이름순 </option>
                            <option value="date"> 날짜순 </option>
                        </select>
                    </form>
                    <div class="button-wrap">
                        <button class="btn_UploadStyle">
                            <img src='../images/icon_download.png' width="20px" height="20px" alt="다운로드 아이콘">
                            올리기
                        </button>
                        <button class="btnStyle">
                            버튼
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </body>
    </html> 