<% include ./script %>
	<body>
		<div class="whole_body">
			<div id="header" class="header-box">
				<% include ./header %>
			</div>
			<div id="main" class="main-part">
				<input type="hidden" id="btnAreaType" value="checkArea"/>
				<form class="formBox">
					<select name="ListType" id="sortSbBox" class="listSbBox" onChange="selectNayeol()">
						<option value="none"> 정렬 기준 </option>
						<option value="name"> 이름순 </option>
						<option value="date"> 날짜순 </option>
					</select>
				</form>
				<% include ./menu %>
				<div class="fileBtnArea">
					<input type="checkbox" id="allUncheck" class="Alluncheck">
					<input type="file" name="attachment" id="fileUpload" onchange="fileInsert();">
					<button class="btn_UploadStyle" onclick="fileUpload();">
						<!-- <img src='../images/icon_download.png' width="20px" height="20px" alt="다운로드 아이콘"> -->
						올리기
					</button>
					<span id="checkArea">
						<button class="btn_DownloadStyle" onclick="fn_checkFileDownload();">
							<!-- <img src='../images/icon_download.png' width="20px" height="20px" alt="다운로드 아이콘"> -->
							내려받기
						</button>
						<button class="btn_DownloadStyle" onclick="alert('파일 공유 기능입니다.');">
							<!-- <img src='../images/icon_download.png' width="20px" height="20px" alt="다운로드 아이콘"> -->
							공유
						</button>
						<button class="btn_DownloadStyle" onclick="fn_checkFileDelete('N');">
							<!-- <img src='../images/icon_download.png' width="20px" height="20px" alt="다운로드 아이콘"> -->
							삭제
						</button>
						<span class="task_text select">
							<em class="checkCnt"></em>
							개 선택
						</span>
					</span>
					<span id="trashArea">
						<button class="btn_DownloadStyle" onclick="fn_checkFileDeleteOut();">
							삭제
						</button>
						<button id="btn_reUpload" class="btn_DownloadStyle" onclick="fn_checkFileDelete('Y');">
							복원
						</button>
						<span class="task_text select">
							<em class="checkCnt"></em>
							개 선택
						</span>
					</span>
				</div>
				<iframe class="frameBox" src="main" id="gridArea" scrolling="yes"></iframe>
				<iframe id="formFrame" name="formFrame" style="display:none"></iframe>
			</div>
		</div>
	</body>
	</html> 
