<!DOCTYPE html>
<html lang="ko">
    <head>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<link href="../css/login.css?after" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" crossorigin="anonymous" />
		<meta charset="utf-8" />
		<title>MYDRIVE : 로그인</title>
	</head>
	<script>
		function loginUser(){
			var id = $("#id").val();
			if (id == "") {
				alert("아이디를 입력해주세요.");
				$("#id").focus();
				return;
			}

			var pw = $("#pw").val();
			if (pw == "") {
				alert("비밀번호를 입력해주세요.");
				$("#pw").focus();
				return;
			}

			var dataInfo = {};
			dataInfo.id = id;
			dataInfo.pw	= pw;
			
			$.ajax({
				contentType : 'application/json; charset=utf-8', type : 'post', dataType : 'json', async : false,
				url  : '/frmNIDLogin',
				data : JSON.stringify(dataInfo),
				success : function(data) {
					if(data === "S"){
                        alert("환영합니다.");
						document.location.href="/index";
					} else if (data === "I"){
						alert("존재하지 않는 아이디입니다.");
                    } else if (data === "N"){
						alert("로그인 정보가 일치하지 않습니다.");
					} else if (data === "F"){
                        alert("로그인 도중 오류가 발생하였습니다.");
                    }
				}
			});
		}
	</script>
	<body>
        <div id="wrap" class="wrap">
            <header class="header" role="banner">
                <div class="header_inner">
                    <a href="/index">
                        <span class="logo_style">
                            <i class="fa-solid fa-cloud"></i>
                            MYDRIVE
                        </span>
                    </a>
                </div>
            </header>
            <div id="container" class="container">
                <div class="content">
                    <div class="login_wrap">
                       <form id="frmNIDLogin" name="" target="_top" autocomplete="off" action="/frmNIDLogin" method="POST">
                            <ul class="panel_wrap">
                                <li class="panel_item" style="display: block;">
                                    <div class="panel_inner" role="tabpanel">
                                        <div class="id_pw_wrap">
                                            <div class="input_row" id="id_line">
                                                <div class="icon_cell" id="id_cell">
                                                    <span class="icon_id">
                                                        <i class="fa-solid fa-user" style="font-weight:100 !important;"></i>
                                                    </span>
                                                </div>
                                                <input type="text" id="id" name="id" placeholder="아이디" title="아이디" class="input_text" maxlength="41" autocomplete="username" value>
                                                <span role="button" class="btn_delete" id="id_clear" style="display: none;">
                                                    <span class="icon_delete">
                                                        <span class="blind">삭제</span>
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="input_row" id="pw_line">
                                                <div class="icon_cell" id="pw_cell">
                                                    <span class="icon_pw" >
                                                        <i class="fa-solid fa-lock"></i>
                                                    </span>
                                                </div>
                                                <input type="password" id="pw" name="pw" placeholder="비밀번호" title="비밀번호" class="input_text" maxlength="16"   autocomplete="current-password" value>
                                                <span role="button" class="btn_delete" id="pw_clear" style="display: none;">
                                                    <span class="icon_delete">
                                                        <span class="blind">삭제</span>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="login_keep_wrap" id="login_keep_wrap">
                                            <div class="keep_check">
                                                <input type="checkbox" id="keep" name="nvlong" class="input_keep" value="off">
                                                <label for="keep" class="keep_text">
                                                    <i class="fa-solid fa-circle-check"></i>
                                                    로그인 상태 유지
                                                </label>
                                            </div>
                                        </div>
                                        <!-- 나중에 개발 or 다른 방법으로 구현 -->
                                        <div class="login_error_wrap" id="err_capslock" style="display:none;"></div>
                                        <div class="login_error_wrap" id="err_id" style="display:none;"></div>
                                        <div class="login_error_wrap" id="err_pw" style="display:none;"></div>
                                        <div class="login_error_wrap" id="err_common" style="display:none;"></div>
                                        <div class="btn_login_wrap">
                                            <button type="button" class="btn_login" id="login" onclick="loginUser()">
                                                <span class="btn_text">로그인</span>
                                            </button>                                             
                                        </div>
                                    </div>
                                </li>
                            </ul>
                       </form>
                    </div>
                    <ul class="find_wrap" id="find_wrap">
                        <li>
                            <a href="/" class="find_text">비밀번호 찾기</a>
                        </li>
                        <li>
                            <a href="/" class="find_text">아이디 찾기</a>
                        </li>
                        <li>
                            <a href="/join" class="find_text">회원가입</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer">
                
            </div>
        </div>
    </body>
</html>