<head>
	<meta charset="utf-8">    
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.9.2/jquery.contextMenu.js" integrity="sha512-2ABKLSEpFs5+UK1Ol+CgAVuqwBCHBA0Im0w4oRCflK/n8PUVbSv5IY7WrKIxMynss9EKLVOn1HZ8U/H2ckimWg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.9.2/jquery.ui.position.js" integrity="sha512-vBR2rismjmjzdH54bB2Gx+xSe/17U0iHpJ1gkyucuqlTeq+Q8zwL8aJDIfhQtnWMVbEKMzF00pmFjc9IPjzR7w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://kit.fontawesome.com/ad41bee873.js" crossorigin="anonymous"></script>
	<link href="../css/style.css?after" rel="stylesheet" type="text/css">
	<link href="../css/grid.css?after" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" crossorigin="anonymous" />

	<script>
		//파일 우클릭시 메뉴 띄우기
		var contextFileInfo = "";
		var orginFileNm = "";
		$(document).ready(function(){
			$('#clean_file_menu').hide();
			$(document).contextmenu(function(e){
				//항목의 이미지 영역만 메뉴 띄우도록 설정
				if(e.target.tagName != "IMG"){
					$(".contextmenu").hide();
					return;
				}
				var targetId = e.target.id;
				//즐겨찾기 추가여부 확인
				if(targetId.split("_")[2] == "Y"){
					var innerHtml = "";
					innerHtml = '<a href="javascript:void(0);" onclick="fn_delFavor();">즐겨찾기 삭제</a>';

					$('#listFavorAt').html(innerHtml);
				}else{
					var innerHtml = "";
					innerHtml = '<a href="javascript:void(0);" onclick="fn_addFavor();">즐겨찾기 추가</a>';

					$('#listFavorAt').html(innerHtml);
				}
			
				//사용여부 확인
				if(targetId.split("_")[3] == "Y"){
					var innerHtml = "";
					innerHtml = '<a href="javascript:void(0);" onclick="fn_fileDelete(\'N\');">파일 삭제</a>';

					//파일 다운로드 태그 동적 추가
					var downloadHtml = "";
					var orgFileNm = $('#orgFileNm_' + e.target.id.split("_")[1]).attr('value');
					downloadHtml = '<a href="../uploadedFiles/' + orgFileNm + '" download>파일 다운로드</a>'

					$('#listUseAt').html(innerHtml);
					$('#fileDownload').html(downloadHtml);
					$('#fileDelete').hide();
				}else{
					var innerHtml = "";
					innerHtml = '<a href="javascript:void(0);" onclick="fn_fileDelete(\'Y\');">파일 원복</a>';
					$('#listUseAt').html(innerHtml);
					$('#fileDownload').html('');
					$('#fileDelete').show();
				}

				//정렬타입 확인 (파일조회인지 정리하기인지)
				if($('#ListType').val() == "cleanUpType"){
					$('#listFavorAt').hide();
					$('#updateFileNm').hide();
				}else{
					$('#listFavorAt').show();
					$('#updateFileNm').show();
				}

				//get window size
				var winWidth = $(document).width();
				var winHeight = $(document).height();
				//get pointer position
				var posX = e.pageX;
				var posY = e.pageY;
				
				var menuWidth = $(".contextmenu").width();
				var menuHeight = $(".contextmenu").height();
				//Security margin:
				var secMargin = 10;
				//Prevent page overflow:
				if(posX + menuWidth + secMargin >= winWidth
				&& posY + menuHeight + secMargin >= winHeight){
				//Case 1: right-bottom overflow:
				posLeft = posX - menuWidth - secMargin + "px";
				posTop = posY - menuHeight - secMargin + "px";
				}
				else if(posX + menuWidth + secMargin >= winWidth){
				//Case 2: right overflow:
				posLeft = posX - menuWidth - secMargin + "px";
				posTop = posY + secMargin + "px";
				}
				else if(posY + menuHeight + secMargin >= winHeight){
				//Case 3: bottom overflow:
				posLeft = posX + secMargin + "px";
				posTop = posY - menuHeight - secMargin + "px";
				}
				else {
				//Case 4: default values:
				posLeft = posX + secMargin + "px";
				posTop = posY + secMargin + "px";
				};
				//Display contextmenu:
				$(".contextmenu").css({
				"left": posLeft,
				"top": posTop
				}).show();
				//Prevent browser default contextmenu.
				contextFileInfo = e.target.id;
				orginFileNm = e.target.src.split("/");
				return false;
			});
			//Hide contextmenu:
			$(document).click(function(){
				$(".contextmenu").hide();
			});

			$('.cleanLi').click(function(){
				$('.cleanLi').removeClass('cleanMenuSelected');
				$(this).toggleClass('cleanMenuSelected');
			})
		});

		//파일 선택시 사이드바 정보 띄우는 이벤트
		function view_photoInfo(e){
			var fileInfo = e.id.split("_");
			var AtchfileSn = fileInfo[0];

			$.ajax({
				url : "/selectFileDtlData",
				type : "POST",
				dataType : "JSON", //"JSON"
				data : {"AtchfileSn" : AtchfileSn}

			})
			.done(function (res) {
				var sideInfo_box = document.getElementById("sideInfo_box");
				var sideEle1 = document.querySelector("#file_click");
				var sideEle2 = document.querySelector("#file_nonClick");

				if(res.length > 0){
					fileType.innerHTML = "종류 : " + res[0][2];
					fileLocation.innerHTML = "위치 : " + res[0][1];
					fileSize.innerHTML = "크기 : " + res[0][3];

					sideEle1.classList.remove("sideInfoClick");
					sideEle2.classList.add("sideInfoClick");
				}else{
					sideEle1.classList.add("sideInfoClick");
					sideEle2.classList.remove("sideInfoClick");
				}
			})
			.fail(function (xhr, textStatus, errorThrown) {
				console.log('selectFileDtlData ajax 실패');
				console.log('xhr'+xhr);
				console.log('textStatus'+textStatus);
				console.log('errorThrown'+errorThrown);
			})
		}

		//파일 삭제 (휴지통으로 이동)
		function fn_fileDelete(useAt){
			var AtchfileSn = contextFileInfo.split("_")[1];
			var emplyrSn = window.parent.$('#emplyrSn').val();
			if(confirm("파일을 삭제하시겠습니까?\n그룹에 저장된 사진이 있을 경우, 자동 삭제됩니다.\n(삭제된 파일은 휴지통으로 이동됩니다.)")){
				$.ajax({
					url : "/updateFileUseAt",
					type : "POST",
					dataType : "JSON", //"JSON"
					data : {"AtchfileSn" : AtchfileSn, "emplyrSn" : emplyrSn, "useAt":useAt}

				})
				.done(function (res) {
					window.parent.fileSelect("Y", "ALL");
				})
				.fail(function (xhr, textStatus, errorThrown) {
					console.log('updateFileUseAt ajax 실패');
					console.log('xhr'+xhr);
					console.log('textStatus'+textStatus);
					console.log('errorThrown'+errorThrown);
				})
			}
		}

		//파일 완전히 삭제
		function fn_fileDeleteOut(){
			var AtchfileSn = contextFileInfo.split("_")[1];
			var emplyrSn = window.parent.$('#emplyrSn').val();
			var orgnFileNm = orginFileNm[orginFileNm.length - 1];

			if(confirm("파일을 완전히 삭제하시겠습니까?")){
				$.ajax({
					url : "/deleteFileUseAt",
					type : "POST",
					dataType : "JSON", //"JSON"
					data : {"AtchfileSn" : AtchfileSn, "emplyrSn" : emplyrSn, "orgnFileNm" : orgnFileNm}

				})
				.done(function (res) {
					window.parent.fileSelect("Y", "ALL");
				})
				.fail(function (xhr, textStatus, errorThrown) {
					console.log('deleteFileUseAt ajax 실패');
				})
			}
		}

		//즐겨찾기 추가
		function fn_addFavor(e){
			var AtchfileSn = contextFileInfo.split("_")[1];
			var emplyrSn = window.parent.$('#emplyrSn').val();
			$.ajax({
				url : "/insertBmFavorite",
				type : "POST",
				dataType : "JSON", //"JSON"
				data : {"AtchfileSn" : AtchfileSn, "emplyrSn" : emplyrSn}

			})
			.done(function (res) {
				window.parent.fileSelect("Y", "ALL");
			})
			.fail(function (xhr, textStatus, errorThrown) {
				console.log('insertBmFavorite ajax 실패');
				console.log('xhr'+xhr);
				console.log('textStatus'+textStatus);
				console.log('errorThrown'+errorThrown);
			})
		}

		//즐겨찾기 삭제
		function fn_delFavor(e){
			var AtchfileSn = contextFileInfo.split("_")[1];
			var emplyrSn = window.parent.$('#emplyrSn').val();
			$.ajax({
				url : "/deleteBmFavorite",
				type : "POST",
				dataType : "JSON", //"JSON"
				data : {"AtchfileSn" : AtchfileSn, "emplyrSn" : emplyrSn}

			})
			.done(function (res) {
				window.parent.fileSelect("Y", "ALL");
			})
			.fail(function (xhr, textStatus, errorThrown) {
				console.log('deleteBmFavorite ajax 실패');
				console.log('xhr'+xhr);
				console.log('textStatus'+textStatus);
				console.log('errorThrown'+errorThrown);
			})
		}

		//파일명 수정
		function fn_updateFileNm(){
			var AtchfileSn = contextFileInfo.split("_")[1];
			var dvId = "dv_" + AtchfileSn;
			var dvHtml = document.getElementById(dvId)

			var dvName = dvHtml.innerHTML;
			
			var nameHtml = "";
			nameHtml += '<input type="text" id="txt_name" onfocusout = "fn_updateFileNmCb();" value="' + dvName + '"/>';

			if(confirm("파일명을 수정하시겠습니까?")){
				dvHtml.innerHTML = nameHtml;
			}
		}

		function fn_updateFileNmCb(){
			var updateNm = $('#txt_name').val();
			var AtchfileSn = contextFileInfo.split("_")[1];
			var emplyrSn = window.parent.$('#emplyrSn').val();

			$.ajax({
				url : "/updateFileNm",
				type : "POST",
				dataType : "JSON", //"JSON"
				data : {"atchmnflSn" : AtchfileSn, "fileNm" : updateNm, "sEmplyrSn" : emplyrSn}

			})
			.done(function (res) {
				window.parent.fileSelect("Y", "ALL");
			})
			.fail(function (xhr, textStatus, errorThrown) {
				console.log('updateFileNm ajax 실패');
				console.log('xhr'+xhr);
				console.log('textStatus'+textStatus);
				console.log('errorThrown'+errorThrown);
			})
		}

		//파일명 중복
		function fileNmDup() {
			$.ajax({
				url : "/cleanUpFiles",
				type : "POST",
				dataType : "JSON", //"JSON"
				data : {"cleanType":"findDupNm"}

			})
			.done(function (res) {
				var fileArea = $('#fileList');
				var ListType = $('#ListType');
				
				var fileList = "";

				for(var i=0; i<res.length; i++){
					var extsnNm = res[i][7].split("/")[0];
					var fileSrc = "../uploadedFiles/" + res[i][1];
					if(extsnNm != "image"){
						fileSrc = "../images/Icon_" + res[i][3] + ".png";
					}

					fileList += '<li class="item_fnc" id="' + res[i][5] + '" onclick="view_photoInfo(this)">';
					fileList += '<img src="' + fileSrc + '" id="img_' + res[i][5] + '_NULL_Y" class="img_item"/>\n';
					fileList += '<div class="item-name" id="dv_' + res[i][5] + '"> ' + res[i][2] + ' </div>\n';
					fileList += '<input type="hidden" id="orgFileNm_' + res[i][5] + '" value="' + res[i][1] + '"></li>\n';	//원본파일명
				}

				$(fileArea).html(fileList);      //파일 리스트
				$(ListType).attr('value', "cleanUpType");
				$('#fileTypeNm').attr('value', "ALL");
			})
			.fail(function (xhr, textStatus, errorThrown) {
				console.log('selectBkmkList ajax 실패');
				console.log('xhr'+xhr);
				console.log('textStatus'+textStatus);
				console.log('errorThrown'+errorThrown);
			})
		}

		//파일 용량순 (파일 정리하기)
		function selectFileMg(){
			var emplyrSn = window.parent.$('#emplyrSn').val();

			$.ajax({
				url : "/selectFileList",
				type : "POST",
				dataType : "JSON", //"JSON"
				data : {"emplyrSn" : emplyrSn, "useAt" : "Y", "fileType" : "ALL", "orderBy" : "fileMg"}

			})
			.done(function (res) {
				var fileList = "";

				for(var i=0; i<res.length; i++){
					var extsnNm = res[i][11].split("/")[0];
					var fileSrc = "../uploadedFiles/" + res[i][1];
					if(extsnNm != "image"){
						fileSrc = "../images/Icon_" + res[i][3] + ".png";
					}

					fileList += '<li class="item_fnc" id="' + res[i][8]+ '" onclick="view_photoInfo(this)">';
					/* ID : IMG_파일일련번호_즐겨찾기추가여부_사용여부 */
					fileList += '<img src="' + fileSrc + '" id="img_' + res[i][8] + '_' + res[i][9] + '_' + res[i][10] + '" class="img_item"/>\n';
					fileList += '<div class="item-name" id="dv_' + res[i][8] + '"> ' + res[i][2] + ' </div>\n';
					fileList += '<input type="hidden" id="orgFileNm_' + res[i][8] + '" value="' + res[i][1] + '"></li>\n';	//원본파일명
				}

				$('#fileList').html(fileList);      //파일 리스트
				$('#ListType').attr('value', "selectList");
				$('#fileTypeNm').attr('value', "ALL");
			})
			.fail(function (xhr, textStatus, errorThrown) {
				console.log('selectFileMg ajax 실패');
				console.log('xhr'+xhr);
				console.log('textStatus'+textStatus);
				console.log('errorThrown'+errorThrown);
			})
		}
	</script>
</head>