<html lang="ko">
<% include ./main_script %>
<body>
<div class="main-box">
	<div class="grid_Area">
		<ul class="item_data" id="fileList">
			<li title="test" class="item_fnc">
				<!--<div class="file_item">
					
					<img src="../uploadedFiles/1669722669212_bbf58e7fd46d70aa593cf39072f6c5f0.jpg" id="itemList" class="img_item" onclick="view_photoInfo()"/>
					<input type="checkbox" class="photo_checkbox">
					<button type="button" id="btn_start" class="fa-regular fa-star"></button>
					<div class="item-name" id="item_nm">
						sample_image
					</div>
				</div>-->
			</li>
		</ul>
		<input type="hidden" id="ListType" value="selectList">
	</div>
	<div id="contextMenuArea">
		<ul id="contextMenuList" class="contextmenu">
			<li id="updateFileNm"><a onclick="fn_updateFileNm();">파일명 수정</a></li>
			<li id="listUseAt"><a href="javascript:void(0);" onclick="fn_fileDelete();">파일 삭제</a></li>
			<li id="listFavorAt"><a href="javascript:void(0);" onclick="fn_addFavor();">즐겨찾기 추가</a></li>
			<li id="fileDelete"><a href="javascript:void(0);" onclick="fn_fileDeleteOut();">파일 완전히 삭제</a></li>
		  </ul>
	</div>
	<div id="sideInfo_box" class="sideInfo-box">
		<div id="file_click" class="sideInfoClick">
			<div id="fileType"></div>
			<div id="fileLocation"></div>
			<div id="fileSize"></div>
		</div>
		<div id="file_nonClick">
			사진을 클릭하면 정보를 볼 수 있습니다.
		</div>
	</div>
</div>
</body>