<% include ./script %>
<body>
<div class="main-box">
    <div>
        <ul class="item_data">
            <li title="test" class="item_fnc">
                <div class="file_item">
                    <img src="../images/sample_image.jpg" class="img_item" onclick="view_photoInfo()">
                    <input type="checkbox" class="photo_checkbox">
                    <button type="button" id="btn_start" class="fa-regular fa-star"></button>
                    <div class="item-name">
                        sample_image
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div id="sideInfo_box" class="sideInfo-box">
        <div id="file_click" class="sideInfoClick">
            <div id="file_type">종류</div>
            <div id="file_location">위치</div>
            <div id="file_size">크기</div>
        </div>
        <div id="file_nonClick">
            사진을 클릭하면 정보를 볼 수 있습니다.
        </div>
    </div>
</div>
</body>