<html lang="ko">
    <head>
        <meta charset="utf-8">    
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://kit.fontawesome.com/ad41bee873.js" crossorigin="anonymous"></script>
        <link href="../css/style.css?after" rel="stylesheet" type="text/css">
        <link href="../css/grid.css?after" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" crossorigin="anonymous" />

        <script>
            //파일 선택시 사이드바 정보 띄우는 이벤트
            function view_photoInfo(e){
                var fileInfo = e.id.split("_");
                var AtchfileSn = fileInfo[0];
                var fileSn = fileInfo[1];

                $.ajax({
                    url : "/selectFileDtlData",
                    type : "POST",
                    dataType : "JSON", //"JSON"
                    data : {"AtchfileSn" : AtchfileSn, "fileSn" : fileSn}

                })
                .done(function (res) {
                    console.log(res);
                    var sideInfo_box = document.getElementById("sideInfo_box");
                    var sideEle1 = document.querySelector("#file_click");
                    var sideEle2 = document.querySelector("#file_nonClick");

                    if(res.length > 0){
                        fileType.innerHTML = res[0][2];
                        fileLocation.innerHTML = res[0][1];
                        fileSize.innerHTML = res[0][3];

                        sideEle1.classList.remove("sideInfoClick");
                        sideEle2.classList.add("sideInfoClick");
                    }else{
                        sideEle1.classList.add("sideInfoClick");
                        sideEle2.classList.remove("sideInfoClick");
                    }
                })
                .fail(function (xhr, textStatus, errorThrown) {
                    console.log('selectFileDtlData ajax 실패');
                    console.log('xhr'+xhr);
                    console.log('textStatus'+textStatus);
                    console.log('errorThrown'+errorThrown);
                })
            }
        </script>
    </head>
<body>
<div class="main-box">
    <div>
        <ul class="item_data" id="fileList">
            <!--<li title="test" class="item_fnc">
                <div class="file_item">
                    <img src="../images/sample_image.jpg" id="itemList" class="img_item" onclick="view_photoInfo()">
                    <input type="checkbox" class="photo_checkbox">
                    <button type="button" id="btn_start" class="fa-regular fa-star"></button>
                    <div class="item-name" id="item_nm">
                        sample_image
                    </div>
                </div>
            </li>-->
        </ul>
    </div>
    <div id="sideInfo_box" class="sideInfo-box">
        <div id="file_click" class="sideInfoClick">
            <div id="file_type">종류</div><div id="fileType"></div>
            <div id="file_location">위치</div><div id="fileLocation"></div>
            <div id="file_size">크기</div><div id="fileSize"></div>
        </div>
        <div id="file_nonClick">
            사진을 클릭하면 정보를 볼 수 있습니다.
        </div>
    </div>
</div>
</body>