<div id="menu" class="menu-area">
    <div class="menu-box">
        <ul class="list">
            <details>
                <summary>
                    <li id="dMenu0" onclick="unselected('dMenu0'); selected('dMenu0');">
                        <a class="menu_item">
                            <i class="fa-sharp fa-solid fa-chevron-down ico_down"></i>
                            <span>모든 파일</span>
                        </a>
                    </li>
                </summary>
                <div class="foldable_menu">
                    <ul class="list mt0">
                        <li id="photo" name="menu">
                            <div id="sMenu00" onclick="unselected('sMenu00'); selected('sMenu00'); openMenu('photo');" class="tree_item">
                                사진
                            </div>
                        </li>
                        <li id="movie" name="menu">
                            <div id="sMenu01" onclick="unselected('sMenu01'); selected('sMenu01'); openMenu('movie')" class="tree_item">
                                동영상
                            </div>
                        </li>
                        <li id="document" name="menu">
                            <div id="sMenu02" onclick="unselected('sMenu02'); selected('sMenu02'); openMenu('document')" class="tree_item">
                                문서
                            </div>
                        </li>
                        <li id="music" name="menu">
                            <div id="sMenu03" onclick="unselected('sMenu03'); selected('sMenu03'); openMenu('music')" class="tree_item">
                                음악
                            </div>
                        </li>
                    </ul>
                </div>
            </details>
            <li>
                <a href="#" id="dMenu1" onclick="unselected('dMenu1'); selected('dMenu1');" class="menu_item pl40">
                    <span>최근</span>
                </a>
            </li>
            <li>
                <a href="#" id="dMenu2" onclick="unselected('dMenu2'); selected('dMenu2');" class="menu_item pl40">
                    <span>즐겨찾기</span>
                </a>
            </li>
        </ul>
        <div class="lnb_box">
            <ul class="lnb_list list">
                <details>
                    <summary>
                        <li id="dMenu3" onclick="unselected('dMenu3'); selected('dMenu3');">
                            <a class="menu_item">
                                <i class="fa-sharp fa-solid fa-chevron-down ico_down"></i>
                                <span>내 그룹</span>
                            </a>
                        </li>
                    </summary>
                    <div class="foldable_menu">
                        <ul class="list mt0">
                            <!-- 사용자가 속해있는 모임의 개수만큼 li가 늘어나야 함 -->
                            <li id="sMenu30" name="menu" onclick="unselected('sMenu30'); selected('sMenu30'); openMenu('myGroup')" >
                                <div class="tree_item">
                                    새 모임 만들기
                                </div>
                            </li>
                        </ul>
                    </div>
                </details>
            </ul>
        </div>
        <div class="lnb_box">
            <ul class="lnb_list">
                <li>
                    <a href="javascript:openWindowPop('/setting', 'popup')" class="menu_item setting cursor_pointer">
                        <i class="fa-sharp fa-solid fa-gear"></i>
                        환경설정
                    </a>
                </li>
                <% if(emplyrSn){ %>
                    <li>
                        <a href="/logout" class="menu_item setting cursor_pointer" id="logout">
                            <i class="fa-solid fa-right-from-bracket"></i>
                            로그아웃
                        <input type="hidden" id="emplyrSn" value=<%= emplyrSn %> />
                        </a>
                    </li>
                <% } else { %>
                    <li>
                        <a href="/login" class="menu_item setting cursor_pointer" id="login">
                            로그인
                        </a> 
                    </li>  
                <% } %>
            </ul>
        </div>
    </div>
    <div id="menu_bottom" class="menu_bottom">
        <div id="myinfo_area" class="myinfo_area">
            <div class="capacity_info">
                <p class="text">
                    <a>
                        <strong><span id="capacity"></span> GB</strong>
                        <span>&nbsp;/&nbsp;</span>
                        <span>100GB</span>
                    </a>
                    <span class="status">
                        <a>여유 <span id="rest_capacity"></span> GB</a>
                    </span>
                </p>
                <a class="graph">
                    <span id="bar" class="bar" style="width: 0%;">
                    </span>
                </a>
            </div>
            <button type="button" class="btn_purchase">
                이용권구매
                <em> (월 1,650원부터)</em>
            </button>
        </div>
        <div class="bottom_wrap">
            <a href="/trash" class="bottom">
                <i class="fa-solid fa-trash"></i>
                휴지통
            </a>
            <a class="bottom">
                <i class="fa-solid fa-folder-open" style="font-weight: 100;"></i>
                파일 정리하기
            </a>
        </div>
    </div>
</div>