
<% include ./script %>
    <body>
        <div class="whole_body">
            <div id="header" class="header-box">
                <% include ./header %>
            </div>
            <div id="main" class="main-part">
                <form class="formBox">
                    <select name="ListType" id="sortSbBox" class="listSbBox" onChange="selectNayeol()">
                        <option value="none"> 정렬 기준 </option>
                        <option value="name"> 이름순 </option>
                        <option value="date"> 날짜순 </option>
                    </select>
                </form>
                <div class="button-wrap">
                    <button class="btn_UploadStyle">
                        <img src='../images/icon_download.png' width="20px" height="20px" alt="다운로드 아이콘">
                        올리기
                    </button>
                    <button class="btnStyle" onclick="selectTest()">
                        버튼
                    </button>
                </div>            
                <% include ./menu %>
                <div class="main-box">
                    <div><%= data %> 입니다.
                        <ul class="item_data">
                            <li title="test" class="item_fnc">
                                <div class="file_item">
                                    <img src="../images/sample_image.jpg" class="img_item">
                                    <!--span class="checkbox"></span>-->
                                    <button type="button" id="btn_start" class="fa-regular fa-star"></button>
                                    <div class="item-name">
                                        sample_image
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
    </html> 
