<!DOCTYPE html>
<html lang="ko">
    <head>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<link href="../css/findPw.css?after" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" crossorigin="anonymous" />
		<meta charset="utf-8" />
		<title>MYDRIVE : 비밀번호 찾기</title>
	</head>
	<script>
		$('document').ready(function(){
			requestkey();
        })

		function requestkey(){    		
			$.ajax({
				/* 요청 시작 부분 */
				url: "/captcha/nkey", //주소
				data: {},
				type: "GET", //전송 타입
				async: true, //비동기 여부
				dataType: "JSON", //응답받을 데이터 타입 (XML,JSON,TEXT,HTML)
				success: function(data) {
					captchaImage(data.key);
				},
				error: function(xhr) {
					console.log("[error] : " + xhr);
				}
			});
		};

		function captchaImage(key){
			$.ajax({
				/* 요청 시작 부분 */
				url: "/captcha/image", //주소
				data: {"key":key},
				type: "GET", //전송 타입
				async: true, //비동기 여부
				dataType: "TEXT", //응답받을 데이터 타입 (XML,JSON,TEXT,HTML)
				success: function(data) {
					console.log("captchaImage success!");
					//id : chptchaimg, fildNm ; ./captcha.jpg
					document.getElementById("chptchaimg").src = "./cute_girl/img/captcha.jpg";
				},
				error: function(request,status,error) {
					console.log("error");
					//console.log(request);
					//console.log(status);
					//console.log(error);
				}
			});
		}
	</script>

	<body>
        <div id="wrap" class="wrap_leave">
			<% include ./findHeader %>
			<div id="container" style="height:870px;">
				<div id="content" class="non_sign inquiry">
					<div class="content_header">
						<h2><img src="https://static.nid.naver.com/images/web/user/h_find_pw.gif" width="99" height="16" alt="비밀번호 재설정"></h2>
						<ol class="process">
						<li>01. 아이디 입력<span>&gt;</span></li>
						<li>02. 본인 확인<span>&gt;</span></li>
						<li class="on">03. 비밀번호 재설정</li>
						</ol>
					</div>
					<p class="content_summary">비밀번호를 변경해 주세요.<br>다른 아이디나 사이트에서 사용한 적 없는 안전한 비밀번호로 변경해 주세요.</p>
					<form id="fm" name="fm" action="/user2/help/pwInquiry?m=actionInputPasswd" method="post">
                        <% if (emplyrSn != "" && emplyrSn != null){ %>
                            <input type="hidden" id="emplyrSn" value=<%= emplyrSn %> />
                            <input type="hidden" id="emplyrId" value=<%= emplyrId %> />
                        <% } %>
                    <!--                        
					<input type="hidden" id="encNewPasswd" name="encNewPasswd" value="">
					<input type="hidden" id="encNm" name="encNm" value="">
					<input type="hidden" id="id" name="id" value="otae5721">
					<input type="hidden" id="token_help" name="token_help" value="lY4lbxorPPodlL44">
					<input type="hidden" id="captcha_type" name="captcha_type" value="image">
					<input type="hidden" id="chptchakey" name="chptchakey" value="ZFlOQpSo0dD4GZ8z">
					-->
					<div class="section section_find">
						<div class="box6">
							<dl class="n_id">
							<dt>아이디 : </dt>
                            <% if(emplyrId){ %>
							<dd>                                
                                <%= emplyrId %>
                            </dd>
                            <% } %>
							</dl>
							<div id="div_new_pw" class="input_box">	
								<!--<label id="lb_new_pw" for="new_pw" style="">새 비밀번호</label>-->
								<input id="new_pw" name="new_pw" type="password" value="" maxlength="20" onkeyup="checkShiftUp(event);checkpwd_nologin('new_pw','id');" onkeypress="capslock(event);" onkeydown="checkShiftDown(event);" onfocus="checkpwd_nologin('new_pw','id');convertDiv('new_pw', 'new_conf_pw', 'none');" onblur="showhelpmsg(-1);convertDiv('new_pw', 'new_conf_pw','block')" title="새 비밀번호 입력" class="input_txt" placeholder="새 비밀번호">
								<div id="help1_1" class="help left h32" style="left:305px;top:-1px; display: none;">
									<!-- 비밀번호 안전도 -->
									<div class="txt">
										<p>
											<strong>사용불가</strong> : 비밀번호 재작성 필요<br>
											<span class="ex">8~16 자의 영문 대소문자, 숫자 및 특수문자 사용</span>
										</p>
									</div>
									<!-- //비밀번호 안전도 -->
									<span class="arrow"></span>
								</div>
								<div id="help1_2" class="help left h32" style="left:305px;top:-1px; display: none;">
									<!-- 비밀번호 안전도 -->
									<div class="txt">
										<p>비밀번호 안전도<em>|</em> <strong>낮음</strong>
											<img src="https://static.nid.naver.com/images/user/images/help/safetybar1.gif" width="47" height="3" alt=""><br>
											<span class="ex">안전도가 높은 비밀번호를 권장합니다.</span>
										</p>
									</div>
									<!-- //비밀번호 안전도 -->
									<span class="arrow"></span>
								</div>
								<div id="help1_3" class="help left h32" style="left:305px;top:-1px; display:none;">
									<!-- 비밀번호 안전도 -->
									<div class="txt">
										<p>비밀번호 안전도<em>|</em> <strong>적정</strong>
											<img src="https://static.nid.naver.com/images/user/images/help/safetybar2.gif" width="47" height="3" alt=""><br>
											<span class="ex">안전하게 사용하실 수 있는 비밀번호 입니다.</span>
										</p>
									</div>
									<!-- //비밀번호 안전도 -->
									<span class="arrow"></span>
								</div>
								<div id="help1_4" class="help left h32" style="left:305px;top:-1px; display:none;">
									<!-- 비밀번호 안전도 -->
									<div class="txt">
										<p>비밀번호 안전도<em>|</em> <strong>높음</strong>
											<img src="https://static.nid.naver.com/images/user/images/help/safetybar3.gif" width="47" height="3" alt=""><br>
											<span class="ex">예측하기 힘든 비밀번호로 더욱 안전합니다.</span>
										</p>
									</div>
									<!-- //비밀번호 안전도 -->
									<span class="arrow"></span>
								</div>
								<div id="help1_5" class="help left h32" style="left:305px;top:-1px; display: none;">
									<!-- 비밀번호 안전도 -->
									<div class="txt">
										<p>
											비밀번호 안전도<em>|</em> <strong>낮음</strong>
											<img src="https://static.nid.naver.com/images/user/images/help/safetybar1.gif" width="47" height="3" alt=""><br>
											<span class="ex">이전에 사용하셨던 비밀번호입니다. <br>도용 예방을 위해 새로운 비밀번호 <br>사용을 권장합니다.</span>
										</p>
										<p class="topline">비밀번호는 네이버 관리자도 알 수 없도록 <br>암호화하여 기존 비밀번호와의 <br>일치 여부만을 확인하고 있습니다.</p>
									</div>
									<!-- //비밀번호 안전도 -->
									<span class="arrow"></span>
								</div>
								<div id="help1_6" class="help left h32" style="left:305px;top:-1px; display: none;">
									<!-- 비밀번호 안전도 -->
									<div class="txt">
										<p>비밀번호는 8자 이상 입력하셔야 합니다.</p>
									</div>
									<!-- //비밀번호 안전도 -->
									<span class="arrow"></span>
								</div>
								<div id="help1_7" class="help left h32" style="left:305px;top:-1px; display: none;">
									<div class="txt">
										<p>
											<strong>사용불가</strong> : 비밀번호 재작성 필요<br>
											<span>입력하신 비밀번호는 도용된 <br>비밀번호이므로 추가 도용 가능성이 <br>높아 사용하실 수 없습니다.</span>
										</p>
										<p class="topline">비밀번호는 네이버 관리자도 알 수 없도록 <br>암호화하여 기존 비밀번호와의 <br>일치 여부만을 확인하고 있습니다.</p>
									</div>
									<span class="arrow"></span>
								</div>
								<!-- 비밀번호 관련레이어 팝업 -->
								<div id="help2_1" class="help left h32" style="left:305px;top:-1px; display: none;">
									<div class="txt">
										<!-- <p><span id="p01"><strong>사용불가</strong> : 비밀번호 재작성 필요 </span><br /> -->
										<p>
											<strong>사용불가</strong> : 비밀번호 재작성 필요 <br><span id="p02" class="ex">8~16 자의 영문 대소문자, 숫자 및 <br>특수문자 사용</span>
											<span class="ex2">
												키보드에<strong>CapsLock</strong>이 켜져 있습니다.
											</span>
										</p>
									</div>
									<span class="arrow"></span>
								</div>
								<div id="help2_2" class="help left h32" style="left:305px;top:-1px; display: none;">
									<div class="txt">
										<p>비밀번호 안전도<em>|</em> <strong>낮음</strong> <img alt="" src="https://static.nid.naver.com/images/user/images/help/safetybar1.gif" width="47" height="3"><br><span class="ex">안전도가 높은 비밀번호를 권장합니다.</span><span class="ex2">키보드에<strong>CapsLock</strong>이 켜져 있습니다.</span></p>
									</div>
									<span class="arrow"></span>
								</div>
								<div id="help2_3" class="help left h32" style="left:305px;top:-1px; display: none;">
									<div class="txt">
										<p>비밀번호 안전도<em>|</em> <strong>적정</strong>
										<img alt="" src="https://static.nid.naver.com/images/user/images/help/safetybar2.gif" width="47" height="3"><br>
										<span class="ex">안전하게 사용하실 수 있는 비밀번호 입니다.</span>
										<span class="ex2">키보드에<strong>CapsLock</strong>이 켜져 있습니다.</span>
										</p>
									</div>
									<span class="arrow"></span>
								</div>
								<div id="help2_4" class="help left h32" style="left:305px;top:-1px; display: none;">
									<div class="txt">
										<p>비밀번호 안전도<em>|</em> <strong>높음</strong>
											<img alt="" src="https://static.nid.naver.com/images/user/images/help/safetybar3.gif" width="47" height="3"><br>
											<span class="ex">예측하기 힘든 비밀번호로 더욱 안전합니다.</span>
											<span class="ex2">키보드에<strong>CapsLock</strong>이 켜져 있습니다.</span>
										</p>
									</div>
									<span class="arrow"></span>
								</div>
								<div id="help2_5" class="help left h32" style="left:305px;top:-1px; display: none;">
									<div class="txt">
										<p>비밀번호 안전도<em>|</em> <strong>낮음</strong>
											<img alt="" src="https://static.nid.naver.com/images/user/images/help/safetybar1.gif" width="47" height="3"><br><span class="ex">이전에 사용하셨던 비밀번호입니다. <br>도용 예방을 위해 새로운 비밀번호 <br>사용을 권장합니다.</span>
										</p>
										<p class="topline">비밀번호는 네이버 관리자도 알 수 없도록 <br>암호화하여 기존 비밀번호와의 <br>일치 여부만을 확인하고 있습니다.</p>
									</div>
									<span class="arrow"></span>
								</div>
								<div id="help2_6" class="help left h32" style="left:305px;top:-1px; display: none;">
									<div class="txt">
										<p>비밀번호는 8자 이상 입력하셔야 합니다.<span class="ex2">키보드에<strong>CapsLock</strong>이 켜져 있습니다.</span></p>
									</div>
									<span class="arrow"></span>
								</div>
								<div id="help2_7" class="help left h32" style="left:305px;top:-1px; display: none;">
									<div class="txt">
										<p><strong>사용불가</strong> : 비밀번호 재작성 필요<br><span>입력하신 비밀번호는 도용된 <br>비밀번호이므로 추가 도용 가능성이 <br>높아 사용하실 수 없습니다.</span></p>
										<p class="topline">비밀번호는 네이버 관리자도 알 수 없도록 <br>암호화하여 기존 비밀번호와의 <br>일치 여부만을 확인하고 있습니다. 
										<span class="ex2">키보드에<strong>CapsLock</strong>이 켜져 있습니다.</span></p>
									</div>
									<span class="arrow"></span>
								</div>	
							</div>	

							<div id="div_new_conf_pw" class="input_box">	
								<!--<label id="lb_new_conf_pw" for="new_conf_pw" style="">새 비밀번호 확인</label>-->
								<input id="new_conf_pw" name="new_conf_pw" type="password" value="" maxlength="20" onfocus="convertDiv('new_conf_pw', 'new_pw', 'none')" onblur="convertDiv('new_conf_pw', 'new_pw','block')" title="새 비밀번호 확인" class="input_txt" placeholder="새 비밀번호 확인">
							</div>
							<!-- 이미지로 보기 -->
							<div id="captcha_image_legend" class="captcha" style="display:block">
								<p class="error_txt">아래 이미지를 보이는 대로 입력해주세요</p>
								<div id="image_captcha_div" class="error_v2">
									<span class="error_img">
										<img name="captchaImage" id="chptchaimg" src="" width="205" height="80" alt="자동 가입 방지">
									</span>
									<a href="javascript:reCaptcha('');" id="aReCaptcha" onclick="" class="btn_refresh"><span>새로고침</span></a>
									<a href="javascript:changeCaptchaMode('', 'autoValue');" class="btn_sound"><span>음성으로 듣기</span></a>
									<span class="blind"> 자동입력방지문자 음성 안내입니다. 음성으로 듣기 버튼을 누르신 후 들려드리는 숫자 6자리를 자동입력 방지문자 입력창에 입력해 주세요. 다시 듣고 싶으면, 키보드 컨트롤키와 알트키를 누르고 알파벳 R을 눌러주세요.</span>
								</div>
							</div>				
							<!-- // 이미지로 보기 -->
							<!-- [D]음성으로 듣기했을경우 display:block -->
							<div id="captcha_sound_legend" class="captcha error_sound" style="display:none">
								<p class="error_txt">스피커로 들리는 내용을 숫자로 입력해 주세요.</p>
								<div id="sound_captcha_div" class="error_v2" style="display:none">
									<span class="error_img">음성으로 안내되고 있습니다. (시작음 3회 반복 후 재생)</span>
									<a href="javascript:playSoundCaptcha('');" id="play_audio" class="btn_refresh"><span>새로고침</span></a>
									<a href="javascript:changeCaptchaMode('');" class="btn_img"><span>이미지로 보기</span></a>
								</div>
							</div>					
							<!-- //음성으로 듣기 -->
			
							<!-- [D]focus시 클래스 focus 추가, label은 display:none시켜주세요 -->
							<div id="bdr_autoValue" class="input_box input_box_v2">
								<!--<label id="lbCapcha" for="autoValue" class="lbl_in" style="display: block;">자동입력 방지문자</label> -->
								<span class="int_box" style="width:289px">
									 <!-- 캡챠 어뷰징 방지를 위해 maxlength는 제거함 : 2014-02-11- euli0912 -->					    
									<input type="text" id="autoValue" name="autoValue" onkeydown="checkNumber();" title="자동입력 방지문자" onfocus="hiddenText('lbCapcha');changeFocus('bdr_autoValue','on')" onblur="showText('lbCapcha','autoValue');changeFocus('bdr_autoValue','off')" class="int" style="width:289px" placeholder="자동입력 방지문자">
								</span>
							</div>				
							<!-- //자동입력 방지문자-->
							<ul class="find_notice">
							<li>영문, 숫자, 특수문자를 함께 사용하면(8자 이상 16자 이하)보다 안전합니다.</li>
							<li>다른 사이트와 다른 <strong>네이버 아이디만의 비밀번호</strong>를 만들어 주세요.</li>
							<li class="n_bu">
								<div id="divShowBlock" class="ip_che" style="display:none">
									<input type="checkbox" id="chkBlockIp" name="chkBlockIp" onclick="clickcr(this,'rst.ipblock','','',event);" class="input_chk" checked="">
									<label for="chkBlockIp">보안 강화를 위해 해외 IP에서의 로그인 차단</label>
									<a href="javascript:toggle();" onclick="clickcr(this,'rst.ipblockhelp','','',event);" class="ico_help2"><span class="blind">도움말</span></a>
									<!-- 해외ip차단 도움말 -->
									<div id="tmpBlockIp" style="position:relative">
										<!-- [D] 레이어 팝업 비활성화시 style="display:none" -->
										<div id="blockIp" class="ly_pop_ab" style="display:none;">
											<span class="edge"></span> 
											<p>해외에서 접속할 경우 회원정보에 등록된 이름/생일을 입력하여 본인 여부를 확인합니다. <br>기억나지 않을 경우 등록된 사용자 연락처 정보로 로그인 하실 수 있습니다.</p>
											<p class="desc">해외 사용자이시거나, 여행, 출장 등으로 해외에서 체류할 경우 해제해 주세요.</p> 
										</div>
									</div>
								</div>
							</li>
							</ul>
						</div>
						<div class="btn_area">
							<a href="#" id="changeSubmit" onclick="input_submit();clickcr(this,'rst.ok','','',event);" class="btn_confirm2"><span class="blind">확인</span></a>
						</div>
						
						<!-- [D] 상세내용 펼쳤을때 클래스 open 추가 -->
						<div class="find_dsc">
							<p>비밀번호를 바꾸면, 모바일 기기(휴대전화/태블릿 PC)와 외부 메일 프로그램(POP3)에서 모두 로그아웃 됩니다.<br>새로운 비밀번호로 다시 로그인해 주세요. <a href="http://mail.naver.com/notice/10000000000022016772" class="btn_detail" target="_blank">자세히 보기<em class="ico_arr2"></em></a></p>
						</div>
						<p></p>
					</div>
					</form>
				</div>
            </div>
            <% include ./findFooter %>
        </div>
    </body>
</html>