<html lang="ko">
    <head>
        <meta charset="utf-8">    
<!--        <link rel="stylesheet" type="text/css" href="/js/common/jquery/jquery-ui.min.css"/>
        <link rel="stylesheet" type="text/css" href="/jqGrid/css/ui.jqgrid.css"/>-->
        <!--<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>-->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://kit.fontawesome.com/ad41bee873.js" crossorigin="anonymous"></script>
        <link href="../css/style.css?after" rel="stylesheet" type="text/css">
        <link href="../css/menu.css?after" rel="stylesheet" type="text/css">
        <link href="../css/grid.css?after" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" crossorigin="anonymous" />

        <!--<script type="text/javascript" src="/js/common/jquery/jquery-3.2.1.min.js"></script>
        <script src="/jqGrid/js/i18n/grid.locale-kr.js" type="text/javascript"></script>
        <script src="/jqGrid/js/minified/jquery.jqGrid.min.js" type="text/javascript"></script>-->
        <script>
            window.onload = function(){
                file_Volume();
                fileSelect();
            }
            
            /*2022.11.21 window.onload로 수정
            $(document).ready(function(){                
                file_Volume();  // 사용자별 총 파일용량 읽어오기
            });*/

            //파일용량 읽어오기
            function file_Volume(){
                var emplyrSn = document.getElementById('emplyrSn').value;
                /* 2022.11.21 최다혜
                  콘솔 Cannot read properties of null (reading 'value') 해결 예정
                */

                $.ajax({
                    url : "/selectFileVolume",
                    type : "POST",
                    dataType : "JSON", //"JSON"
                    data : {"emplyrSn" : emplyrSn}

                })
                .done(function (res) {
                    $("#capacity").text(res[0]);            // 사용중 용량
                    $("#rest_capacity").text(100-res[0]);   // 남은 용량

                    var bar = document.getElementById('bar');
                    bar.style.width = res[0]+'%';           // graph color control = 남은용량/100
                })
                .fail(function (xhr, textStatus, errorThrown) {
                    console.log('selectFileVolume ajax 실패');
                    console.log('xhr'+xhr);
                    console.log('textStatus'+textStatus);
                    console.log('errorThrown'+errorThrown);
                })
            }
            
            /* 정렬기준 변경 이벤트 */
            function selectNayeol(){
                var sortSelect = document.getElementById("sortSbBox");
                var selectValue = sortSelect.options[sortSelect.selectedIndex].value;
                var selectText = sortSelect.options[sortSelect.selectedIndex].text;
                var ibx_boonmoon = document.getElementById("main");

                ibx_boonmoon.textContent = selectText;
                
            }
            
            //됨
            function selectTest(){
                console.log('selectTest');
                $.ajax({
                    url : "/selectTest",
                    type : "POST",
                    dataType : "JSON" //"TEXT"
                    //data : {"data" : "test"}
                })
                .done(function (res) {
                    console.log('selectTest ajax 성공');
                    console.log(res);
                })
                .fail(function (xhr, textStatus, errorThrown) {
                    console.log('ajax 실패');
                    console.log('xhr'+xhr);
                    console.log('textStatus'+textStatus);
                    console.log('errorThrown'+errorThrown);
                })
            }
            
            /* 안됨 */
            $("#ajaxSend").click(function(){
                alert("ajaxSend 테스트");
                $.ajax({
                    url : "/selectTest",
                    type : "POST",
                    dataType : "JSON",
                    data : {"data" : "test"}
                })

                .done(function (res) {
                    console.log('제이쿼리 ajax 성공');
                })

                .fail(function (xhr, textStatus, errorThrown) {
                    console.log('제이쿼리 ajax 실패');
                    console.log('xhr'+xhr);
                    console.log('textStatus'+textStatus);
                    console.log('errorThrown'+errorThrown);
                })
            });

            function openMenu(menuNm){
                var gridArea = document.getElementById("gridArea");
                
                console.log(gridArea);
                console.log(menuNm);

                document.getElementById("gridArea").src = menuNm;
            }

            //파일 선택시 사이드바 정보 띄우는 이벤트
            function view_photoInfo(){
                console.log(this);
                var sideInfo_box = document.getElementById("sideInfo_box");
                var sideEle1 = document.querySelector("#file_click");
                var sideEle2 = document.querySelector("#file_nonClick");


                //sideInfo_box.textContent = "사진을 선택하였습니다.";

                sideEle1.classList.toggle("sideInfoClick");
                sideEle2.classList.toggle("sideInfoClick");
            }

            /* 파일 업로드 */
            function fileUpload(){
                console.log('file upload!');
                const formData = new FormData();
                formData.append('file', $('#fileUpload')[0].files[0]);

                $.ajax({
                    type:"POST",
                    processData : false,
                    contentType : false,
                    enctype: 'multipart/form-data',
                    url : '/uploadFile',
                    data : formData,
                    success:function(r){
                        console.log('file success');
                    },
                    error:function(){
                        console.log('fileUpload ajax error');
                    }
                })
            }

            /* 파일 조회 */
            function fileSelect(){
                var emplyrSn = document.getElementById('emplyrSn').value;

                $.ajax({
                    url : "/selectFileList",
                    type : "POST",
                    dataType : "JSON", //"JSON"
                    data : {"emplyrSn" : emplyrSn}

                })
                .done(function (res) {
                    var fileArea = $('#gridArea').contents().find('#fileList');
                    
                    var fileList = "";

                    for(var i=0; i<res.length; i++){
                        // $('#fileList').append('<li><img src="./uploadedFiles/' + res[i][2] + '" class="img_item" onclick="view_photoInfo()"><div class="item-name"> ' + res[i][1] + ' </div></li>');
                        fileList += '<li class="item_fnc"><img src="./uploadedFiles/' + res[i][2] + '" class="img_item" onclick="view_photoInfo()">\n';
                        fileList += '<input type="hidden" id="fileType' + [i] + '" value=' + res[i][3] + '>';
                        fileList += '<input type="hidden" id="fileLocation' + [i] + '" value=' + res[i][0] + '>';
                        fileList += '<input type="hidden" id="fileSize' + [i] + '" value=' + res[i][4] + '>';
                        fileList += '<input type="hidden" id="downNum' + [i] + '" value=' + res[i][5] + '>';
                        fileList += '<input type="hidden" id="frstDt' + [i] + '" value=' + res[i][6] + '>';
                        fileList += '<div class="item-name"> ' + res[i][1] + ' </div></li>\n';
                    }

                    $(fileArea).append(fileList);      //파일 리스트
                    console.log($('#fileList').innerHTML);
                })
                .fail(function (xhr, textStatus, errorThrown) {
                    console.log('selectFileList ajax 실패');
                    console.log('xhr'+xhr);
                    console.log('textStatus'+textStatus);
                    console.log('errorThrown'+errorThrown);
                })
            }
        </script>
    </head>