<html lang="ko">
	<head>
		<meta charset="utf-8">
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<!--<script  src="http://code.jquery.com/jquery-latest.min.js"></script>-->
		<script src="https://kit.fontawesome.com/ad41bee873.js" crossorigin="anonymous"></script>
		<link href="../css/style.css?after" rel="stylesheet" type="text/css">
		<link href="../css/menu.css?after" rel="stylesheet" type="text/css">
		<link href="../css/grid.css?after" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" crossorigin="anonymous" />

		<script>
			window.onload = function(){
				file_Volume();	// 파일 용량 조회
				fileSelect("Y", "ALL");	// 파일 조회
				closeModal();	//모임만들기 모달 닫기
				document.getElementById('void_btn').disabled = true;
			};

			//파일용량 읽어오기
			function file_Volume(){
				var emplyrSn = $('#emplyrSn').val();

				$.ajax({
					url : "/selectFileVolume",
					type : "POST",
					dataType : "JSON", //"JSON"
					data : {"emplyrSn" : emplyrSn}
				})
				.done(function (res) {
					$("#capacity").text(res[0][0]);        // 사용중 용량
					$("#rest_capacity").text(res[0][3]);   // 남은 용량

					var bar = document.getElementById('bar');
					bar.style.width = res[0][0]/10+'%';           // graph color control = 남은용량 퍼센트
				})
				.fail(function (xhr, textStatus, errorThrown) {
					console.log('selectFileVolume ajax 실패');
				})
			};
			
			/* 정렬기준 변경 이벤트 */
			function selectNayeol(){
				var sortSelect = document.getElementById("sortSbBox");
				var selectValue = sortSelect.options[sortSelect.selectedIndex].value;
				var selectText = sortSelect.options[sortSelect.selectedIndex].text;
				var ibx_boonmoon = document.getElementById("main");

				ibx_boonmoon.textContent = selectText;
				
			};

			function openMenu(menuNm){
				var gridArea = document.getElementById("gridArea");
				
				console.log(gridArea);
				console.log(menuNm);                
				document.getElementById("gridArea").src = menuNm;
			};
			
			//파일 선택시 사이드바 정보 띄우는 이벤트
			function view_photoInfo(){
				var fileInfoArea = $('#gridArea').contents().find('#file_type')

				$('#gridArea').contents().find('#file_type').textContent = "종류 클릭";

				var sideInfo_box = document.getElementById("sideInfo_box");
				var sideEle1 = document.querySelector("#file_click");
				var sideEle2 = document.querySelector("#file_nonClick");


				//sideInfo_box.textContent = "사진을 선택하였습니다.";

				sideEle1.classList.toggle("sideInfoClick");
				sideEle2.classList.toggle("sideInfoClick");
			};

			// 대메뉴, 소메뉴 선택시 클래스 삭제
			function unselected(gbn){
				/* 
				 * 대메뉴 id 명명규칙 : dMenu0, dMenu1..
				 * 소메뉴 id 명명규칙 : sMenu00, sMenu01 (대메뉴 dMenu0아래의 소메뉴) / sMenu10, sMenu11 (대메뉴 dMenu1아래의 소메뉴)
				*/
				// 하드코딩, 메뉴 코드관리?
				for( var i=0; i<4; i++){    //대메뉴 4개
						document.getElementById('dMenu'+i).classList.remove('selected');
					}

				for( var i=0; i<4; i++){    //소메뉴(모든파일) 4개
					document.getElementById('sMenu0'+i).classList.remove('selected');
				}

				for( var i=0; i<1; i++){    //소메뉴(내 그룹) 2개
					document.getElementById('sMenu3'+i).classList.remove('selected');
				}
			};

			// 대메뉴, 소메뉴 선택시 클래스 추가
			function selected(menuId){
				document.getElementById(menuId).classList.add('selected');
			};

			/* 파일 업로드 */
			function fileUpload(){
				// debugger;
				var formData = new FormData();
				formData.append('attachment', $('#fileUpload')[0].files[0]);
				console.log(formData);

				$.ajax({
					url : '/uploadFile',
					type:"POST",
					processData : false,
					contentType : false,
					async : false,
					enctype: 'multipart/form-data',
					dataType : "JSON",
					data : formData,
					success:function(result){
						if(result == "exe"){
							alert("exe 파일은 업로드할 수 없습니다!");
						}else{
							alert("업로드가 완료되었습니다.");
						}
						// if ($.browser.msie) {
							// ie 일때 input[type=file] init.
							// $("#fileUpload").replaceWith( $("#filename").clone(true) );
						// } else {
							// other browser 일때 input[type=file] init.
							$("#fileUpload").val("");
							fileSelect("Y", "ALL");
							file_Volume();
						// }
					},
					error:function(e){
						console.log('fileUpload ajax error');
						console.log(e);
					}
				});
			};

			// 파일 조회 
			function fileSelect(useAt, fileType){
				var emplyrSn = document.getElementById('emplyrSn').value;

				$.ajax({
					url : "/selectFileList",
					type : "POST",
					dataType : "JSON", //"JSON"
					data : {"emplyrSn" : emplyrSn, "useAt" : useAt, "fileType" : fileType}

				})
				.done(function (res) {
					var fileArea = $('#gridArea').contents().find('#fileList');
					var ListType = $('#gridArea').contents().find('#ListType');
					
					var fileList = "";

					for(var i=0; i<res.length; i++){
						fileList += '<li class="item_fnc" id="' + res[i][8] + '_' + res[i][9] + '" onclick="view_photoInfo(this)">';
						/* ID : IMG_파일일련번호_즐겨찾기추가여부_사용여부 */
						fileList += '<img src="../uploadedFiles/' + res[i][1] + '" id="img_' + res[i][8] + '_' + res[i][10] + '_' + res[i][11] + '" class="img_item"/>\n';
						fileList += '<div class="item-name" id="dv_' + res[i][8] + '"> ' + res[i][2] + ' </div></li>\n';
					}

					$(fileArea).html(fileList);      //파일 리스트
					$(ListType).attr('value', "selectList");
				})
				.fail(function (xhr, textStatus, errorThrown) {
					console.log('selectFileList ajax 실패');
					console.log('xhr'+xhr);
					console.log('textStatus'+textStatus);
					console.log('errorThrown'+errorThrown);
				})
			};

			// 환경설정 팝업
			function openWindowPop(url, name){
				var options = 'top=100, left=650, width=790, height=635, status=no, menubar=no, toolbar=no, resizable=no';
				window.open(url, name, options);
			};

			/* 즐겨찾기 조회 */
			function selectBkmk(){
				var emplyrSn = document.getElementById('emplyrSn').value;

				$.ajax({
					url : "/selectBkmkList",
					type : "POST",
					dataType : "JSON", //"JSON"
					data : {"emplyrSn" : emplyrSn}

				})
				.done(function (res) {
					var fileArea = $('#gridArea').contents().find('#fileList');
					var emplyrSnArea = $('#gridArea').contents().find('#emplyrSn');
					
					var fileList = "";

					for(var i=0; i<res.length; i++){
						fileList += '<li class="item_fnc" id="' + res[i][0] + '_' + res[i][1] + '" ondblclick="view_photoInfo(this)">';
						fileList += '<img src="../uploadedFiles/' + res[i][3] + '" id="img_' + res[i][0] + '_' + res[i][1] + '" class="img_item"/>\n';
						fileList += '<div class="item-name" id="dv_' + res[i][0] + '"> ' + res[i][6] + ' </div></li>\n';
					}

					$(fileArea).html(fileList);      //파일 리스트
					$(emplyrSnArea).value = emplyrSn;
				})
				.fail(function (xhr, textStatus, errorThrown) {
					console.log('selectBkmkList ajax 실패');
					console.log('xhr'+xhr);
					console.log('textStatus'+textStatus);
					console.log('errorThrown'+errorThrown);
				})
			};

			//파일정리하기
			function cleanUpFiles(cleanType){
				var emplyrSn = document.getElementById('emplyrSn').value;

				$.ajax({
					url : "/cleanUpFiles",
					type : "POST",
					dataType : "JSON", //"JSON"
					data : {"emplyrSn" : emplyrSn, "cleanType":cleanType}

				})
				.done(function (res) {
					var fileArea = $('#gridArea').contents().find('#fileList');
					var ListType = $('#gridArea').contents().find('#ListType');
					
					var fileList = "";

					for(var i=0; i<res.length; i++){
						fileList += '<li class="item_fnc" id="' + res[i][5] + '_' + res[i][6] + '" ondblclick="view_photoInfo(this)">';
						fileList += '<img src="../uploadedFiles/' + res[i][1] + '" id="img_' + res[i][5] + '_NULL_Y" class="img_item"/>\n';
						fileList += '<div class="item-name" id="dv_' + res[i][5] + '"> ' + res[i][2] + ' </div></li>\n';
					}

					$(fileArea).html(fileList);      //파일 리스트
					$(ListType).attr('value', "cleanUpType");
				})
				.fail(function (xhr, textStatus, errorThrown) {
					console.log('selectBkmkList ajax 실패');
					console.log('xhr'+xhr);
					console.log('textStatus'+textStatus);
					console.log('errorThrown'+errorThrown);
				})
			}
				
			// 모임만들기 모달 열기
			function openModal() {
				$('.modal_wrap').show();
				$('.next_modal').hide();
			};

			// 모임만들기 모달 닫기
			function closeModal() {
				$('.modal_wrap').hide();
				$('.next_modal').hide();
				document.getElementById('input_group').value = "";
			};

			// 모임만들기 완료 모달 열기
			function nextModal(){
				$('.modal_wrap').hide();

				var emplyrSn = $('#emplyrSn').val();
				var groupNm = $('#input_group').val();

				// 이 시점에서 그룹을 만든다.
				$.ajax({
					url : "/insertNewGroup",
					type : "POST",
					dataType : "JSON",
					data : {"emplyrSn" : emplyrSn, "groupNm" : groupNm, "useAt" : "Y"},
					success:function(result){
						if(result == "S"){
							$('.next_modal').show();
							mygroup("add");
						} else {
							alert("새 모임 만들기 중 오류가 발생하였습니다.(ajax성공)");
						}
					},
					error:function(e){
						alert("새 모임 만들기 중 오류가 발생하였습니다.(ajax실패)");
					}
				})
			};

			// 다음버튼 활성화/비활성화
			function nextBtn(){				
				var input = document.getElementById('input_group').value;
				var nextBtn = document.getElementById('void_btn');

				if(input.length > 0){
					nextBtn.disabled = false;
					if(input.length > 15){
						alert('모임명은 15글자를 초과할 수 없습니다.')
					}
				} else {
					nextBtn.disabled = true;
				}
			};

			// 사용자마다 내 그룹을 찾아서 메뉴에 추가하여 보여줘야함
			function mygroup(data){
				var emplyrSn = $('#emplyrSn').val();
				
				$.ajax({
					url : "/selectMyGroup",
					type : "POST",
					dataType : "JSON", //"JSON"
					data : {"emplyrSn" : emplyrSn},
					success:function(result){
						if(result.length > 0){
							if(data == "add"){	// 내 모임 만들기 이후 재 조회가 필요한 경우
								var num = result.length-1;
								var ul_list = $("#ul_list");
								ul_list.append("<li id='add_li_"+num+"' class='add_li'><div class='tree_item'> "+result[num][1]+"</div></li>"); //ul_list안쪽에 li추가
							} else {	// 그냥 메뉴에서 내 그룹 연경우
								//if(document.getElementById("removeChild")){	//removeCHild가 존재하면 삭제 
									//0ㄱㅐ로 세팅
								//}
								for(var i=0; i<result.length; i++){
									//li 동적생성
									var ul_list = $("#ul_list");
									ul_list.append("<li id='add_li_"+i+"' class='add_li'><div class='tree_item'> "+result[i][1]+"</div></li>"); //ul_list안쪽에 li추가
								}
							}							
						} else if(result.Status == "F"){
							alert("내 그룹 불러오는 도중 오류가 발생하였습니다.");
						}
					},
					error:function(e){
						alert("내 그룹 불러오는 도중 오류가 발생하였습니다.(ajax에러)");
					}
				})
			};

			// 각 그룹 오픈
			$(document).on("click",".add_li", function(){
				var id_check = $(this).attr("id");
				var idNum = id_check.substr(7);
				var emplyrSn = $('#emplyrSn').val();

				var data = {
					"emplyrSn"	: emplyrSn,
					"num"		: idNum
				}
				// 내가 클릭한 그룹의 정보를 갖고와야 함.				
				$.ajax({
					url : "/selectedGouprSn",
					type : "POST",
					dataType : "JSON", //"JSON"
					data : data,
					success:function(result){
						document.getElementById('groupSn').value = result.groupSn;
						document.getElementById('groupNm').value = result.groupNm;
						document.getElementById('emplyrNm').value = result.emplyrNm;
						document.getElementById('emplyrId').value = result.emplyrId;
						openMenu('group');
					},
					error:function(e){
						alert("그룹의 일련번호 조회 도중 오류가 발생하였습니다.(ajax에러)");
					}
				})
			})
		</script>
	</head>