<html lang="ko">
	<head>
		<meta charset="utf-8">    
<!--        <link rel="stylesheet" type="text/css" href="/js/common/jquery/jquery-ui.min.css"/>
		<link rel="stylesheet" type="text/css" href="/jqGrid/css/ui.jqgrid.css"/>-->
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script src="https://kit.fontawesome.com/ad41bee873.js" crossorigin="anonymous"></script>
		<link href="../css/style.css?after" rel="stylesheet" type="text/css">
		<link href="../css/menu.css?after" rel="stylesheet" type="text/css">
		<link href="../css/grid.css?after" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" crossorigin="anonymous" />

		<!--<script type="text/javascript" src="/js/common/jquery/jquery-3.2.1.min.js"></script>
		<script src="/jqGrid/js/i18n/grid.locale-kr.js" type="text/javascript"></script>
		<script src="/jqGrid/js/minified/jquery.jqGrid.min.js" type="text/javascript"></script>-->
		<script>
			window.onload = function(){
				file_Volume();	// 파일 용량 조회
				fileSelect();	// 파일 조회
				closeModal();	//모임만들기 모달 닫기
				document.getElementById('void_btn').disabled = true;
			};

			//파일용량 읽어오기
			function file_Volume(){
				var emplyrSn = $('#emplyrSn').val();

				$.ajax({
					url : "/selectFileVolume",
					type : "POST",
					dataType : "JSON", //"JSON"
					data : {"emplyrSn" : emplyrSn}
				})
				.done(function (res) {
					$("#capacity").text(res[0][0]);        // 사용중 용량
					$("#rest_capacity").text(res[0][3]);   // 남은 용량

					var bar = document.getElementById('bar');
					bar.style.width = res[0][0]/10+'%';           // graph color control = 남은용량 퍼센트
				})
				.fail(function (xhr, textStatus, errorThrown) {
					console.log('selectFileVolume ajax 실패');
				})
			};
			
			/* 정렬기준 변경 이벤트 */
			function selectNayeol(){
				var sortSelect = document.getElementById("sortSbBox");
				var selectValue = sortSelect.options[sortSelect.selectedIndex].value;
				var selectText = sortSelect.options[sortSelect.selectedIndex].text;
				var ibx_boonmoon = document.getElementById("main");

				ibx_boonmoon.textContent = selectText;
				
			};

			function openMenu(menuNm){
				var gridArea = document.getElementById("gridArea");
				
				console.log(gridArea);
				console.log(menuNm);                

				document.getElementById("gridArea").src = menuNm;
			};
			
			//파일 선택시 사이드바 정보 띄우는 이벤트
			function view_photoInfo(){
				var fileInfoArea = $('#gridArea').contents().find('#file_type')

				$('#gridArea').contents().find('#file_type').textContent = "종류 클릭";

				var sideInfo_box = document.getElementById("sideInfo_box");
				var sideEle1 = document.querySelector("#file_click");
				var sideEle2 = document.querySelector("#file_nonClick");


				//sideInfo_box.textContent = "사진을 선택하였습니다.";

				sideEle1.classList.toggle("sideInfoClick");
				sideEle2.classList.toggle("sideInfoClick");
			};

			// 대메뉴, 소메뉴 선택시 클래스 삭제
			function unselected(gbn){
				/* 
				 * 대메뉴 id 명명규칙 : dMenu0, dMenu1..
				 * 소메뉴 id 명명규칙 : sMenu00, sMenu01 (대메뉴 dMenu0아래의 소메뉴) / sMenu10, sMenu11 (대메뉴 dMenu1아래의 소메뉴)
				*/
				// 하드코딩, 메뉴 코드관리?
				for( var i=0; i<4; i++){    //대메뉴 4개
						document.getElementById('dMenu'+i).classList.remove('selected');
					}

				for( var i=0; i<4; i++){    //소메뉴(모든파일) 4개
					document.getElementById('sMenu0'+i).classList.remove('selected');
				}

				for( var i=0; i<1; i++){    //소메뉴(내 그룹) 2개
					document.getElementById('sMenu3'+i).classList.remove('selected');
				}
			};

			// 대메뉴, 소메뉴 선택시 클래스 추가
			function selected(menuId){
				document.getElementById(menuId).classList.add('selected');
			};

			/* 파일 업로드 */
			function fileUpload(){
				// debugger;
				var formData = new FormData();
				formData.append('attachment', $('#fileUpload')[0].files[0]);
				console.log(formData);

				$.ajax({
					url : '/uploadFile',
					type:"POST",
					processData : false,
					contentType : false,
					async : false,
					enctype: 'multipart/form-data',
					dataType : "JSON",
					data : formData,
					success:function(result){
						if(result == "exe"){
							alert("exe 파일은 업로드할 수 없습니다!");
						}else{
							alert("업로드가 완료되었습니다.");
						}
						// if ($.browser.msie) {
							// ie 일때 input[type=file] init.
							// $("#fileUpload").replaceWith( $("#filename").clone(true) );
						// } else {
							// other browser 일때 input[type=file] init.
							$("#fileUpload").val("");
						// }
					},
					error:function(e){
						console.log('fileUpload ajax error');
						console.log(e);
					}
				});
			};

			// 파일 조회 
			function fileSelect(){
				var emplyrSn = document.getElementById('emplyrSn').value;

				$.ajax({
					url : "/selectFileList",
					type : "POST",
					dataType : "JSON", //"JSON"
					data : {"emplyrSn" : emplyrSn, "useAt" : "Y"}	// 2022.12.23 최다혜 : 오류가 나길래 임시 수정(useAt : "Y" 추가)

				})
				.done(function (res) {
					var fileArea = $('#gridArea').contents().find('#fileList');
					var emplyrSnArea = $('#gridArea').contents().find('#emplyrSn');
					
					var fileList = "";

					for(var i=0; i<res.length; i++){
						fileList += '<li class="item_fnc" id="' + res[i][8] + '_' + res[i][9] + '" ondblclick="view_photoInfo(this)">';
						fileList += '<img src="../uploadedFiles/' + res[i][1] + '" id="img_' + res[i][8] + '_' + res[i][10] + '" class="img_item"/>\n';
						fileList += '<div class="item-name" id="dv_' + res[i][8] + '"> ' + res[i][2] + ' </div></li>\n';
					}

					$(fileArea).html(fileList);      //파일 리스트
					$(emplyrSnArea).value = emplyrSn;
					console.log(emplyrSnArea);
				})
				.fail(function (xhr, textStatus, errorThrown) {
					console.log('selectFileList ajax 실패');
					console.log('xhr'+xhr);
					console.log('textStatus'+textStatus);
					console.log('errorThrown'+errorThrown);
				})
			};

			// 환경설정 팝업
			function openWindowPop(url, name){
				var options = 'top=100, left=650, width=790, height=635, status=no, menubar=no, toolbar=no, resizable=no';
				window.open(url, name, options);
			};

			/* 즐겨찾기 조회 */
			function selectBkmk(){
				var emplyrSn = document.getElementById('emplyrSn').value;

				$.ajax({
					url : "/selectBkmkList",
					type : "POST",
					dataType : "JSON", //"JSON"
					data : {"emplyrSn" : emplyrSn}

				})
				.done(function (res) {
					var fileArea = $('#gridArea').contents().find('#fileList');
					var emplyrSnArea = $('#gridArea').contents().find('#emplyrSn');
					
					var fileList = "";

					for(var i=0; i<res.length; i++){
						fileList += '<li class="item_fnc" id="' + res[i][0] + '_' + res[i][1] + '" ondblclick="view_photoInfo(this)">';
						fileList += '<img src="../uploadedFiles/' + res[i][3] + '" id="img_' + res[i][0] + '_' + res[i][1] + '" class="img_item"/>\n';
						fileList += '<div class="item-name" id="dv_' + res[i][0] + '"> ' + res[i][6] + ' </div></li>\n';
					}

					$(fileArea).html(fileList);      //파일 리스트
					$(emplyrSnArea).value = emplyrSn;
				})
				.fail(function (xhr, textStatus, errorThrown) {
					console.log('selectBkmkList ajax 실패');
					console.log('xhr'+xhr);
					console.log('textStatus'+textStatus);
					console.log('errorThrown'+errorThrown);
				})
			};
				
			// 모임만들기 모달 열기
			function openModal() {
				$('.modal_wrap').show();
				$('.next_modal').hide();
			};

			// 모임만들기 모달 닫기
			function closeModal() {
				$('.modal_wrap').hide();
				$('.next_modal').hide();
				document.getElementById('input_group').value = "";
			};

			// 모임만들기 완료 모달 열기
			function nextModal(){
				$('.modal_wrap').hide();

				var emplyrSn = $('#emplyrSn').val();
				var groupNm = $('#input_group').val();

				// 이 시점에서 그룹을 만든다.
				$.ajax({
					url : "/insertNewGroup",
					type : "POST",
					dataType : "JSON",
					data : {"emplyrSn" : emplyrSn, "groupNm" : groupNm, "useAt" : "Y"},
					success:function(result){
						if(result == "S"){
							$('.next_modal').show();
						} else {
							alert("새 모임 만들기 중 오류가 발생하였습니다.(ajax성공)");
						}
					},
					error:function(e){
						alert("새 모임 만들기 중 오류가 발생하였습니다.(ajax실패)");
					}
				})
			};

			// 다음버튼 활성화/비활성화
			function nextBtn(){				
				var input = document.getElementById('input_group').value;
				var nextBtn = document.getElementById('void_btn');

				if(input.length > 0){
					nextBtn.disabled = false;
				} else {
					nextBtn.disabled = true;
				}
			};

			// 사용자마다 내 그룹을 찾아서 메뉴에 추가하여 보여줘야함 (동적 li생성)
			function mygroup(){
				var emplyrSn = $('#emplyrSn').val();

				$.ajax({
					url : "/selectMyGroup",
					type : "POST",
					dataType : "JSON", //"JSON"
					data : {"emplyrSn" : emplyrSn},
					success:function(result){
						console.log(result);
						if(result=="S"){
							//li 동적생성
							//var text_add = $("#text_add").val(); //입력할 글씨
							//var ul_list = $("#ul_list"); //ul_list선언
							//ul_list.append("<li>"+text_add+"</li>"); //ul_list안쪽에 li추가
						} else {
							alert("내 그룹 불러오는 도중 오류가 발생하였습니다.");
						}
					},
					error:function(e){
						console.log(e);
						alert("내 그룹 불러오는 도중 오류가 발생하였습니다.(ajax에러)");
					}
				})
			};
		</script>
	</head>