body, p, h1, h2, h3, h4, h5, h6, menu, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

menu, ul, ol {
    list-style: none;
}

img, fieldset {
    border: 0;
}

label {
    cursor: pointer;
}

#wrap {
    /*position: relative;*/
    width: 100%;
    min-width: 1020px;
    min-height: 100%;
}

#header.header_type2 {
    height: 86px;
    background-color: #333;
}

.lnb_wrap {
    background-color: #4078ff;
}

.logo {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.top {
    height: 29px;
    margin: 0 0 0 auto;
}

#container, .lnb {
    width: 980px;
}

.top h1 {
    position: absolute;
    top: 0;
    left: 20px;
    height: 25px;
    margin-bottom: 12px;
}

.lnb {
    position: relative;
    height: 92px;
    margin: 0 auto;
}

.header_type2 .lnb {
    height: 57px;
}

.lnb_type3 {
    width: 670px;
    background-position: 0 -638px;
}

.wrap_leave #container {
    background: 0 0;
}

#container {
    position: relative;
    margin: 0 auto;
    padding-bottom: 30px;
    height: auto!important;
    background: url(https://static.nid.naver.com/images/web/user/bg_container.png) repeat-y 699px 0;
    zoom: 1;
}

#container:after {
    display: block;
    clear: both;
    content: '';
}

.wrap_leave #content {
    float: none;
    width: auto;
    margin: 0;
    padding: 25px 0 20px;
}

#content {
    float: left;
    position: relative;
    width: 670px;
    margin: 0 -252px 0 auto;
    padding: 29px 29px 20px 0;
    background-color: #fff;
}

.inquiry.non_sign {
    width: 670px !important;
    margin: 0 auto !important;
}

.non_sign {
    padding-bottom: 50px !important;
}

.inquiry.non_sign .content_header {
    position: relative;
    margin: 10px 0;
}

.content_header {
    height: 30px;
    border-bottom: 2px solid #e5e5e5;
}

.content_header h2 {
    position: relative;
    float: left;
    clear: both;
    height: 30px;
    margin-bottom: -2px;
    padding: 0 2px 0 1px;
    border-bottom: 2px solid #4d4d4d;
}

.process {
    font-size: 12px;
    position: absolute;
    top: 9px;
    right: -2px;
}

.process li {
    float: left;
    color: #8e8e8e;
}

.process li span {
    padding: 0 2px;
}

.process .on {
    color: #4078ff;
}

.content_header:after {
    font-size: 0;
    line-height: 0;
    display: block;
    clear: both;
    content: '';
}

.inquiry.non_sign .content_summary {
    margin: 0;
    padding: 2px 0 41px;
    color: #666;
}

.content_summary {
    font-size: 12px;
    line-height: 17px;
    margin-bottom: 30px;
    color: #888;
}

.section_find {
    margin-top: -19px;
    padding-bottom: 80px;
}

.section {
    position: relative;
    padding-bottom: 40px;
}

.section:after {
    font-size: 0;
    line-height: 0;
    display: block;
    clear: both;
    content: '';
}

.box6 {
    position: relative;
    z-index: 100;
    padding: 39px 40px 20px;
    border: 1px solid #e5e5e5;
}

.box6 .n_id {
    font-size: 14px;
    font-weight: 700;
    margin: 0 0 15px 145px;
}

.box6 .n_id dd, .box6 .n_id dt {
    display: inline-block;
}

.box6 .n_id dd {
    color: #4078ff;
}

.box_inn.selected {
    padding-bottom: 27px;
    height: 170px;
}

.selectPhoneNo {
    border: 0;
    background-color: white;
}

.box_inn {
    position: relative;
    padding: 0 0 17px 19px;
}

.box_inn .input_rd {
    position: absolute;
    top: 1px;
    left: 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    margin-left: -2px;
    letter-spacing: -1px;
    color: #333;
}

.input_box {
    position: relative;
    width: 299px;
    height: 34px;
    margin: 0 auto 20px;
    background: url(https://static.nid.naver.com/images/web/user/sp_sech_box.png) no-repeat 0 0;
}

.input_box label {
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    top: 8px;
    left: 10px;
    cursor: auto;
    color: #8e8e8e;
}

.box_inn.selected .label_rd input {
    color: #4078ff;
}

.box_inn .label_rd span {
    padding-left: 5px;
    letter-spacing: 0;
    color: #8e8e8e;
}

.box_inn .label_rd {
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    margin-left: -2px;
    letter-spacing: -1px;
    color: #333;
}

.selected .box_inn_sub {
    display: block;
}

.box_inn_sub {
    font-size: 12px;
}

.box_inn .dsc {
    line-height: 18px;
    padding-top: 4px;
    color: #666;
}

.box_inn dl {
    padding-top: 14px;
}

.box_inn dt {
    font-weight: 700;
    float: left;
    width: 80px;
    height: 25px;
    margin-top: 6px;
}

.box_inn .label_txt {
    line-height: 25px;
    color: #333;
}

.box_inn dd {
    position: relative;
    float: left;
    width: 488px;
    height: 25px;
    margin-top: 6px;
    vertical-align: top;
}

.box_inn .input_txt {
    line-height: 23px;
    height: 23px;
    padding-left: 3px;
    vertical-align: top;
    border: 1px solid #ccc;
}

.country_code {
    display: inline-block;
    overflow: hidden;
    position: relative;
    border: solid 1px #ccc;
    vertical-align: top;
}

.country_code .sel_value {
    display: block;
    width: 54px;
    padding: 3px 6px 3px 0;
    margin-left: 4px;
    height: 17px;
    font-size: 12px;
    line-height: 18px;
    color: #000;
    background: #fff url(https://static.nid.naver.com/images/web/user/ico_select_arr.png) no-repeat 100% 50%;
}

.country_code .sel_value+select {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    opacity: 0;
}

.box_inn dd select {
    line-height: 23px;
    height: 25px;
    padding: 4px 3px 3px 1px;
    vertical-align: top;
    border: 1px solid #ccc;
}

.box_inn dd select {
    line-height: 23px;
}

/*
.int_mob {
    display: inline-block;
    overflow: hidden;
    position: relative;
    vertical-align: top;
	position: absolute;
    top: 7px;
    left: 4px;
    font-size: 12px;
    font-weight: normal;
    color: #888;
}*/

.int_mob {
    display: inline-block;
    overflow: hidden;
    position: relative;
    /**margin: -1px 2px 0 3px;*/
    vertical-align: top;
}

.lbl_mob {
    position: absolute;
    top: 5px;
    left: 4px;
    font-size: 12px;
    font-weight: normal;
    color: #888;
}

.btn_ct {
    border: 1px solid #ccc;
    height: 100%;
    border-radius: 0;
    font-size: 12px;
    width: 100px;
    cursor: pointer;
}

.box_inn dd.ct {
    height: auto;
}

.input_box2 {
    position: relative;
    display: inline-block;
}

/*
.input_box2 .phold {
    position: absolute;
    top: 0;
    left: 4px;
    color: #888;
    line-height: 25px;
}*/

.input_box2 .input_txt {
    margin: 0;
}

.input_box2+div, .input_box2+p {
    position: relative;
    display: block;
    margin: 5px 0 1px 3px;
    color: #888;
}

.ico_help2 {
    top: 3px;
    left: 0;
    width: 14px;
    height: 14px;
    background-position: -100px -210px;
}

.help_tooltip2 {
    position: absolute;
    z-index: 100;
    top: 26px;
    left: -2px;
    background-color: #fff;
}

.help_tooltip2 p {
    font-size: 11px;
    line-height: 15px;
    padding: 9px 9px 6px;
    letter-spacing: -1px;
    color: #777;
    border: 1px solid #888;
}

.edge {
    position: absolute;
    top: -8px;
    left: 141px;
    width: 8px;
    height: 9px;
    background-position: -120px -220px;
}


.blind {
    display: block;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 0;
    background: none;
    font-size: 0;
    line-height: 0;
}

.input_box .input_txt {
    font-size: 14px;
    font-weight: 700;
    line-height: 32px;
    width: 288px;
    height: 32px;
    margin: 1px;
    padding-left: 9px;
    border: 0;
    background: 0 0;
}

input[type=image], input[type=password], input[type=submit], input[type=text] {
    -webkit-border-radius: 0;
    -webkit-appearance: none;
}

.help {
    position: absolute;
    display: none;
}

.h32 {
    height: 32px;
}

.help .txt {
    position: relative;
    z-index: 3;
    letter-spacing: -1px;
    color: #333;
    border: 1px solid #919191;
    background: #fff;
}

.help .txt p {
    font-size: 11px;
    line-height: 16px;
    padding: 8px 14px 6px;
    white-space: nowrap;
}

.help .txt p strong {
    color: #ff6000;
}

.help .txt p * {
    font-size: 11px;
    line-height: 16px;
}

.help .txt p .ex {
    font-weight: 700;
    letter-spacing: -1px;
    color: grey;
}

.left .arrow {
    position: absolute;
    z-index: 4;
    top: 13px;
    left: -3px;
    display: block;
    overflow: hidden;
    width: 4px;
    height: 6px;
    background: url(https://static.nid.naver.com/images/user/images/join2/bu_help_left.gif) no-repeat;
}

.help .txt em {
    display: inline;
    padding: 0;
}

.input_box+.input_box {
    margin-top: -14px;
}

.captcha {
    width: 299px;
    margin: 0 15px 0 145px;
    border-top: 1px solid #e6e6e6;
}

.captcha .error_txt {
    padding: 19px 0 7px;
    text-align: left;
    color: #666;
}

.error_v2 {
    position: relative;
    display: block;
    width: 297px;
    height: 80px;
    margin-bottom: 6px;
    text-align: left;
    border: 1px solid #c6c9cc;
    background: #fff;
}

.error_img {
    display: inline-block;
    width: 205px;
    height: 80px;
    text-align: center;
    border-right: 1px solid #ededed;
}

.error_v2 a {
    font-size: 11px;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 91px;
    height: 40px;
    text-decoration: none!important;
    letter-spacing: -1px;
    color: #8e8e8e;
}

.error_v2 a.btn_refresh span {
    margin-top: 14px;
    padding-top: 1px;
    text-align: left;
}

.error_v2 a span {
    line-height: 16px;
    display: block;
    margin: 12px 0 0 7px;
    padding-left: 13px;
    cursor: pointer;
    text-decoration: none;
    color: #8e8e8e;
    background: url(https://static.nid.naver.com/images/login/oauth_new/sp_ico.png) no-repeat -361px 1px;
}

.error_v2 a.btn_img, .error_v2 a.btn_sound {
    top: 40px;
    height: 39px;
    border-top: 1px solid #ededed;
}

.error_v2 a.btn_sound span {
    background-position: -361px -39px;
}

.error_sound .error_img {
    font-size: 11px;
    height: 26px;
    padding-top: 54px;
    letter-spacing: -1px;
    color: #8e8e8e;
    background: url(https://static.nid.naver.com/images/user/images/help/ico_sound.gif) no-repeat 93px 13px;
}

.error_v2 a.btn_img span {
    margin-left: 5px;
    padding-left: 16px;
    background-position: -360px -79px;
}

:root .lbl_in {
    line-height: 18px;
    top: 9px;
}

.int_box {
    display: block;
    margin-bottom: 20px;
}

:root .int {
    height: 32px;
    padding-top: 2px;
}

.int {
    font-size: 14px;
    font-weight: 700;
    width: 100%;
    height: 24px;
    padding: 10px 0 0 10px;
    color: #333;
    border: none;
    background: url(https://static.nid.naver.com/images/user/images/help/sp_bg.png) no-repeat 0 -385px;
}

.find_notice {
    margin: 35px 0 11px;
    padding-top: 22px;
    text-align: left;
    border-top: 1px solid #f4f4f4;
}

.find_notice li {
    font-size: 13px;
    line-height: 16px;
    padding: 0 0 6px 6px;
    color: #666;
    background: url(https://static.nid.naver.com/images/web/user/sp_find_idpw.png) no-repeat -155px -215px;
}

.find_notice .n_bu {
    margin-top: 1px;
    background-image: none;
}

.find_notice .n_bu .ico_help2 {
    position: relative;
    top: 3px;
    left: 3px;
}

.find_notice .n_bu .ly_pop_ab {
    position: absolute;
    z-index: 100;
    top: 8px;
    left: 4px;
    width: 418px;
    height: 66px;
    border: 1px solid #888d95;
    background: #fff;
}

.find_notice .n_bu .ly_pop_ab span.edge {
    top: -9px;
    left: 264px;
}

.find_notice .n_bu .ly_pop_ab p {
    font-size: 11px;
    line-height: 15px;
    margin: 8px 10px 0;
    letter-spacing: -1px;
    color: #777;
}

.find_notice .n_bu .ly_pop_ab p.desc {
    margin-top: 6px;
    color: #000;
}

.input_chk {
    position: relative;
    top: 1px;
    width: 13px;
    height: 13px;
    vertical-align: top;
}

.section_find .btn_area {
    padding: 17px 0 15px;
}

.btn_area {
    text-align: center;
}

.btn_next2 {
    width: 60px;
    height: 33px;
    background-position: 0 0;
    border: 0;
    cursor: pointer;
}

.btn_checkid, .btn_confirm2, .btn_login, .btn_next2, .btn_prev, .dash, .edge, .ico_arr, .ico_arr2, .ico_help2 {
    position: relative;
    display: inline-block;
    background: url(https://static.nid.naver.com/images/web/user/sp_find_idpw.png) no-repeat;
}

.btn_confirm2 {
    width: 60px;
    height: 33px;
    background-position: -65px 0;
}

.find_dsc {
    font-size: 12px;
    padding-top: 15px;
    color: #707070;
}

.find_dsc p {
    font-size: 12px;
    line-height: 17px;
    margin-top: -2px;
    color: #888;
}

.find_dsc h3 {
    font-size: 12px;
    font-weight: 400;
}

.find_dsc h3 a {
    display: inline-block;
    margin-left: 2px;
    text-decoration: underline;
    color: #707070;
}

.find_dsc .btn_detail, .find_dsc .txt_help a {
    color: #707070;
}

.find_dsc p a {
    text-decoration: underline;
    color: #4078ff;
}

.txt_help.btn_pw_help {
    padding-top: 17px;
}

.txt_help {
    font-size: 12px;
    padding-top: 13px;
    color: #707070;
}

.txt_help a {
    padding-right: 5px;
    text-decoration: underline;
    color: #707070;
}

.ico_arr2 {
    top: -3px;
    left: 3px;
    width: 2px;
    height: 4px;
    background-position: -140px -210px!important;
}


/********************************아이디 찾기*****************************/

.list_id {
    display: inline-block;
    padding-bottom: 11px;
}

.list_id li {
    padding-bottom: 8px;
    text-align: left;
}

.list_id strong {
    display: inline-block;
    min-width: 208px;
    padding-right: 31px;
}

.list_id .label_rd {
    font-size: 14px;
    color: #333;
}

label {
    cursor: pointer;
}

.list_id span {
    color: #333;
    font-size: 13px;
}

.list_id li {
    padding-bottom: 8px;
    text-align: left;
}

.btn_login2 {
    background-color: #4078ff;
    border: 1px solid #888d95;
    padding: 7px 30px;
    font-size: 12px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.btn_findpw {
    background-color: white !important;
    color : #777;
}


/*****************footer*****************/
#footer {
    clear: both;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 14px;
    margin: 0;
    padding: 9px 0 6px;
    border-top: 1px solid #e5e5e5;
    background: #333 url(https://static.nid.naver.com/images/web/user/bg_footer.png) repeat-x 0 0;
    text-align: center;
    zoom: 1;
}

#footer {
    overflow: hidden;
    width: 100% !important;
}

.fl {
    float: left;
    z-index: 20;
    margin: 0 auto 0 20px;
    text-align: left;
}

.guides {
    position: absolute;
    letter-spacing: -1px;
    white-space: nowrap;
    top: 8px;
    right: 0;
    width: 100%;
    font-size: 9px;
}

.guides li.first {
    padding: 0 3px 0 0;
    background: 0 0;
}

.guides li {
    display: inline;
    padding: 0 5px 0 7px;
    font-size: 11px;
    white-space: nowrap;
}

.guides a {
    color: #9c9da1;
}

.guides li {
    font-size: 11px;
    white-space: nowrap;
}

.copyright {
    position: absolute;
    top: 8px;
    right: 0;
    width: 100%;
    padding-right: 0;
    font-size: 9px;
    font-family: verdana,monospace;
    color: #838386;
    zoom: 1;
}

em, address {
    font-style: normal;
}

.copyright a {
    position: relative;
    z-index: 10;
    font-family: tahoma,monospace;
    color: #afafaf;
}

.fr {
    float: right;
    z-index: 10;
    margin: 0 20px 0 auto;
    text-align: right;
}

.fr li:first-child {
    background: 0 0;
}
