menu, ul, ol {
    list-style: none;
}

.drag_layer {
    display: none;
    position: absolute;
    left: 250px;
    top: 55px;
    bottom: 30px;
    right: 0;
    width: auto;
    height: auto;
    border: 4px solid #60a9f1;
    z-index: 500;
    background-color: rgba(255, 255, 255, 0.9);
}

.drag_layer .drag_cont {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 392px;
    height: 210px;
    margin: -105px 0 0 -190px;
}

.drag_layer .drag_img {
    text-align: center;
    padding: 0 0 30px 0;
}

.drag_layer .left-doodle {
    margin-right: -20px;
    z-index: 51;
    -webkit-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    transform: rotate(-2deg);
    -webkit-animation: wave-left .4s ease-out infinite alternate;
    animation: wave-left .4s ease-out infinite alternate;
}

.drag_layer .left-doodle, .drag_layer .right-doodle {
    position: relative;
    display: inline-block;
    outline: 1px solid transparent;
    will-change: -webkit-transform, -ms-transform, transform, -webkit-animation, animation;
}

img, fieldset {
    border: 0;
    vertical-align: top;
}

.drag_layer .right-doodle {
    margin-left: -20px;
    z-index: 50;
    -webkit-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
    -webkit-animation: wave-right .4s ease-out infinite alternate;
    animation: wave-right .4s ease-out infinite alternate;
}

.drag_layer .drag_txt {
    width: 390px;
    height: 44px;
    background: url(https://ssl.pstatic.net/static/pwe/ndrive/deskhome/drag_txt.png) no-repeat 50% 0;
}

.blind, legend {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px;
}

.together_cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    height: 100%;
}

.task_area_wrap {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    display: block;
    position: relative;
    z-index: 20;
    background-color: #fff;
    padding: 0 25px;
}

.task_area {
    position: relative;
    border-bottom: 1px solid #ebebeb;
    background-color: #fff;
}

.cmn_promotion_image, .cmn_promotion_volume {
    overflow: hidden;
    position: relative;
    padding-right: 110px;
    background-color: #F4F6F9;
    text-align: center;
    zoom: 1;
}

.cmn_promotion_image, .cmn_promotion_volume, .cmn_promotion_banner {
    margin: 0 -25px;
}

.cmn_promotion_image .link_banner, .cmn_promotion_volume .link_banner {
    display: block;
    position: relative;
    margin-right: -80px;
    text-align: center;
}

.cmn_promotion_image .link_banner, .cmn_promotion_volume .link_banner, .cmn_promotion_banner .link_banner {
    display: block;
}

.cmn_promotion_image .link_banner img, .cmn_promotion_volume .link_banner img {
    vertical-align: middle;
}

.cmn_promotion_image .closing_area, .cmn_promotion_volume .closing_area {
    top: 13px;
    right: 20px;
}

.closing_area {
    position: absolute;
    margin: 0;
    padding: 0;
}

.cmn_promotion_image .closing_area input, .cmn_promotion_volume .closing_area input {
    display: none;
}

.cmn_promotion_image .closing_area label, .cmn_promotion_volume .closing_area label {
    display: block;
    padding: 5px 2px 4px 3px;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: -0.5px;
    cursor: pointer;
    color: #8a8a8e;
}

.task_together {
    position: relative;
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}

.together_menu {
    height: 64px;
}

.together_menu ul {
    text-align: center;
}

.side_none .together_menu li:first-child {
    margin-left: 50px;
}

.together_menu li:first-child {
    margin-left: -158px;
}

.together_menu li {
    display: inline-block;
    margin: 0 49px;
}

.together_menu li.selected a {
    color: #000;
}

.together_menu li a {
    position: relative;
    display: inline-block;
    width: 105px;
    height: 64px;
    line-height: 64px;
    color: #737373;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}

.menu_story, .menu_photo {
	cursor: pointer;
    width: 105px;
    height: 64px;
    line-height: 64px;
    color: #737373;
    font-weight: bold;
}

a, .rightmenu_layer {
    cursor: pointer;
}

.together_my {
    position: absolute;
    right: 45px;
    top: 0;
    height: 64px;
    padding-right: 35px;
}

.together_my > a > i, .together_my > div > a > i {
    color: #737373;
    font-size : 20px;
}

.together_my a.my_task.photo {
    background-position: -43px -260px;
}

.together_my a.my_task.photo {
    background-position: -43px -260px;
}

.together_my a.my_task {
    display: inline-block;
    width: 35px;
    height: 27px;
    margin-top: 21px;
    margin-right: 12px;
}

.together_my a.my_task.member {
    margin-right: 6px;
    background-position: -144px -260px;
}

.together_my a.my_task.set {
    margin-right: 0;
    background-position: -94px -260px;
}

.content_box {
    -ms-flex: 1 1 auto;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    display: block;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    z-index: 10;
}

.lst_pt {
    height: 100%;
}

.together_wrap {
    position: relative;
}

.side_none .together_area {
    width: 791px;
}

.together_area {
    position: relative;
    width: 1034px;
    margin: 0 auto;
    height: 100%;
    zoom: 1;
}

.together_area:before {
    position: absolute;
    left: 59px;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: #d8d8d8;
    content: '';
}

.together_group {
    float: left;
    width: 764px;
}

.together_section.writing {
    padding-bottom: 20px;
    /*z-index: 30;*/
}

.together_section {
    position: relative;
    padding-bottom: 21px;
    z-index: 20;
}

.toge_story_list {
    position: relative;
    padding: 0 0 0 112px;
}

.together_section.writing .user_thum {
    top: 32px;
}

.notification {
    min-height: 75px;
    padding: 0 0 0 112px;
}

.notification .noti_box {
    position: relative;
    min-height: 75px;
    border: 1px solid #d9d9d9;
    background-color: #fff;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 1px -1px #d6d6d6;
    box-shadow: 0 2px 1px -1px #d6d6d6;
    white-space: nowrap;
}

.notification .thum.none_thum {
    background: #c6c6c6 url(https://ssl.pstatic.net/static/pwe/ndrive/new_ndrive/thum_progress_comm.png) no-repeat 0 0;
}

.notification .thum {
    position: absolute;
    left: 20px;
    top: 17px;
    width: 38px;
    height: 38px;
    overflow: hidden;
    display: inline-block;
    border-radius: 19px;
    vertical-align: middle;
}

.notification .thum.none_thum img {
    display: none;
}

.notification .noti_text {
    display: inline-block;
    padding: 0 20px 0 67px;
    vertical-align: middle;
    color: #444;
    font-size: 14px;
    line-height: 18px;
    white-space: normal;
    word-break: break-all;
    margin-top: 28px;
}

.point_3675c7 {
    color: #157efd;
}

.toge_story_list .user_thum {
    position: absolute;
    overflow: hidden;
    left: 32px;
    top: 0;
    width: 55px;
    height: 55px;
    border-radius: 27px;
}

.together_writing {
    padding-top: 26px;
}

.together_writing .write_box {
    border: 1px solid #d9d9d9;
    background-color: #fff;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 0 -1px #d6d6d6;
    box-shadow: 0 2px 0 -1px #d6d6d6;
}

.write_box .textarea_input {
    position: relative;
    min-height: 32px;
}

.write_box .textarea_input label {
    display: none;
}

.write_box .textarea_input .textarea {
    position: relative;
    padding: 8px 18px 2px;
    z-index: 10;
    min-height: 50px;
}

.write_box .textarea_input textarea {
    overflow: hidden;
    padding: 7px 0 5px 0;
    border: 0 none;
    width: 100%;
    background-color: transparent;
    outline: 0;
    line-height: 18px;
    vertical-align: top;
    resize: none;
    font-size: 13px;
}

.write_submit {
    position: relative;
    height: 47px;
    padding-right: 13px;
    border-top: 1px solid #d9d9d9;
    background-color: #fafafa;
    text-align: right;
}

.write_submit .write_btn_group {
    position: absolute;
    left: 22px;
    top: 14px;
    padding-right: 11px;
    white-space: nowrap;
}

.write_submit .write_btn_group > a.b_photo {
    margin-right: 22px;
}

.write_submit .write_btn_group > a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-size: 12px;
    color: #8e94a7;
    vertical-align: top;
    line-height: 18px;
}

.write_submit .write_btn_group > a.b_photo .ic_ph {
    background-position: 0 -590px;
}

.write_submit .write_btn_group > a .ic_ph {
    display: inline-block;
    width: 21px;
    height: 18px;
    margin-right: 6px;
    margin-top: -2px;
    vertical-align: middle;
}

.write_submit .write_btn_group > a.b_video {
    margin-right: 22px;
}

.write_submit .write_btn_group > a.b_video .ic_ph {
    width: 24px;
    background-position: -60px -590px;
}

.write_type {
    height: 31px;
    width: 69px;
    padding: 0;
    margin: 0;
    border: 1px solid #c8c8c8;
    color: #333;
    line-height: 29px;
    text-align: center;
}

.write_type.cancel {
    display: none;
}

.write_submit button {
    margin-top: 8px;
}

button {
    display: inline-block;
    overflow: visible;
    height: 23px;
    padding: 1px 4px 0;
    border: 1px solid #c3c3c3;
    background-color: #fff;
    color: #333;
    line-height: 100%;
    letter-spacing: 0;
    vertical-align: top;
    white-space: nowrap;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-text-size-adjust: none;
    border-radius: 0;
}

.write_type.up {
    border: 1px solid #4c84cb;
    background-color: #568fd8;
    color: #fff;
}

.notification {
    min-height: 75px;
    padding: 0 0 0 112px;
}

.notification .noti_box_v2 {
    position: relative;
    border: 1px solid #d9d9d9;
    background-color: #fff;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 1px -1px #d6d6d6;
    box-shadow: 0 2px 1px -1px #d6d6d6;
    text-align: center;
}

.start_togeth {
    padding: 16px 0 17px 0;
}

.start_togeth .date {
    padding: 23px 0 15px 0;
    font-size: 14px;
    line-height: 16px;
}

.start_togeth .title {
    padding: 0 20px 13px 20px;
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    color: #444;
}

.point_3675c7 {
    color: #157efd;
}

.start_togeth .text {
    padding: 0 0 2px 0;
    font-size: 13px;
    line-height: 20px;
    font-weight: normal;
    color: #828282;
    letter-spacing: -1px;
}

.my_btn_member {
    display: block;
    width: 109px;
    height: 32px;
    margin: 13px auto;
    background-color: #d54828;
    border-radius: 2px;
    text-align: center;
    line-height: 32px;
    color: #fff;
    font-size: 13px;
    font-weight: normal;
    text-decoration: none !important;
}

.my_btn_member:before {
    display: inline-block;
    vertical-align: middle;
    width: 14px;
    height: 14px;
    margin-right: 7px;
    margin-top: -2px;
    content: '';
    background-position: -21px -12px;
	background-image: url(https://ssl.pstatic.net/static/pwe/cloud/img/sprite/sprite_1704.png);
    background-repeat: no-repeat;
}

.reload_area {
    position: relative;
    width: 100%;
    height: 70px;
}

.side_none .together_right {
    display: none;
}

.together_right {
    position: relative;
    overflow: hidden;
    padding: 25px 0;
}

.side_none .invitation_side_wrap {
    display: none;
}

.invitation_side_wrap {
    overflow: hidden;
}

.invitation_box {
    width: 209px;
    margin: 1px 0 0 20px;
    background-color: #fff;
    padding: 0 18px 18px;
    border: 1px solid #d8d8d8;
}

.invitation_tit {
    padding: 15px 0 8px 0;
    border-bottom: 1px solid #e2e1e1;
    line-height: 17px;
    font-size: 13px;
    word-break: break-all;
    word-wrap: break-word;
    font-weight: normal;
    color: #5e5d5d;
    letter-spacing: -1px;
}

.invitation_tit strong {
    font-weight: normal;
    color: #000;
}

em, address {
    font-style: normal;
}

.invitation_box > div:last-child {
    padding-bottom: 7px;
}

.invitation_box h4 {
    overflow: hidden;
    max-width: 208px;
    padding: 17px 0 8px 0;
    font-size: 12px;
    line-height: 16px;
    color: #474747;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: normal;
    letter-spacing: -1px;
}

.invitation_box h4 a {
    color: #474747;
}

.invitation_box a.more_invitation {
    position: relative;
    display: block;
}

.invitation_photo {
    position: relative;
    height: 87px;
}

.invitation_photo.layout5 .grid0 {
    width: 51px;
    height: 43px;
    left: 0;
    top: 0;
}

.invitation_photo li {
    overflow: hidden;
	position: absolute;
    font-size: 0;
    line-height: 0;
}

.invitation_photo li img {
    display: block;
}

.invitation_photo.layout5 .grid1 {
    width: 52px;
    height: 43px;
    left: 52px;
    top: 0;
}

.invitation_photo.layout5 .grid2 {
    width: 51px;
    height: 43px;
    left: 0;
    top: 44px;
}

.invitation_photo.layout5 .grid3 {
    width: 52px;
    height: 43px;
    left: 52px;
    top: 44px;
}

.invitation_photo.layout5 .grid4 {
    width: 104px;
    height: 87px;
    left: 105px;
    top: 0;
}

.invitation_box a.more_invitation .more_invitation_bg {
    display: none;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 50%;
    width: 27px;
    height: 40px;
    margin-top: -20px;
    text-indent: -500px;
    background-position: -146px -500px;
}

a.more_invitation .more_invitation_bg{
	background-image: url(https://ssl.pstatic.net/static/pwe/cloud/img/sprite/sprite_1704.png);
    background-repeat: no-repeat;
}

.invitation_side .invi_btn {
    display: inline-block;
    position: relative;
    width: 88px;
    height: 27px;
    margin-top: 10px;
    margin-bottom: 7px;
    border: 1px solid #bfbfbf;
    line-height: 27px;
    text-indent: 33px;
    font-size: 11px;
    color: #555;
    text-decoration: none;
}

.invitation_side .invi_btn .i_m {
    position: absolute;
    left: 9px;
    top: 7px;
    width: 21px;
    height: 14px;
    background-position: -145px -441px;
    content: '';
	background-image: url(https://ssl.pstatic.net/static/pwe/cloud/img/sprite/sprite_1704.png);
    background-repeat: no-repeat;
}

.together_photo {
    padding: 30px;
}

.toge_photo_list {
    position: relative;
}

.together_photo .toge_photo_list li {
    width: 200px;
    height: 200px;
    margin: 10px;
    overflow: hidden;
}

.together_none {
    width: 300px;
    margin: 0 auto;
    padding: 192px 0 0 0;
    text-align: center;
}

.together_none .ic_p {
    display: block;
    width: 102px;
    height: 78px;
    margin-left: 111px;
    background-position: 0 -500px;
}

.together_none .text {
    padding: 24px 0 18px 0;
    color: #444;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: -1px;
}

.together_none .text .point {
    color: #2188e5;
}

.together_none .btn_add_more {
    display: inline-block;
    position: relative;
    height: 32px;
    padding: 0 26px 0 17px;
    border: 1px solid #d3d3d3;
    border-radius: 1px;
    background-color: #fff;
    color: #555;
    text-decoration: none;
    line-height: 31px;
    font-size: 13px;
    letter-spacing: -1px;
}

/*************모달창(설정)***************/
.my_layer_set {
    width: 350px;
    right: -34px;
}

.my_layer {
    display: none;
    position: absolute;
    right: 8px;
    top: 64px;
    /*width: 265px;*/
    border: 1px solid #acacac;
    background-color: #fff;
    -webkit-box-shadow: 3px 3px 6px 0px rgb(0 0 0 / 28%);
    box-shadow: 3px 3px 6px 0px rgb(0 0 0 / 28%);
}

.my_layer:after {
    position: absolute;
    right: 42px;
    top: -11px;
    width: 18px;
    height: 12px;
    background-position: -56px -71px;
    content: '';
    z-index: 1;
}

.my_layer:after {
    background-image: url(https://ssl.pstatic.net/static/pwe/cloud/img/sprite/sprite_1704.png);
    background-repeat: no-repeat;
}

.my_layer .my_tit {
    height: 42px;
    padding: 0 14px;
    border-bottom: 1px solid #d6d6d6;
    line-height: 41px;
    color: #333;
    font-size: 13px;
}

.member_width {
    width: 265px;
}

.my_layer .my_tit .tit_txt {
    overflow: hidden;
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.my_layer_set .ly_toge_content {
    padding: 0;
}

/*
.ly_toge_content {
    margin-bottom: 20px;
}
*/

.my_layer_set .toge_add_group {
    padding: 0;
}

.toge_add_group {
    position: relative;
    padding: 0 20px;
}

.my_layer_set .toge_add_thum {
    padding: 41px 0 28px 0;
}

.toge_add_thum {
    position: relative;
    padding: 35px 0 31px 0;
}

.toge_add_thum .add_pho {
    position: relative;
    display: block;
    overflow: hidden;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    border-radius: 60px;
    background-color: #c9c9c9;
}

.add_pho_v2 .add_photo_ic {
    display: none;
}

.add_photo_ic {
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 40px;
    height: 42px;
    margin: -21px 0 0 -20px;
    background-position: 0 -260px;
    text-indent: -500px;
    background-image: url(https://ssl.pstatic.net/static/pwe/cloud/img/sprite/sprite_1704.png);
    background-repeat: no-repeat;
}

.toge_add_thum .add_pho label {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    cursor: pointer;
    border-radius: 50%;
}

.toge_add_thum .add_pho input {
    position: absolute;
    left: -300px;
    top: -200px;
}

.toge_add_thum .add_pho:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    width: auto;
    height: auto;
    border: 1px solid #000;
    opacity: .1;
    filter: alpha(opacity=10);
    content: '';
    border-radius: 60px;
}

.my_layer_set .toge_add_edit {
    padding: 0 0 30px 0;
}

.toge_add_edit {
    text-align: center;
    padding: 0 0 31px 0;
    border-bottom: 1px solid #ddd;
}

.toge_add_edit .edit_box {
    position: relative;
    width: 250px;
    margin: 0 auto;
    padding: 0 0 0 0;
    border-bottom: 0 none;
}

.edit_box {
    display: block;
    padding: 14px 24px 13px 24px;
    border-bottom: 1px solid #e8e8e8;
    font-size: 15px;
    color: #000;
    line-height: 24px;
}

.toge_add_edit .edit_box .title_text {
    width: 250px;
    padding: 0 0 0 0;
    font-size: 14px;
    font-weight: normal;
    height: 28px;
}

.edit_box .title_text {
    position: relative;
    display: block;
    width: auto;
    padding: 0 25px 0 0;
    min-height: 22px;
    word-break: break-all;
    word-wrap: break-word;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    line-height: 22px;
    font-size: 14px;
    color: #222;
    font-weight: bold;
    max-height: 100px;
    overflow: auto;
    overflow-x: hidden;
}

.toge_add_edit .edit_box .title_text .ic_edit {
    position: static;
    right: auto;
    top: auto;
    display: inline-block;
    height: 24px;
    width: 15px;
    margin-left: 10px;
    background: url(https://ssl.pstatic.net/static/pwe/ndrive/new_ndrive/ic_edit.png) no-repeat 0 7px;
    vertical-align: middle;
}

.edit_box .title_text .ic_edit {
    position: absolute;
    right: 0;
    top: 8px;
    display: inline-block;
    height: 10px;
    width: 10px;
    margin-left: 10px;
    background: url(https://ssl.pstatic.net/static/pwe/ndrive/new_ndrive/ic_edit.png) no-repeat;
    vertical-align: middle;
}

.edit_box .input_title {
    display: block;
    overflow: hidden;
    position: relative;
    height: 28px;
}

.toge_add_edit .edit_box textarea {
    resize: none;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    font-weight: normal;
}

.edit_box .input_title textarea {
    height: 28px;
    border: 0 none;
    width: 100%;
    outline: none;
    line-height: 24px;
    resize: none;
    font-size: 15px;
    color: #222;
    vertical-align: top;
    font-weight: bold;
    padding: 0;
    font-family: inherit;
}

.edit_box .input_title .line {
    position: absolute;
    left: 0;
    bottom: 1px;
    right: 0;
    display: block;
    height: 1px;
    background-color: #3798cf \9;
}

a.btn_mem_out {
    position: absolute;
    right: 14px;
    top: 14px;
    line-height: 16px;
    color: #adadad;
    letter-spacing: -1px;
    font-size: 11px;
}

.btn_mem_out:hover, .edit_box:hover {
    border-bottom : 1px solid;
}

.my_layer_set .btn_area {
    padding: 13px 0;
}

.btn_area {
    position: relative;
    text-align: center;
    vertical-align: top;
}

.my_layer_set .btn_area button {
    width: 50px;
    height: 27px;
}

/****************모달창(모임나가기)******************/
label {
    cursor: default;
}

.out_modal_wrap {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
}

.dh_layer {
    top: 100px;
    position: relative;
    z-index: 50;
    display: inline-block;
    line-height: 1.5;
    vertical-align: middle;
    text-align: left;
}

.dh_layer .type_c {
    position: relative;
}

.dh_layer .type_c .wrap_pop {
    background: #fff;
}

.wrap_pop {
    border-width: 1px;
    border-style: solid;
    border-color: #d9d9d9 #bfbfbf #b6b6b6 #d5d5d5;
    -webkit-box-shadow: 1px 1px 1px rgb(0 0 0 / 10%);
    box-shadow: 1px 1px 1px rgb(0 0 0 / 10%);
    text-align: center;
}

.wrap_pop fieldset {
    *position: relative;
}

.wrap_pop .content {
    padding: 20px 20px 0;
}

.dh_layer .bu_q {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-top: 20px;
    background-position: -385px -121px;
}

.bu_q{
    background-image: url(https://ssl.pstatic.net/static/pwe/ndrive/deskhome/icon_201611.png);
    background-repeat: no-repeat;
}

.wrap_pop .content h1 {
    padding: 19px 0 0;
    color: #333;
    font-size: 14px;
    letter-spacing: -0.5px;
    line-height: 22px;
    vertical-align: top;
    word-break: break-all;
}

.wrap_pop .content h1 .ellipsis {
    vertical-align: top;
    max-width: 113px;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}

.wrap_pop .desc3 {
    padding: 6px 0 0;
    color: #666;
    line-height: 18px;
    font-size: 13px;
}

.wrap_pop .desc4 {
    padding-top: 9px;
    color: #666;
    line-height: 18px;
    font-size: 14px;
    cursor: pointer;
}

.input_check, .input_radio {
    width: 13px;
    height: 13px;
    vertical-align: middle;
    cursor: pointer;
}

.dh_layer .wrap_pop .footer {
    width: auto;
    padding: 26px 20px 12px;
}

.wrap_pop .footer {
    height: 40px;
    padding: 12px 20px 0;
    text-align: center;
    white-space: nowrap;
}

.dh_layer .wrap_pop .footer button {
    height: 29px;
    padding: 0 11px 0 10px;
    margin: 0 2px;
    border-radius: 0;
}

button.diable, button[disabled] {
    color: #999;
    cursor: default;
}

button {
    display: inline-block;
    overflow: visible;
    height: 23px;
    padding: 1px 4px 0;
    border: 1px solid #c3c3c3;
    background-color: #fff;
    color: #333;
    line-height: 100%;
    letter-spacing: 0;
    vertical-align: top;
    white-space: nowrap;
    cursor: pointer;
    /*-webkit-appearance: none;*/
    -webkit-text-size-adjust: none;
    border-radius: 0;
}

button .tx {
    display: inline-block;
    vertical-align: top;
}

.wrap_pop .pop_close { 
    position: absolute;
    right: 0;
    top: 0;
}

.wrap_pop .pop_close a {
    cursor: pointer;
}

.bu_close_p {
    display: inline-block;
    width: 18px;
    height: 19px;
    background-position: -202px -76px;
}

.bu_close_p {
    background-image: url(https://ssl.pstatic.net/static/pwe/ndrive/deskhome/icon_201611.png);
    background-repeat: no-repeat;
}

.bu_close_p, .bu_close_p2 {
    overflow: hidden;
    text-indent: -500px;
    position: absolute;
    top: 16px;
    right: 20px;
    width: 13px;
    height: 13px;
    background-image: url(https://ssl.pstatic.net/static/pwe/ndrive/new_ndrive/layer_sp_cls2.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    z-index: 50;
}

/*************파일업로드(iframe)*************/
.frameBox {
    /*position: fixed;*/
    position: absolute;
    left: 10%;
    /* top: 0px; 
    height: 530px;*/
    width: 80%;
    z-index: 10000;
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 6px;
    border: 1px solid rgb(102, 102, 102);
    background-color: beige;
}

.ic_ph {
    padding-top: 5px;
}

.groupPicture {
    display: inline-block;
}

/**************타임라인****************/
.toge_box {
    position: relative;
    min-height: 110px;
    border: 1px solid #d9d9d9;
    background-color: #fff;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 1px -1px #d6d6d6;
    box-shadow: 0 2px 1px -1px #d6d6d6;
}

.toge_box .toge_title {
    padding: 16px 0 12px 19px;
    line-height: 16px;
}

.toge_box .toge_title strong {
    font-size: 14px;
}

.toge_box .toge_title .load_time {
    margin-left: 12px;
    font-size: 11px;
    font-weight: normal;
    color: #a5a5a5;
}

.toge_content_box {
    padding: 0 19px 19px 19px;
    line-height: 20px;
    font-size: 13px;
}

.toge_content .toge_text {
    word-break: break-all;
    word-wrap: break-word;
}

.toge_photo {
    padding: 18px 0 0 0;
}

.toge_photo ul {
    position: relative;
}

.toge_photo ul.single .p_lst {
    position: static;
    min-height: 100px;
    width: 100%;
    text-align: center;
}

.toge_photo ul li {
    position: absolute;
    overflow: hidden;
}

.toge_photo li {
    position: relative;
}

.toge_photo ul.single .p_lst a {
    vertical-align: middle;
    position: relative;
}

.toge_photo ul li a {
    display: block;
    height: 100%;
}

.toge_photo ul li a .shadow_in {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    width: auto;
    height: auto;
    border: 1px solid #000;
    opacity: .1;
    filter: alpha(opacity=10);
}

.toge_comment {
    padding: 14px 20px 8px 19px;
    border-top: 1px solid #e7e7e7;
    background-color: #fcfcfc;
}

.comm_list {
    margin: -7px -19px 8px -20px;
}

.comm_list li {
    padding: 8px 19px 7px 20px;
    min-height: 39px;
}

.comm_list li .comm_thum {
    position: relative;
    float: left;
}

.comm_list li .comm_thum .thum {
    display: block;
    overflow: hidden;
    border-radius: 19px;
    width: 38px;
    height: 38px;
}

.comm_list li .comm_txt {
    position: relative;
    overflow: hidden;
    padding: 0 0 0 8px;
    line-height: 19px;
    word-break: break-all;
    word-wrap: break-word;
    color: #010101;
    font-size: 13px;
}

.comm_list li .comm_txt strong {
    font-size: 13px;
}

.comm_list li .comm_txt strong em {
    font-size: 12px;
    font-weight: normal;
    color: #a5a5a5;
    margin-left: 5px;
}

.btn_del_comm {
    display: none;
    overflow: hidden;
    position: absolute;
    right: 12px;
    top: 0;
    width: 18px;
    height: 18px;
    background-position: -186px -144px;
    color: #a5a5a5;
}

.comm_input {
    margin-bottom: 7px;
}

.comm_input .textarea_input {
    position: relative;
    min-height: 32px;
}

.comm_input .textarea_input label {
    display: none;
}

.comm_input .textarea_input .textarea {
    position: relative;
    padding: 0 10px;
    border: 1px solid #e6e6e8;
    background-color: #fff;
    min-height: 31px;
    width: 520px;
}

.comm_input .textarea_input textarea {
    padding: 6px 0 5px 0;
    border: 0 none;
    width: 100%;
    outline: 0;
    line-height: 18px;
    vertical-align: top;
    resize: none;
    overflow-x: hidden;
}

.comm_input .textarea_input .btn_submit {
    /*display: none;*/
    position: absolute;
    right: 0;
    bottom: 0;
}

.comm_input .textarea_input .btn_submit button {
    width: 63px;
    height: 33px;
    border: 1px solid #c3c3c3;
    background-color: #cccccc;
    color: #fff;
}

.on_write .textarea_input .btn_submit, .over_write .textarea_input .btn_submit {
    display: block;
}

button {
    display: inline-block;
    overflow: visible;
    height: 23px;
    padding: 1px 4px 0;
    border: 1px solid #c3c3c3;
    background-color: #fff;
    color: #333;
    line-height: 100%;
    letter-spacing: 0;
    vertical-align: top;
    white-space: nowrap;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-text-size-adjust: none;
    border-radius: 0;
}

.toge_modify {
    position: absolute;
    right: 11px;
    top: 14px;
    z-index: 200;
}

.toge_modify .btn_modify {
    display: block;
    width: 21px;
    height: 25px;
    border: 0 none;
    background-position: -74px -130px;
}

.toge_modify .btn_modify{
    background-image: url(https://ssl.pstatic.net/static/pwe/cloud/img/sprite/sprite_1704.png);
    background-repeat: no-repeat;
}

.toge_modify .ly_small {
    display: none;
    position: absolute;
    right: 17px;
    top: 2px;
    background-color: #fff;
    border: 1px solid #c6c6c6;
}

menu, ul, ol {
    list-style: none;
}

.toge_modify .ly_small a {
    display: block;
    width: auto;
    height: 27px;
    padding: 0 12px 0 12px;
    white-space: nowrap;
    line-height: 28px;
    color: #333;
    text-decoration: none;
    font-size: 11px;
}

.toge_modify .ly_small li.bar {
    height: 1px;
    overflow: hidden;
    background-color: #dedede;
}

.x-icon{
    float: right;
    margin-right: 30px;
    color: gray;
    font-size: 13px;
    cursor: pointer;
}

/****************멤버초대**********************/
.toge_member .mem_tab {
    height: 49px;
    padding: 0 0 0 56px;
    border-bottom: 1px solid #e0e0e0;
    clear: both;
}

.toge_member .mem_tab a.tab_url {
    margin-right: 50px;
    width: 131px;
}

.toge_member .mem_tab a.selected {
    bottom: -1px;
    height: 47px;
    border-bottom: 2px solid #3675c7;
    line-height: 47px;
    color: #3675c7;
    font-weight: bold;
    font-size: 15px;
}

.toge_member .mem_tab a {
    position: relative;
    display: block;
    float: left;
    height: 49px;
    text-align: center;
    line-height: 49px;
    color: #333;
    text-decoration: none;
    font-size: 15px;
}

.toge_member .mem_tab a.tab_num {
    width: 186px;
}

.mem_content {
    padding: 37px 20px 20px 25px;
}

.mem_dl dt {
    float: left;
    width: 71px;
    line-height: 18px;
    font-size: 14px;
}

.mem_dl dd {
    display: block;
    overflow: hidden;
    padding-bottom: 16px;
    line-height: 18px;
}

.mem_dl dd .name {
    display: inline-block;
    overflow: hidden;
    width: 300px;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #157efd;
}

.mem_dl .url_address input.url {
    display: inline-block;
    width: 290px;
    height: 26px;
    border: 1px solid #d9d9d9;
    line-height: 26px;
    text-indent: 8px;
    color: #666;
}

.mem_dl .url_address button {
    width: 41px;
    height: 28px;
    margin-left: 5px;
    border: 0 none;
    background-color: #5b5b5b;
    color: #fff;
    font-size: 11px;
    text-align: center;
    line-height: 27px;
}

.url_notice {
    margin-top: 9px;
    font-size: 11px;
    line-height: 17px;
    color: #a5a5a5;
}

/*
.url_area .mem_dl:last-child dt {
    margin-top: 12px;
}
*/

/**소스 주석처리한 부분 sns파트**/
.sns_lst {
    overflow: hidden;
    margin-bottom: -20px;
    text-align: left;
    font-size: 0;
    white-space: nowrap;
}

.sns_lst li {
    display: inline-block;
    width: 83px;
    overflow: hidden;
}

.sns_lst li a {
    display: inline-block;
    font-size: 12px;
    color: #333;
    text-decoration: none;
}

.sns_lst li a .title {
    display: block;
    width: 61px;
    padding: 9px 0 0 0;
    text-align: center;
    font-size: 11px;
    color: #747474;
}

.pop_header > h1 {
    margin: 0;
    line-height: 44px;
}

/**************멤버 현황**************/
.my_layer .my_tit .tit_txt .num {
    float: right;
    font-weight: 400;
    color: #a5a5a5;
}

.my_layer .my_tit .tit_txt .num em {
    font-weight: 700;
    color: #333;
}

.task_together:first-child .my_layer_list {
    max-height: calc( 100vh - 260px);
}

.my_layer_list li {
    float: left;
    width: 78px;
    height: 82px;
    text-align: center;
}

.my_layer_list li > a {
    position: relative;
    width: 70px;
    display: inline-block;
    text-decoration: none;
    color: #656565;
}

.my_layer_list li .thumb {
    position: relative;
    overflow: hidden;
    width: 45px;
    height: 45px;
    border-radius: 22px;
    margin: 0 auto;
}

.my_layer_list li span {
    display: block;
}

.my_layer_list li .tit {
    display: inline-block;
    overflow: hidden;
    max-width: 65px;
    margin: 0 auto;
    padding-top: 6px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: -1px;
}

/*
.my_layer_list li .tit .me {
    float: right;
    padding-right: 1px;
    margin-left: 2px;
}
*/