
/* 메뉴 영역 */
.menu-area{
    display: flex;
    flex-direction: column;
    width:14%;
    height:100%;
    background-color: #F6F7FA;
    float: left;
    color: #000;
}

.menu-box{
    padding: 13px 8px 0 8px;
    height: 75%;
    overflow-y: auto;
    overflow-x: hidden;
    height: 76%;
}

/* 메뉴 리스트 */
.selected {
    background-color: #ebebeb;
    border-radius: 4px;
}

.list {
    font-size: 16px;
    line-height: 19px;
    list-style: none;
    padding-left: 0 !important;
}

.list li {
    cursor: pointer;
}

.list li:hover{
    background-color: #ebebeb;
    border-radius: 4px;
}

.menu-box .list > li {
    margin-top: 6px;
}

.menu-box .list > li > a {
    text-decoration: none;
    color: #000;
}

.menu_item{
    display: block;
    padding: 6px 22px;
}

.foldable_menu{
    margin: 2px 25px 0;
}

.foldable_menu > ul> li > a {
    text-decoration: none;
    color: #000;
    font-size: 13px;
}

.pl40{
    padding-left: 40px;
}

.mt0{
    margin-top : 0 !important;
}
.tree_item{
    position: relative;
    padding: 0 20px;
    line-height: 28px;
    cursor: pointer;
    font-size: 14px;
}

details > summary {
    list-style: none;
}

.lnb_box::before{
    content: '';
    position: absolute;
    top: 0;
    left: 25px;
    right: 25px;
    height: 1px;
    background-color: #ebebeb;
}

.lnb_box {
    margin-top: 14px;
    padding-top: 14px;
    position: relative;
}

.lnb_list {
    font-size: 16px;
    line-height: 19px;
    list-style: none;
    padding-left: 0 !important;
}

.lnb_list li:hover{
    background-color: #ebebeb;
    border-radius: 4px;
}

.setting {
    padding-left:17px;
    font-size: 13px;
    text-decoration: none;
    color: #000;
}

.cursor_pointer{
    cursor: pointer;
}

/***스크롤바***/
::-webkit-scrollbar {
    width: 8px;
    height: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: #d1d1d1;
    border-radius: 8px;
}

/************ 용량바 ************/
.menu_bottom{
    border-top: 1px solid #ddd;
    /*display: flex;*/
    flex-direction: column;
    position: absolute;
    bottom: 20px;
    width: 256px;
    background-color: #F6F7FA;
    line-height: normal;
    box-sizing: border-box;
}

.myinfo_area{
    padding: 25px 13px 10px 13px;
}

.capacity_info .text{
    display: flex;
    line-height: 17px;
    letter-spacing: -0.25px;
    display: inline-block;
    margin: 0 4px;
    color: #1e1e1e;
    cursor: pointer;
    width: 100%;
}

.status{
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 5px;
    font-size: 11px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: -0.3px;
    text-align: right;
    color: #9398A0;
    float:right;
    margin-right:10px;
}


.capacity_info .graph{
    display: block;
    overflow: hidden;
    position: relative;
    height: 5px;
    margin-top: 8px;
    border-radius: 3px;
    background-color: #dadde2;
}

.capacity_info .graph .bar{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border-radius: 3px;
    background-color: #4078ff;
}

.btn_purchase{
    width: 100%;
    height: 31px;
    margin-top: 15px;
    padding: 0;
    border: 1px solid #4078ff;
    border-radius: 4px;
    background-color: transparent;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.3px;
    color: #4078ff;
    cursor: pointer;
}

.btn_purchase em{
    font-size: 11px;
    font-weight: 500;
    vertical-align: top;
    font-style: normal;
}

.bottom_wrap{
    padding: 0 17px;
}

.bottom{
    position: relative;
    display: inline-block;
    padding: 5px 10px 5px 7px;
    border-radius: 4px;
    line-height: 20px;
    font-size: 13px;
    letter-spacing: -0.5px;
    color: #000;
    margin-left: 8px;
    cursor: pointer;
    text-decoration: none;
}

.bottom:hover{
    background-color: #ebeaeb;
    border-radius: 4px;
}

/***********************모달창(1)************************/
.modal_wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
}

#wrap {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 1130px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dh_layer {
    position: relative;
    z-index: 50;
    display: inline-block;
    line-height: 1.5;
    vertical-align: middle;
    text-align: left;
    top: 20%;
}

.pop_pht_wrap {
    overflow: hidden;
    /*position: absolute;*/
    position: fixed;
    left: 30%;
    border-style: solid;
    border-width: 1px;
    border-color: #d9d9d9 #bfbfbf #b6b6b6 #d5d5d5;
    -webkit-box-shadow: 1px 1px 1px rgb(0 0 0 / 10%);
    box-shadow: 1px 1px 1px rgb(0 0 0 / 10%);
    background-color: #fff;
}

.pop_pht_wrap .pop_header {
    overflow: hidden;
    position: relative;
    height: 44px;
    padding: 0 19px;
    border-bottom: 1px solid #e5e5e5;
    line-height: 45px;
}

.pop_pht_wrap .pop_header h1 {
    float: left;
    height: 44px;
    margin-right: 9px;
    padding: 0;
    font-size: 14px;
    color: #333;
    line-height: 45px;
}

.ly_toge_content {
    margin-bottom: 20px;
}

.toge_add_group {
    position: relative;
    padding: 0 20px;
}

.toge_add_thum {
    position: relative;
    padding: 35px 0 31px 0;
}

.toge_add_thum .add_pho.none_thum {
    background-image: url(https://ssl.pstatic.net/static/pwe/ndrive/new_ndrive/group_cover_none.png);
    background-repeat: no-repeat;
}

.toge_add_thum .add_pho {
    position: relative;
    display: block;
    overflow: hidden;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    border-radius: 60px;
    background-color: #c9c9c9;
}

.add_pho_v2 .add_photo_ic {
    display: none;
}

.add_photo_ic {
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 40px;
    height: 42px;
    margin: -21px 0 0 -20px;
    background-position: 0 -260px;
    text-indent: -500px;
    background-image: url(https://ssl.pstatic.net/static/pwe/cloud/img/sprite/sprite_1704.png);
    background-repeat: no-repeat;
}

.toge_add_thum .add_pho label {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    cursor: pointer;
    border-radius: 50%;
}

.toge_add_thum .add_pho input {
    position: absolute;
    left: -300px;
    top: -200px;
}

.toge_add_text {
    text-align: center;
    padding: 0 0 31px 0;
    border-bottom: 1px solid #ddd;
}

.toge_add_text .txt {
    padding: 0 0 11px 0;
    line-height: 18px;
    font-size : 13px;
}

.toge_add_text .txt_input {
    position: relative;
    padding: 0 0 0 0;
}

.toge_add_text .txt_input input {
    width: 251px;
    height: 27px;
    border: 1px solid #438ddd;
    line-height: 27px;
    text-indent: 8px;
}

.pop_pht_wrap .pop_footer {
    clear: both;
}

.pop_pht_wrap .pop_footer .btn_area {
    margin: 0 20px 20px;
    font-size: 0;
    line-height: 0;
    text-align: center;
}

.pop_pht_wrap .pop_footer .btn_area button {
    height: 29px;
    padding: 0 11px;
    margin: 0 3px;
    cursor: pointer;
}

button.diable, button[disabled] {
    color: #999;
    cursor: default;
}

button {
    display: inline-block;
    overflow: visible;
    height: 23px;
    padding: 1px 4px 0;
    border: 1px solid #c3c3c3;
    background-color: #fff;
    color: #333;
    line-height: 100%;
    letter-spacing: 0;
    vertical-align: top;
    white-space: nowrap;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-text-size-adjust: none;
    border-radius: 0;
}

.pop_pht_wrap .btn_clse {
    overflow: hidden;
    text-indent: -500px;
    position: absolute;
    top: 16px;
    right: 20px;
    width: 13px;
    height: 13px;
    background-image: url(https://ssl.pstatic.net/static/pwe/ndrive/new_ndrive/layer_sp_cls2.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    z-index: 50;
    cursor: pointer;
}

.blind {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px;
    font-size: 0;
}

/***********************모달창(2)************************/
.next_modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
}

.ly1.ly_w1 {
    width: 310px;
}

.ly1 .ly_info {
    padding-top: 92px;
    background: url(https://ssl.pstatic.net/static/pwe/ndrive/new_ndrive/ly_info.png) 50% 40px no-repeat;
}

.ly1 .ly {
    padding: 70px 20px 25px;
    line-height: 18px;
    text-align: center;
}

.ly {
    position: relative;
}

.ly1 .ly .ly_content {
    padding: 0 0 20px 0;
}

.ly1 .ly .ly_content p {
    font-size: 13px;
    font-weight: bold;
    color: #333;
    line-height: 21px;
    letter-spacing: -1px;
    word-break: break-all;
    word-wrap: break-word;
}

.ly1 .ly .ly_content .mes {
    padding: 9px 0 0 0;
    color: #666;
    font-size: 13px;
}

.ly .ly_act {
    clear: both;
    margin-top: 24px;
    padding-bottom: 0;
    text-align: center;
}

.ly .ly_act button {
    overflow: visible;
    height: 29px;
    margin: 0 1px 0 0;
    padding: 0 10px 0 10px;
    vertical-align: middle;
}

.ly_act button {
    display: inline-block;
    height: 24px;
    line-height: 20px;
    overflow: hidden;
    padding: 0 3px 0 4px;
    vertical-align: middle;
}

.ly button, .ly_content button, .share_mem button, .shr_btn_n button, .txt_area .bt {
    display: inline-block;
    zoom: 1;
    overflow: visible;
    height: 23px;
    margin: 0 1px;
    padding: 1px 3px 0 4px;
    border: 1px solid #c3c3c3;
    background-color: #fff;
    color: #333;
    line-height: 100%;
    letter-spacing: 0;
    vertical-align: top;
    white-space: nowrap;
    cursor: pointer;
}

.ly .ly_close {
    position: absolute;
    top: 15px;
    right: 14px;
    width: 13px;
    height: 13px;
    background: url(https://ssl.pstatic.net/static/pwe/ndrive/new_ndrive/layer_sp_cls2.png) no-repeat 0 0;
    overflow: hidden;
    line-height: 999px;
    cursor: pointer;
}

