body, p, ul {
	margin : 0;
}

fieldset, img {
	border: 0;
	vertical-align: top;
	padding: 0;
	margin: 0;
}

menu, ol, ul {
	list-style: none;
}

address, caption, hr {
	display: none;
}

select {
	color: #333;
}

.wrap_pop {
	border-width: 1px;
	border-style: solid;
	border-color: #d9d9d9 #bfbfbf #b6b6b6 #d5d5d5;
	box-shadow: 1px 1px 1px rgb(0 0 0 / 10%);
	text-align: center;
}

.wrap_pop_manage .header {
	position: relative;
	height: 36px;
	background-color: #3182d8;
}

.wrap_pop .header {
	height: 37px;
	text-align: left;
	border-bottom: 1px solid #ededed;
}

.wrap_pop_manage .header .mana_header_title {
	width: auto;
	color: #fff;
	font-size: 12px;
	letter-spacing: -1px;
	padding: 13px 0 0 5px;
}

.wrap_pop_manage .header h1 {
	float: left;
	width: 56px;
	margin: 1px 5px 0 4px;
	padding-top: 11px;
}

.wrap_pop .header h1 {
	display: inline-block;
	overflow: hidden;
	width: 370px;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding: 14px 0 0 20px;
	font-size: 14px;
	color: #333;
	line-height: 16px;
	vertical-align: top;
}

.wrap_pop_manage .manage {
	padding: 0;
	text-align: left;
	overflow-y: auto;
	overflow-x: hidden;
}

.wrap_pop_manage .content {
	padding: 0!important;
}

.wrap_pop_manage ul.tabmenu {
	left: 0;
	top: 39px;
	bottom: 0;
	margin: 0;
	width: 130px;
	min-height: 594px;
	border-right: 1px solid #e6e6e6;
	background: #fbfbfb;
	overflow: hidden;
	padding: 0;
	display: inline-block;
}

.wrap_pop_manage ul.tabmenu li {
	background: 0 0;
}

.wrap_pop_manage ul.tabmenu li {
	display: block;
	float: none;
	margin-right: 0;
	border-bottom: 1px solid #ebebeb;
	background: #fbfbfb;
	letter-spacing: -1px;
	text-align: left;
	zoom: 1;
}

.wrap_pop_manage ul.tabmenu a li, .wrap_pop_manage ul.tabmenu a.m1 li, .wrap_pop_manage ul.tabmenu a.m2 li {
	width: auto;
	padding-left: 24px;
	width: 110px;
}

.m1, .m2 {
	cursor: pointer;
}

.wrap_pop_manage ul.tabmenu a li {
	display: block;
	position: relative;
	height: 31px;
	padding: 0 0 0 24px;
	background: 0 0;
	color: #7a7a7a;
	line-height: 32px!important;
	text-decoration: none;
}

.wrap_pop_manage ul.tabmenu a li.on {
	padding: 0 0 0 24px;
	background: 0 0;
	color: #157efb;
	font-weight: 700;
}

.wrap_pop ul.tabmenu a li {
	display: inline;
	float: left;
	margin-right: -1px;
	background: url(https://ssl.pstatic.net/static/pwe/ndrive/deskhome/bg.gif) no-repeat 0 -44px;
	letter-spacing: -1px;
	text-align: left;
	font-size: 13px;
	font-weight: bold;
	width: 130px;
}

.tabmenu .ban {
	border-bottom: 0 none!important;
	padding-top: 14px!important;
	height: auto;
	padding: 0;
	text-align: center!important;
}

/**********************settingMain**********************/
.manage_size .sub {
	position: relative;
	height: 31px;
	padding-left: 1px;
	border-bottom: 1px solid #c9c9c9;
}

.manage_size .sub .on {
	border-color: #c9c9c9;
	border-bottom-color: #fff;
	background-color: #fff;
	z-index: 20;
}

.manage_size .sub a {
	display: inline-block;
	position: relative;
	z-index: 10;
	float: left;
	margin: 0 0 -1px -1px;
	padding: 9px 16px 9px 17px;
	border: 1px solid #e7e7e7;
	border-bottom-color: #c9c9c9;
	background: #fbfbfb;
	font-weight: 700;
	color: #222;
	letter-spacing: -1px;
	line-height: 12px;
	vertical-align: top;
	text-decoration: none;
	font-size: 13px;
}

.mycapacity_cont {
	overflow: hidden;
	padding: 18px 0 7px;
	border-bottom: 1px solid #e9e9ec;
	zoom: 1;
}

.graph_tooltip.above {
	-ms-transform: translate(-50%, -100%);
	transform: translate(-50%, -100%);
}

.graph_tooltip {
	opacity: 0;
	filter: alpha(opacity=0);
	position: absolute;
	transition: all .1s ease;
	pointer-events: none;
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	white-space: nowrap;
	font-family: "나눔고딕", NanumGothic, "돋움", Dotum, AppleGothic, Sans-serif;
	font-size: 13px;
	color: #fff;
}

.graph_tooltip .tooltip {
	display: block;
	position: relative;
	z-index: 10;
	height: 30px;
	padding: 0 10px;
	line-height: 30px;
}

.graph_tooltip:after {
	opacity: 0.7;
	filter: alpha(opacity=70);
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	content: '';
}

.mycapacity_cont .mycapacity_tbl_wrap {
	overflow: hidden;
}

.mycapacity_tbl {
	border: 0;
	border-spacing: 0;
}

.mycapacity_tbl caption {
	visibility: hidden;
	overflow: hidden;
	padding: 0;
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
}

.mycapacity_tbl .group {
	width: 136px;
	color: #666;
	font-size: 13px;
}

.mycapacity_tbl .gigabyte {
	width: 78px;
	font-weight: 700;
	text-align: right;
}

.mycapacity_tbl td.fst, .mycapacity_tbl th.fst {
	border-top: 0;
}

.mycapacity_tbl th {
	overflow: hidden;
}

.mycapacity_tbl td, .mycapacity_tbl th {
	height: 22px;
	border: 0;
	border-top: 1px solid #eeeef0;
	color: #333;
}

.mycapacity_tbl .group .thcell {
	padding-left: 9px;
}

.mycapacity_tbl .thcell {
	line-height: 12px;
	vertical-align: top;
	text-align: left;
}

.mycapacity_tbl .group .txt_tit {
	display: inline-block;
	float: left;
	margin-left: 5px;
	padding: 4px 0 3px;
	line-height: 12px;
	vertical-align: top;
}

.mycapacity_tbl .group .rect {
	display: inline-block;
	overflow: hidden;
	float: left;
	width: 8px;
	height: 8px;
	margin: 5px 0 0;
	vertical-align: top;
}

.mycapacity_tbl .gigabyte .tdcell {
	padding-right: 9px;
}

.mycapacity_tbl .tdcell {
	line-height: 17px;
	vertical-align: top;
	font-size: 13px;
}

/* 용량 그래프 하단 */
.myvolumn {
	position: relative;
	zoom: 1;
	padding: 20px 9px 17px;
	border-bottom: 1px solid #e9e9ec;
	font-size: 13px;
}

.myvolumn .volumn {
	color: #333;
}

.myvolumn {
	position: relative;
	zoom: 1;
	padding: 20px 9px 17px;
	border-bottom: 1px solid #e9e9ec;
}

.myvolumn .dsc {
	display: inline-block;
	position: relative;
	width: auto;
	margin-top: 7px;
	color: #888;
}

.myvolumn .dsc a {
	color: #888;
	text-decoration: none;
}

.myvolumn .dsc a {
	color: #888;
	text-decoration: none;
}

.manage_size .basket {
	overflow: hidden;
	clear: both;
	padding: 15px 0 0 9px;
	color: #666;
	letter-spacing: -1px;
	zoom: 1;
	font-size: 13px;
}

.manage_size .basket label {
	vertical-align: middle;
}

.manage_size .basket select {
	margin: 0 3px 0 10px;
	vertical-align: middle;
}

html:first-child select {
	height: 20px;
	padding-right: 6px;
}

.manage_size .basket button {
	height: 20px;
	font-size: 11px;
}

button {
	display: inline-block;
	overflow: visible;
	border-radius: 0;
	height: 23px;
	padding: 1px 4px 0;
	border: 1px solid #c3c3c3;
	background-color: #fff;
	color: #333;
	line-height: 100%;
	letter-spacing: 0;
	vertical-align: bottom;
	white-space: nowrap;
	cursor: pointer;
	-webkit-appearance: none;
	-webkit-text-size-adjust: none;
}

button .tx {
	display: inline-block;
	vertical-align: top;
}

.manage_size .basket_info {
	padding: 14px 0 0;
}

.manage_size .basket_info .lst {
	padding: 12px 0 0 10px;
	border-top: 1px solid #f2f2f4;
}

.manage_size .basket_info .lst li {
	height: auto;
	padding: 1px 0 1px 7px;
	background: url(https://ssl.pstatic.net/static/pwe/ndrive/2011/bu_basket_dot.gif) no-repeat 0 6px;
	font-size: 11px;
	color: #8e949d;
	line-height: 16px;
	vertical-align: top;
}

/* 프레임박스 */
.frameBox {
	width: 655px;
	min-height: 594px;
	border-width: 0;
	position: absolute;
}

iframe {
	margin: 0;
}

/* 개인정보 */
.tbl_model{
	position: relative;
	width: 80%;
	table-layout: fixed;
	border-spacing: 0;
	border-collapse: collapse;
	word-wrap: break-word;
	word-break: keep-all;
	border: 0;
	border-bottom: 1px solid #e5e5e5;
	margin-left: auto;
	margin-right: auto;
}

.tbl_model .thcell{
	padding: 32px 31px 32px;
}

.tbl_model .tdcell{
	padding: 32px 0 32px 30px;
}

.tbl_model tr{
	border-bottom: 1px solid #e5e5e5;
}

.tbl_model th{
	color: #333;
	border-right: 1px solid #e5e5e5;
	background: #f9f9f9;
}

.tbl_model td{
	color:#565656;
}

.tbl_model td,
.tbl_model th{
	line-height: 14px;
	text-align: left;
	vertical-align: top;
	letter-spacing: -1px;
	border: 0;
	border-top: #e5e5e5;
}

.updInfoArea{
	width: fit-content;
	margin: auto;
}

.updBtn{
	margin-top : 1em;
}

input[type=image],input[type=password],input[type=submit],input[type=text]{
	-webkit-border-radius:0;
	-webkit-appearance:none
}

input[type=text]::-ms-clear{
	display:none
}

input[type=password]::-ms-reveal{
	display:none
}

.spc_content [class^=spc_row] input[type=password],.spc_row .txt_userid{
	font-size:14px;
	font-weight:700;
	line-height:16px;
	height:16px;
	margin:5px 9px 0;
	vertical-align:top;
	color:#333;
	border:0
}

.spc_content{
	margin-left: 176px;
	position: relative;
	height: 43px;
}

.spc_content [class^=spc_row]{
	position:relative;
	height:43px;
	border:1px solid #ccc
}

.spc_row,.spc_row+.spc_row2{
	margin-bottom:8px
}

.spc_row3{
	margin-top: -1px;
}

.blind,legend{
	position:absolute;
	clip:rect(0 0 0 0);
	width:1px;
	height:1px;
	margin:-1px;
	overflow:hidden
}

legend{
	display: block;
	padding-inline-start: 2px;
	padding-inline-end: 2px;
	border-width: initial;
	border-style: none;
	border-color: initial;
	border-image: initial;
	font-weight: 1000;
}

fieldset {
	border: 0;
	display: block;
	margin-inline-start: 2px;
	margin-inline-end: 2px;
	padding-block-start: 0.35em;
	padding-block-end: 0.75em;
	padding-inline-end: 0.75em;
	padding-block-end: 0.625em;
	min-inline-size: min-content;
	/*
	border-width: 2px;
	border-style: groove;
	border-color: rgb(192, 192, 192);
	border-image: initial;
	*/
}

.help {
	position: absolute;
	display: none;
	width: 270px;
}

.help .txt{
	line-height: 19px;
	position: relative;
	z-index: 3;
	text-align: left;
	color: #666;
	border: 1px solid #ccc;
	background: #fff;
}

.help .txt .topline{
	line-height:19px;
	margin-top:-5px;
	padding:2px 15px 11px;
	color:#8e8e8e
}

.help .txt .topline>.ex2{
	display:block;
	min-width:236px;
	margin-top:9px;
	padding:10px 0 1px;
	letter-spacing:-1px;
	color:#666;
	border-top:1px solid #ccc
}

.help .txt .ex+.ex2{
	display:block;
	min-width:236px;
	margin:9px 0 4px;
	padding:5px 0 0;
	letter-spacing:-1px;
	color:#666;
	border-top:1px solid #ccc
}

.help .txt p .vr{
	margin:0 2px 0 3px;
	color:#e5e5e5
}

.help .txt p img{
	margin:5px 0 0 1px;
	vertical-align:top
}

.left .arrow {
	position: absolute;
	z-index: 4;
	top: 8px;
	left: -6px;
	display: block;
	overflow: hidden;
	width: 7px;
	height: 12px;
	background: url(https://static.nid.naver.com/images/web/user/bu_help_left_140811.gif) no-repeat;
}

.spc_content label{
	font-weight:700;
	position:absolute;
	top:16px;
	left:9px;
	color:#8e8e8e
}

.spc_content fieldset>div.captcha_member{
	padding:30px 0 0;
	border:none
}

.captcha_member .sp{
	background:url(https://static.nid.naver.com/images/web/user/sp_ico_captcha.gif) no-repeat
}

.captcha_member .captcha_txt{
	font-size:12px;
	line-height:16px;
	padding:1px 0 12px;
	color:#666
}

.captcha_member .spc_row input[type=text]{
	font-size:14px;
	font-weight:700;
	line-height:16px;
	height:16px;
	margin:0px 9px 0;
	vertical-align:top;
	color:#333;
	border:0
}

.captcha_member .sp{
	background:url(https://static.nid.naver.com/images/web/user/sp_ico_captcha2.gif) no-repeat;
	background-size:56px auto
}

.captcha_box{
	position:relative;
	display:block;
	width:354px;
	margin-bottom:8px;
	border:1px solid #d9d9d9;
	background:#fff
}

.captcha_box>a{
	font-size:12px;
	position:absolute;
	top:0;
	right:0;
	display:block;
	width:119px;
	height:43px;
	text-decoration:none;
	color:#8e8e8e
}

.captcha_box>a.btn_img,.captcha_box>a.btn_sound{
	top:43px;
	border-top:1px solid #f0f0f0
}

.captcha_box>a span{
	line-height:20px;
	display:block;
	height:20px;
	margin:13px 0 0 12px;
	padding-left:22px
}

.captcha_box>a.btn_refresh span{
	background-position:-36px 0
}

.captcha_box>a.btn_sound span{
	margin-top:12px;
	background-position:-36px -26px
}

.captcha_box>a.btn_img span{
	margin-top:12px;
	background-position:-36px -50px
}

.captcha_box>a.btn_refresh span{
	background-position:-36px 0
}

.captcha_box>a.btn_sound span{
	background-position:-36px -26px
}

.captcha_box>a.btn_img span{
	background-position:-36px -50px
}

.captcha_img .speaker{
	display:block;
	width:27px;
	height:36px;
	margin:0 auto;
	padding:10px 0 9px;
	background-position:-1px 9px
}

.captcha_img{
	display:block;
	height:87px;
	margin-right:119px;
	text-align:center;
	border-right:1px solid #d9d9d9
}

.captcha_img a{
	text-decoration:none;
	color:#8e8e8e
}

.captcha_img .audio_txt{
	color:#8e8e8e
}

.capcha_sound .captcha_img{
	margin:-1px 119px -1px -1px;
	border:solid 1px #1fbb02
}

.captcha_img .speaker{
	background-position:-1px 9px
}

.int_box{
	display:block
}
