@charset "utf-8";

body, ul, h1{
    margin:0;
    padding:0;
}

body{
    height:100%;
    overflow: hidden;
}

/* 전체화면 */
.whole_body {
    height:100%;
}

/* 상단바 */
#header h1 > a{
    /*position: absolute;*/
    left: 0;
    top: 0;
    width: 156px;
    padding-left: 20px;
    z-index: 30;
    overflow: hidden;
    margin:0;
    text-decoration: none;
    color: white;
}

.header-box {
    background-color: #4078ff;
    max-width: 100%;
    color:white;
    height:55px;
    /*position:relative;*/
    position: sticky;
}

.top_title {
    /*font-style:;*/
    margin:0;
    padding: 6px;
}


/************ 메인 ************/
.main-part{
    height:100%;
    background-color:#fff;
    /*padding: 8px;*/
}

/* 메인화면 */
.main-box{
    width:auto;
    height:100%;
    display: flow-root;
    padding-top: 8px;
}

/* 그리드 영역 */
.grid_Area {
    width : 83%;
    float:left;
}

.sideInfo-box{
    width:16%;
    height:100%;
    float:right;
    padding : 400px 5px;

    border : rgb(161, 161, 161);
    border-style: solid;
    border-width: 0px 0px 0px 1px;

    text-align: center;
    color: rgb(161, 161, 161);
}

.sideInfoClick{
    display : none;
}


/* 정렬기준 */
.formBox {
    width: 100px;
    height: 32px;
    /*display: inline-block;*/
    float: right;
    margin-top : 5px;
    margin-right:10px;
}

.listSbBox {
    width: 100%;
    height: 100%;
    font-weight: 700;
    border-radius: 4px;
    border: 1px solid;
    box-sizing: border-box;
    letter-spacing: -0.3px;
    transition: 0.2s;
    text-align: center;
}

.btnStyle {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    height: 32px;
    padding: 0 10px;
    margin-left: 8px;
    border: 0;
    border-radius: 4px;
    background-color: #f1f3f9;
    font-weight: 700;
    vertical-align: top;
    line-height: normal;
    color: #000;
}

.btn_UploadStyle {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    height: 32px;
    padding: 0 10px;
    margin-left: 8px;
    border: 0;
    border-radius: 4px;
    background-color: #4078ff;
    font-weight: 700;
    vertical-align: top;
    line-height: normal;
    color: #fff;
}

.btn_UploadStyle::before{
    background-image: linear-gradient(transparent, transparent), url(https://ssl.pstatic.net/static/pwe/cloud/img/sprite/sp_cloudsvg_ef3264f5.svg);
    background-size: 1057px 1023px;
    background-position: -778px -742px;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
    content: '';
}

.btn_DownloadStyle{
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    height: 32px;
    padding: 0 10px;
    margin-left: 8px;
    border: 0;
    border-radius: 4px;
    background-color: #f1f3f9;
    font-weight: 700;
    vertical-align: top;
    line-height: normal;
    color: #000;
}

.btn_DownloadStyle::after{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.04);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    border-radius: 4px;
    content: '';
}

.task_text {
    margin-left : 15px;
    font-size: 13px;
    line-height: 14px;
    color: #000;
}

.task_text.select {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    font-weight: 700;
    color: #9398a0;
}

/* #checkArea {
    position: absolute;
} */

.button-wrap form,
.button-wrap a{
    display : inline;
}

/*************** 아이콘 ***************/
.ico_down{
    font-size:11px;
    color:gray;
}

/* 프레임박스 */
.frameBox {
    width :85%;
    height : 85%;
}

.fileBtnArea{
    padding-top:16px;
}

.fileBtnArea button{
    margin-top : -5px;
}

.Alluncheck{
    transform: scale(1.5);
}

#checkArea{
    display:none;
}

#fileUpload{
    display:none;
}