<div id="footer">
    <ul class="guides fl">
        <li class="first">
            <a href="#" target="_blank">전자금융거래 이용약관</a>
        </li>
        <li>
            <a href="#" target="_blank"><strong>개인정보처리방침</strong></a>
        </li>
        <li>
            <a href="#" target="_blank" >책임의 한계와 법적고지</a>
        </li>
    </ul>
    <address class="copyright">
        Copyright <em>©</em>
        <a href="#" target="_blank">
            <strong>MYDRIVE</strong>
        </a>
        All Rights Reserved.
    </address>
    <ul class="guides fr copyright">
        <li>
            <a href="#" target="_blank" title="새창"> 회원정보 고객센터 </a>
        </li>
    </ul>
</div>