<!DOCTYPE html>
<html lang="ko">
    <head>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<link href="../css/findPw.css?after" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" crossorigin="anonymous" />
		<meta charset="utf-8" />
		<title>MYDRIVE : 비밀번호 찾기</title>
	</head>
	<script>
		$('document').ready(function(){
			choiceIdList();
        })

		// 넘어온 휴대폰 번호에 해당하는 id 추출하기
		function choiceIdList(){
			var phoneNo = document.getElementById('phoneNo').value;

			var dataInfo = {};
			dataInfo.phoneNo = phoneNo;

			$.ajax({
				contentType : 'application/json; charset=utf-8', 
				type : 'post', 
				dataType : 'json', 
				async : false,
				url  : '/choiceIdList',
				data : JSON.stringify(dataInfo),
				success : function(data) {
					for( var i=0; i<data.length; i++){
						var emplyrSn = data[i][0];	//일련번호(emplyrSn)
						var emplyrId = data[i][1];	//아이디(emplyrId)
						var frstRgstDt = data[i][2];//최초가입일자

						var list_id = $("#list_id"); //list_id 선언

						list_id.append(
							"<li>"
								+"<strong>"
								+"	<input type='radio' name='select' id='select"+i+"'>"
								+"	<label for='select"+i+"' class='label_rd'>"+emplyrId+"</label>"
								+"</strong>"
								+"<span>가입 :"+frstRgstDt+"</span>"
								+"<input type='hidden' name='emplyrSn' id='emplyrSn"+i+"' value='"+emplyrSn+"'>"
								+"<input type='hidden' name='emplyrId' id='emplyrId"+i+"' value='"+emplyrId+"'>"
							+"</li>"
						); //ul_list안쪽에 li추가
					}
				}
			});
		}

		// 비밀번호 찾기 클릭 시 reSetting로 바로 넘어가기
		function findPw(){
			var length = document.getElementsByName("select").length;
			var cnt = 0;
			var index = 0;

			for(var i=0; i<length; i++){
				if (document.getElementsByName("select")[i].checked == true) {
					cnt++;
					index = i;
				}
			}

			if(cnt == 0){
				alert("아이디를 선택해주세요.");
				return;
			} else {
				document.getElementById('index').value = index;
			}

			fm1.submit();		
		}
	</script>

	<body>
        <div id="wrap" class="wrap_leave">
			<% include ./findHeader %>
			<div id="container" style="height: 853px;">
				<div id="content" class="non_sign inquiry ">
					<div class="content_header">
						<h2><img src="https://static.nid.naver.com/images/user/images/user/h_find_id.gif" width="67" height="16" alt="아이디 찾기"></h2>
					</div>
					<p class="content_summary">고객님의 정보와 일치하는 아이디 목록입니다.</p>
					<form name="fm1" action="/directSetPw" method="POST">
					<!--<input type="hidden" name="nv_id" value="">
					<input type="hidden" name="token_help" value="aOgSbD7kHTqWOOW1">
					<input type="hidden" id="authType" name="authType" value="RM">-->
					<input type="hidden" id="phoneNo" name="phoneNo" value=<%= phoneNo%>>
					<input type="hidden" id="index" name="index" value="">
					<div class="section section_find">
						<div class="box6" style="text-align:center">
							<ul id="list_id" class="list_id">
							</ul>
						</div>

						<!-- 버튼 영역 -->
						<div class="btn_area">
							<a href="/login" class="btn_login2">로그인하기</a>
							<a href="#" class="btn_login2 btn_findpw" onclick="findPw()">비밀번호 찾기</a>
						</div>
						<!-- 버튼 영역 -->

						<div id="div_joinGuide_close" class="find_dsc">
							<h3>가입한 아이디가 보이지 않나요? <a href="#">상세내용 펼치기<em class="ico_arr"></em></a></h3>
							<div class="find_dsc_sub">
								<p>다른 방법으로 아이디 찾기를 해 보세요.<br>아이핀, 본인 명의 휴대전화를 이용하면 본인 명의로 가입된 아이디를 찾을 수 있고,<br>회원정보에 등록된 정보로 아이디 찾기를 하면, 명의와는 관계 없이 등록한 정보가 일치하는 아이디를 찾을 수 있습니다.</p>
								<p>다른 방법으로도 아이디를 찾지 못했다면 아이디가 원래 없었을 수 있습니다. <a href="/join" >아이디를 새로 만드세요.</a></p>
							</div>
						</div>
						<div id="div_joinGuide_open" class="find_dsc open" style="display:none">
							<h3>가입한 아이디가 보이지 않나요? <a href="#">상세내용 접기<em class="ico_arr"></em></a></h3>
							<div class="find_dsc_sub">
								<p>다른 방법으로 아이디 찾기를 해 보세요.<br>아이핀, 본인 명의 휴대전화를 이용하면 본인 명의로 가입된 아이디를 찾을 수 있고,<br>회원정보에 등록된 정보로 아이디 찾기를 하면, 명의와는 관계 없이 등록한 정보가 일치하는 아이디를 찾을 수 있습니다.</p>
								<p>다른 방법으로도 아이디를 찾지 못했다면 아이디가 원래 없었을 수 있습니다. <a href="/join" >아이디를 새로 만드세요.</a></p>
							</div>
						</div>

						<div id="div_leaveGuide_close" class="find_dsc">
							<h3>직접 가입하지 않은 아이디를 탈퇴(삭제)하고 싶으신가요? <a href="javascript:showDetail('2','div_leaveGuide_close');" onclick="clickcr(this,'uid.notmine','','',event);">상세내용 펼치기<em class="ico_arr"></em></a></h3>
						</div>
						<div id="div_leaveGuide_open" class="find_dsc open" style="display:none">
							<h3>직접 가입하지 않은 아이디를 탈퇴(삭제)하고 싶으신가요? <a href="javascript:showDetail('2','div_leaveGuide_open');" onclick="clickcr(this,'uhl.nomyfold','','',event);">상세내용 접기<em class="ico_arr"></em></a></h3>
							<div class="find_dsc_sub">
							<!--휴대전화나 이메일로 인증시 문구-->
								<p>
									신고를 하고 싶으시다면 도움말을 참고해 주세요. <a target="_blank" href="https://help.naver.com/alias/membership/p.membership/p.membership_49.naver" onclick="clickcr(this,'uhl.nomyhelp','','',event);">도움말</a>
								</p>
							</div>
						</div>
						<!-- 상세내용 영역 -->
					</div>
					</form>
				</div>
				<hr>
			</div>
			<% include ./findFooter %>
		</div>		
    </body>
</html>