<!DOCTYPE html>
<html lang="ko">
    <head>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<link href="../css/findPw.css?after" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" crossorigin="anonymous" />
		<meta charset="utf-8" />
		<title>MYDRIVE : 아이디 찾기</title>
	</head>
	<script>
		$('document').ready(function(){
			
        })

		// 휴대전화 숫자 이외의 문자는 없애기
		function chkPhoneForm(){
			var phoneNo = document.getElementById("phoneNo").value;
			if (phoneNo == "" || phoneNo == null){
				document.getElementById("phoneAuthNo").value = "";
				document.getElementById("authNoCode").value = "";
			}
			document.getElementById("phoneNo").value = document.getElementById("phoneNo").value.replace(/[^0-9]/g, '');
		}

		//인증번호 받기
		function chkSendMsg(){
			// 휴대전화번호
			var insertNo = document.getElementById("phoneNo");
			if (insertNo.value == "" || insertNo.value == null){
				alert("휴대전화번호를 입력해주세요.");
				insertNo.focus();
				return;
			}
			// 이름
			var phoneNm = document.getElementById("phoneNm");
			if (phoneNm.value == "" || phoneNm.value == null){
				alert("이름을 입력해주세요.");
				return;
			}

			//휴대폰 번호 이용하여 아이디 찾기				
			var dataInfo = {};
			dataInfo.phoneNo = insertNo.value;

			$.ajax({
				contentType : 'application/json; charset=utf-8', 
				type : 'post', 
				dataType : 'json', 
				async : false,
				url  : '/findId',
				data : JSON.stringify(dataInfo),
				success : function(data) {
					if (data == "Y"){	// 문자보내기
						sendMsg();
					} else if (data == "N"){	// 아이디 없음
						alert("일치하는 회원정보가 없습니다.");
					} else { 	// 오류
						alert("처리중 오류가 발생하였습니다.");
					} 
				}
			});
		}

		// 인증문자 보내기
		function sendMsg(){
			var insertNo = document.getElementById("phoneNo").value;
			var dataInfo = {};
			dataInfo.phoneNo	= insertNo;
			dataInfo.type		= 6;
			
			$.ajax({
				contentType : 'application/json; charset=utf-8', type : 'post', dataType : 'json', async : false,
				url  : '/sendMsg',
				data : JSON.stringify(dataInfo),
				success : function(data) {
					var authNoCode = data; //인증번호
					if(data != '' || data != null){
						alert("인증번호를 보냈습니다.");

						// 인증번호 입력창 제어
						var autoNo = document.getElementById('phoneAuthNo');
						autoNo.disabled = false;

						// 찐 인증번호 담기
						$('#authNoCode').val(authNoCode);
					} else {
						alert("인증번호 전송 중 오류가 발생하였습니다.");
					}
				}
			});
		}

		// 다음 버튼 클릭 (인증번호 일치 확인)
		function chkPhoneNo(){
			// 이름
			var phoneNm = document.getElementById("phoneNm");
			// 작성한 인증번호
			var phoneAuthNo = document.getElementById("phoneAuthNo");
			// 찐 인증번호
			var authNoCode = document.getElementById("authNoCode");
			
			if (phoneNm.value == ""){
				alert("이름을 입력해주세요.");
				return;
			}

			if( phoneAuthNo.value == "" || authNoCode.value == "" ){
				alert("인증이 필요합니다.");
				return;
			} else if (phoneAuthNo.value != authNoCode.value) {
				alert("인증번호를 다시 확인해주세요.");
				phoneAuthNo.focus();
				return;
			} else if (phoneAuthNo.value === authNoCode.value){
				//다음화면으로 넘어가기.
				fm.submit();
			}
		}

		// 엔터키 누르면 다음버튼 클릭
        function enterKey(){
            if(event.keyCode == 13){
                chkPhoneNo();
                return;
	        }
        }
	</script>

	<body>
        <div id="wrap" class="wrap_leave">
			<% include ./findHeader %>
			<div id="container">
				<div id="content" class="non_sign inquiry">
					<div class="content_header">
						<h2><img src="https://static.nid.naver.com/images/user/images/user/h_find_id.gif" width="70" height="16" alt="아이디 찾기"></h2>
					</div>
					<p class="content_summary">아이디 찾을 방법을 선택해 주세요.</p>
					
					<form id="fm" name="fm" action="/findIdList" method="post">
					<fieldset>
						<div class="section section_find">
						<!--
							<input type="hidden" name="authYn" id="authYn" value="">
							<input type="hidden" name="mobileYn" id="mobileYn" value="N">
							<input type="hidden" name="type" id="type" value="pwInquiry">
							<input type="hidden" name="captchaCheckYn" id="captchaCheckYn" value="N">
							<input type="hidden" id="captcha_type" name="captcha_type" value="image">
							<input type="hidden" id="token_help" name="token_help" value="hutZbypJePIZzcl4">
							<input type="hidden" id="autoValue" name="autoValue" value="">
							<input type="hidden" id="chptchakey" name="chptchakey" value="5gblNaEEkTyWEZkm">-->
								<div id="radioContent" class="box6">
									<div id="div_regMobile" class="box_inn selected"> <!-- [D] 선택시 selected 클래스 추가 -->
										<input type="radio" id="r_pn1" onclick="" class="input_rd" name="certification" checked>
										<label for="r_pn1" class="label_rd">회원정보에 등록한 휴대전화로 인증
											<span>
												<input type="text" id="selectPhoneNo" name="selectPhoneNo" class="selectPhoneNo" disabled/>
											</span>
										</label>
										<div class="box_inn_sub">
											<p class="dsc">회원정보에 등록한 휴대전화 번호와 입력한 휴대전화 번호가 같아야, 인증번호를 받을 수 있습니다.</p>	
											<dl>
											<dt>
												<label for="nm" class="label_txt">이름</label>
											</dt>
											<dd>
												<input type="text" id="phoneNm" name="phoneNm" maxlength="40" class="input_txt" style="width:217px">
											</dd>
											<dt><label for="mob2" class="label_txt">휴대전화</label></dt>
											<dd>
												<label for="nationNo" class="blind">국가 번호</label>
												<span class="country_code">
													<span class="sel_value" id="input_internationalCode">+82</span>
												</span>									
												
												<span class="int_mob">
													<input type="text" id="phoneNo" name="phoneNo" class="input_txt" style="width:147px" onblur="chkPhoneForm();" maxlength="11" placeholder="휴대전화번호">
												</span>
												<button type="button" id="btnPhoneAuthNo" name="btnPhoneAuthNo" class="btn_ct" onclick="chkSendMsg()">
													인증번호 받기
												</button>
											</dd>
											<dt><label for="t_ct1" class="blind">인증번호 입력</label></dt>
											<dd class="ct">
												<span class="input_box2">
													<!--<span id="span_phoneAuthNo" class="phold">인증번호 6자리 숫자 입력</span>-->
													<input type="text" id="phoneAuthNo" name="phoneAuthNo" maxlength="6" class="input_txt" style="width:217px" disabled="" placeholder="인증번호 6자리 입력" onkeydown="enterKey()">
													<input type="hidden" id="authNoCode" name="authNoCode">
													<input type="hidden" id="realPhoneNo" name="realPhoneNo" value="" />
													<input type="hidden" id="emplyrId" name="emplyrId" value="" />
													<input type="hidden" id="emplyrSn" name="emplyrSn" value="" />
												</span>
												<div>인증번호가 오지 않나요
													<span class="blind">도움말</span>
													<div id="smsHelpTxt" class="help_tooltip2" style="display:none">
														<p>1588 번호가 스팸 문자로 등록되어 있는 것은 아닌지<br>확인해주세요. 스팸 문자로 등록되어 있지 않다면,<br>다시 한 번 '인증번호 받기'를 눌러주세요.</p>
														<span class="edge"></span>
													</div>
												</div>	
											</dd>	
											</dl>
										</div>
									</div>
								</div>
							<div class="btn_area">
								<button type="button" id="btnNext" class="btn_next2" onclick="chkPhoneNo()"></button>
							</div>

							<p class="txt_help btn_pw_help">아이디 찾기 시 문제가 있나요? <a href="#" target="blank">바로가기<em class="ico_arr2"></em></a></p>
						</div>
					</fieldset>						
					</form>
				</div>
			</div>
			<% include ./findFooter %>
		</div>		
    </body>
</html>