<html lang="ko">
<head>
	<meta charset="utf-8">
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://kit.fontawesome.com/ad41bee873.js" crossorigin="anonymous"></script>
	<link href="../css/setting.css?after" rel="stylesheet" type="text/css">
	<link href="../css/grid.css?after" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" crossorigin="anonymous" />
	<script>
		$(document).ready(function(){
			$('#myProfile').addClass('cleanMenuSelected');
			$('.cleanLi').click(function(){
				$('.cleanLi').removeClass('cleanMenuSelected');
				$(this).toggleClass('cleanMenuSelected');
			})

			viewMyProfile();
		})

		//프로필 조회
		function viewMyProfile(){
			$.ajax({
				url : "/selectMyProfile",
				type : "POST",
				dataType : "JSON", //"JSON"
				data : {"sEmplyrSn" : window.parent.$('#emplyrSn').val()}

			})
			.done(function (res) {
				console.log(res);
				$('#emplyrNm').html(res[0][0]);
				$('#emplyrId').html(res[0][1]);
				$('#emailAdres').html(res[0][3]);
			})
			.fail(function (xhr, textStatus, errorThrown) {
				console.log('selectFileDtlData ajax 실패');
			})
		}

		//프로필 수정하기
		function updProfile(){

		}
	</script>
</head>
<body>
	<div class="manage_size" id="pop_content">
		<div class="_managePop_holder">
			<div class="sub tab">
				<a href="#myCapacity" class="toggle _tab on">
					<strong>마이페이지</strong>
				</a>
			</div>
			<div class="_myFolderCapacity_holder"></div>
			<div id="clean_file_menu" class="clean_file_menu">
				<ul class="task_tab_list">
					<li class="cleanLi" id="myProfile"><a id="fileNmDup" href="javascript:void(0);" onclick="">내 프로필</a></li>
					<li class="cleanLi"><a href="javascript:void(0);" onclick="">비밀번호 변경</a></li>
				</ul>
			</div>
			<div id="userInfoArea">
				<table border="0" class="tbl_model">
					<colgroup>
						<col style="width:35%">
						<col>
					</colgroup>
					<tbody>
						<tr>
							<th scope="row">
								<div class="thcell"> 사용자명 </div>
							</th>
							<td>
								<div id="emplyrNm" class="tdcell"></div>
							</td>
						</tr>
						<tr>
							<th scope="row">
								<div class="thcell">아이디</div>
							</th>
							<td>
								<div id="emplyrId" class="tdcell"></div>
							</td>
						</tr>
						<tr>
							<th scope="row">
								<div class="thcell">이메일</div>
							</th>
							<td>
								<div id="emailAdres" class="tdcell"></div>
							</td>
						</tr>
					</tbody>
				</table>
				<div id="updArea" class="updInfoArea">
					<button type="button" class="updBtn" onclick="updProfile()"> 수정하기 </button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>