<html lang="ko">
    <head>
        <meta charset="utf-8">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://kit.fontawesome.com/ad41bee873.js" crossorigin="anonymous"></script>
        <link href="../css/setting.css?after" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" crossorigin="anonymous" />
        <script>
            
        </script>
    </head>
    <body>
        <div class="manage_size" id="pop_content">
            <div class="_managePop_holder">
                <div class="sub tab">
                    <a href="#myCapacity" class="toggle _tab on">
                        <strong>마이페이지</strong>
                    </a>
                </div>
                <div class="_myFolderCapacity_holder"></div>
                <div class="mycapacity_cont tab_cont _tab_cont" style="padding:15px 0">
                    
                </div>
            </div>
        </div>
    </body>
</html>